<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<div class="page-header">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">거래처</li>
			<li class="breadcrumb-item active">거래처 등록</li>
		</ol>
	
		<ul class="app-actions">
			<li>
				<a href="#" id="reportrange">
					<span class="range-text"></span>
					<i class="icon-chevron-down"></i>	
				</a>
			</li>
			<li>
				<a href="#">
					<i class="icon-export"></i>
				</a>
			</li>
		</ul>
	</div>
	
</th:block>

<th:block layout:fragment="container">
	<div class="main-container">
		<div class="row justify-content-center gutters">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
					<div class="card m-0">
						<div class="card-header">
								<div class="card-title">사업자 인증하기</div>
							<ul class="text-muted custom">
								<li>* 계약을 진행하기 위해서는 사업자 권한을 승인 받아야됩니다.</li>
								<li>* 사업자 등록증을 보유한 판매자만 사업자인증을 진행할 수 있습니다.</li>
								<li>* test 사업자 번호 : 4022180224 <- 교육원 사업자 번호</li>
							</ul>
						</div>
						<div class="card-body">
							<div class="row gutters">
								<h4> 사업자번호등록</h4>
								<div class="form-group">
									<input type="number" id="businessNum" name='businessNum'/>
								</div>
								<button class="btn btn-primary btn-sm" type="button" id="businessNumbtn" style="margin-bottom: 16px;">확인</button>	
							</div>
						</div>
					</div>
			</div>
		</div>
		<br/>
		<div class="row justify-content-center gutters">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-12">
				<form id="shoppingmallFrom" th:action="@{/shoppingmallAdd}" method="post">
					<div class="card m-0">
						<div class="card-header">
							<div class="card-body">
								<!-- Row start -->
								<div class="row gutters">
									<div class="col-xl-10 col-lg-10 col-md-9 col-sm-10">
											<div class="card m-0">
												<div class="card-header">
														<div class="card-title">
															<font style="vertical-align: inherit;">
																<font style="vertical-align: inherit;">정보입력</font>
															</font>
														</div>
													<div class="card-sub-title">
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">* 아래 빈칸에 정보를 입력하세요.</font><br/>
															<font style="vertical-align: inherit;">* 빈칸없이 모두 입력해야됩니다.</font>
														</font>
													</div>
												</div>
												<div class="card-body">
													<div class="form-group row gutters" >
														<label for="shoppingmallId" class="col-sm-3 col-form-label text-right">
															<font style="vertical-align: inherit;">
																<font style="vertical-align: inherit;">아이디</font>
															</font>
														</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="shoppingmallId"  name="shoppingmallId" th:value="${shoppingmall.shoppingmallId}" readonly="readonly">
														</div>
													</div>
													
													<div class="form-group row gutters">
														<label for="shNum" class="col-sm-3 col-form-label text-right">
															<font style="vertical-align: inherit;">
																<font style="vertical-align: inherit;">사업자등록번호</font>
															</font>
														</label>
														<div class="col-sm-6">
															<!-- <input type="text" class="form-control" id="shoppingmallNumber" name="shoppingmallNumber" placeholder="사업자 등록번호" required="required"> -->
															<input type="text" class="form-control input-sm" name="shoppingmallNumber" id="shoppingmallNumber" placeholder="사업자 등록번호를 입력해주세요 ex)000-00-00000" required="required">
														</div>
													</div>

													
													<div class="form-group row gutters">
														<label for="shName" class="col-sm-3 col-form-label text-right">
															<font style="vertical-align: inherit;">
																<font style="vertical-align: inherit;">사업장명</font>
															</font>
														</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="shoppingmallName" name="shoppingmallName" placeholder="사업장 이름" required="required">
														</div>
													</div>
													
													<div class="form-group row gutters">
														<label for="inputSubject" class="col-sm-3 col-form-label text-right">
															<font style="vertical-align: inherit;">
																<font style="vertical-align: inherit;">주거래은행</font>
															</font>
														</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="shoppingmallBank" name="shoppingmallBank" placeholder="주거래은행" required="required">
														</div>
													</div>
													
													<div class="form-group row gutters">
														<label for="inputSubject" class="col-sm-3 col-form-label text-right">
															<font style="vertical-align: inherit;">
																<font style="vertical-align: inherit;">계좌번호</font>
															</font>
														</label>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="shoppingmallBankNum" name="shoppingmallBankNum" placeholder="계좌번호" required="required">
														</div>
													</div>
													
													<input type="hidden" class="form-control" id="memberPw" name="shoppingmallPw" th:value="${shoppingmall.shoppingmallPw}">
													<input type="hidden" class="form-control" id="memberPw" name="shoppingmallUserName" th:value="${shoppingmall.shoppingmallUserName}">
													<input type="hidden" class="form-control" id="memberAddr" name="shoppingmallAddr" th:value="${shoppingmall.shoppingmallAddr}">
													<input type="hidden" class="form-control" id="memberEmail" name="shoppingmallEmail" th:value="${shoppingmall.shoppingmallEmail}">
													<input type="hidden" class="form-control" id="memberPhon" name="shoppingmallPhone"  th:value="${shoppingmall.shoppingmallPhone}">
													<input type="hidden" class="form-control" id="memberStatus" name="shoppingmallStatus" th:value="${shoppingmall.shoppingmallStatus}">
													
													
													<button th:if="${shoppingmall.shoppingmallLevel == '6' && shoppingmallshoppingmallStatus != '승인'}" type="submit" onclick="alert('쇼핑묠 회원가입 요청을 완료했습니다. \n요청 승인을 기다려주세요.')" id="shoppingmallAddBtn" name="submit" class="btn btn-primary float-right" >
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">거래처 등록 버튼</font>
														</font>
													</button>
													<button th:if="${shoppingmall.shoppingmallLevel != '6'}" type="button" onclick="alert('거래처 등록이 불가능 합니다. \n등록은 일반직원 권한만 가능합니다.');" id="shoppingmallNotAddBtn"  class="btn btn-primary float-right" >
														<font style="vertical-align: inherit;">
															<font style="vertical-align: inherit;">거래처 등록 버튼</font>
														</font>
													</button>
												</div>
											</div>
									</div>
								</div>			
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</th:block>


<th:block layout:fragment="customJs">
	
	<!-- 사업자번호 유효성 검사 -->
	<script>
		$(function(){
			var str = $(".shoppingmallNumber");
				function shoppingmallNumber(str){
			          str = str.replace(/[^0-9]/g, '');
			          var tmp = '';
			          if(str.length < 4){
			              return str;
			          }else if(str.length < 7){
			              tmp += str.substr(0, 3);
			              tmp += '-';
			              tmp += str.substr(3);
			              return tmp;
			          }else{             
			              tmp += str.substr(0, 3);
			              tmp += '-';
			              tmp += str.substr(1, 2);
			              tmp += '-';
			              tmp += str.substr(5);
			              return tmp;
			          }
			          return str;
			      };
		});
		 
		/* var shoppingmallNumber = document.getElementById("shoppingmallNumber");
		shoppingmallNumber.onkeyup = function(event){
		       event = event || window.event;
		       var _val = this.value.trim();
		       this.value = licenseNum(_val) ;
		}; */
		
        $(function(){
           
            $('#businessNumbtn').click(function(){
            	var formData = {"b_no":[$('#businessNum').val()]};
            	console.log(formData);
                $.ajax({
                    url:'https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=WsCSntZG98blHm9vBFK3aSz14B5O1yIByEmdx254C95iUIa25YYN52ZVNrb9QIwRop%2Buk0jt2ZktNh8g0F0%2FUQ%3D%3D', 
                    async:true,// false 일 경우 동기 요청으로 변경
                    type:'POST', // GET, PUT
                    dataType : "json",
                    contentType: 'application/json; charset=UTF-8',
                    data: JSON.stringify(formData),// 전송할 데이터
                    success:function(result) {
                        var data = result.data;
                        console.table(result.data);
                        console.log(JSON.stringify(data[0].tax_type))
                        
                        if(JSON.stringify(data[0].tax_type) == '"국세청에 등록되지 않은 사업자등록번호입니다."'){
                            alert(data[0].tax_type);
                        }else{
                        	 alert(data[0].tax_type+ "로 인증이 완료되었습니다. \n아래의 추가 정보를 입력 후 버튼을 눌러주세요.");
                        }
                    },// 요청 완료 시
                    error:function(jqXHR) {

                    }// 요청 실패.
                });

            });
            
        });

    
		
	</script>


</th:block>		
</html>