<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">warehousing</li>
		<li class="breadcrumb-item active">receivingRequest</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<div class="main-container">

					<!-- Row start -->
					<div class="row gutters justify-content-center">
						<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
							<form>
								<div class="card m-0">
									<div class="card-header">
										<div class="card-title">입고요청</div>
									</div>
									<div class="card-body">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="사업장명">
										</div>
										<div class="form-group">
											<input type="email" class="form-control" id="email" name="email" placeholder="쇼핑몰 사업자 아이디">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="mobile" name="mobile" placeholder="물류센터명">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="subject" name="subject" placeholder="물류센터 섹터위치">
										</div>
											<div class="input-group flex-nowrap" style="margin-bottom: 12px">
						                         <select class="form-control form-control-lg">
													<option>식품</option>
													<option>의류</option>
													<option>신발</option>
												</select>
			                       			 </div>	
										<div class="form-group">
											<input type="text" class="form-control" id="subject" name="subject" placeholder="상품LOT번호">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="subject" name="subject" placeholder="상품 바코드">
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="subject" name="subject" placeholder="입고 예정일">
										</div>
										<button type="submit" id="submit" name="submit" class="btn btn-primary float-right">입고 요청</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- Row end -->

				</div>
				<!-- Main container end -->

	
</th:block>
		
</html>