<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">warehousing</li>
		<li class="breadcrumb-item active">receivingOrder</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>
<th:block layout:fragment="container">
<style>
	.hidden-col{display: none;}
	
</style>
	<div class="main-container">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="table-container">
					<div class="t-header">입고요청조회</div>
					<div class="t-header" id="Period">창고별 회원조회</div>
					
					<select id="wareHouseNameCheck">
						
					</select>
					
					<h6>요청대기 데이터 보관기간은 1년입니다.</h6>
					<div class="table-responsive">
						<table id="copy-print-csv" class="table custom-table">
							<thead>
								<tr>
									<th>
										<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
									</th>
									<th>사업자명</th>
									<th>입고 창고</th>
									<th>입고 상품명</th>
									<th>입고 수량</th>
									<th>입고예정일</th>
									<th class="hidden-col">입고요청코드</th>
									<th class="hidden-col">상품코드</th>
									<th class="hidden-col">창고코드</th>
									<th class="hidden-col">쇼핑몰사업자아이디</th>
									<th class="hidden-col">담당자 아이디</th>
									<th class="hidden-col">입고 상태</th>
									<th class="hidden-col">바코드</th>
						 			<th>상세정보</th>
									<th>수정</th>
								</tr>
								
							</thead>
							<tbody>
								<tr th:if="${#lists.size(requestList)>0}" th:each="l : ${requestList}">
									<td>
										<input type="checkbox" id="requsetCode" class="checkOne" style="position: relative; top: 1.5px;" th:value="${l.requsetCode}">
									</td>
									<td th:text="${l.shopName}" id = "shopName">사업자명</td>
									<td th:text="${l.wareHouse.warehouseName}" id = "warehouseName">입고 창고</td>
									<td th:text="${l.productName}" id ="productName">입고 상품명</td>
									<td th:text="${l.warehouseRequestAmount}" id="poductAmount">입고 수량</td>
									<td th:text="${l.requestRegDate}" id="productRegDate">입고 예정일</td>
									<td class="hidden-col" th:text="${l.requsetCode}" id="warehouseCode">입고요청코드</td>
									<td class="hidden-col" th:text="${l.productCode}" id ="productCode">상품코드</td>
									<td class="hidden-col" th:text="${l.warehouseCode}" id="warehouseCode">창고코드</td>
									<td class="hidden-col" th:text="${l.shoppingUserId}" id="shopId">쇼핑몰 사업자 아이디</td>
									<td class="hidden-col" th:text="${l.wareAdminId}" id="wareAdminId">담당자 아이디</td>
									<td class="hidden-col" th:text="${l.requestStatus}" id="requestStatus">입고 상태</td>
									<td class="hidden-col" id="barcodeImg">
										<label th:if="${l.barcodeImg == null}" th:text="${'QR코드가 없습니다'}"></label>
										<img th:unless="${l.barcodeImg == null}" th:src="${l.barcodeImg}" style="display: block;">	
									</td>
									<td>
										<button class="btn btn-outline-info detailModalBtn" data-toggle="modal" data-target=".bd-example-modal-lg">상세정보</button>
									</td>
									<td>
										<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>
									</td>
								</tr>
							</tbody>
			    		</table>
				    		<button type="button" id="cancleBtn" class="btn btn-primary float-right" style="margin-right: 10px;">입고취소</button>
				    		<button type="button" id="receivingBtn" class="btn btn-primary float-right" style="margin-right: 10px;">입고</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!--상세정보 모달  -->
	<div class="modal fade bd-example-modal-lg" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">상세정보</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">X</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="warehousingRequestCodeModal">입고요청코드</label>
						<input type="text" class="form-control" id="warehousingRequestCodeModal" name="warehousingRequestCode" readonly="readonly">
					</div>
					<div class="form-group">
						<label for="productCodeModal">상품코드</label>
						<input type="text" class="form-control" id="productCodeModal" name="productCode" >
					</div>
					<div class="form-group">
						<label for="productNameModal">상품명</label>
						<input type="text" class="form-control" id="productNameModal" name="productName">
					</div>
					<div class="form-group">
						<label for="warehouseCodeModal">창고코드</label>
						<input type="text" class="form-control" id="warehouseCodeModal" name="warehouseCode">
					</div>
					<div class="form-group">
						<label for="warehouseNameModal">창고명</label>
						<input type="text" class="form-control" id="warehouseNameModal" name="warehouseName">
					</div>
					<div class="form-group">
						<label for="shoppingmallIdModal">쇼핑몰사업자아이디</label>
						<input type="text" class="form-control" id="shoppingmallIdModal" name="shoppingmallId">
					</div>
					<div class="form-group">
						<label for="shoppingmallNameModal">쇼핑몰명</label>
						<input type="text" class="form-control" id="shoppingmallNameModal" name="shoppingmallName">
					</div>
					<div class="image-container">
					    <img style="width: 500px; height: 500px;" id="barcodeImageModal">
					</div>
					<div class="form-group">
						<label for="warehousingOrderDueDateModal">입고예정일</label>
						<input type="text" class="form-control" id="warehousingOrderDueDateModal" name="warehousingOrderDueDate">
					</div>
					<div class="form-group">
						<label for="warehousingOrderAmountModal">입고수량</label>
						<input type="text" class="form-control" id="warehousingOrderAmountModal" name="warehousingOrderAmount">
					</div>
					<div class="form-group">
						<label for="warehousingOrderStatusModal">입고상태</label>
						<input type="text" class="form-control" id="warehousingOrderStatusModal" name="warehousingOrderStatus" readonly="readonly"> 
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal" >닫기</button>
				</div>
			</div>
		</div>
	</div>

	
	
</th:block>
<th:block layout:fragment="customJs">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script type="text/javascript" th:inline="javascript">
		/*********** 입고지시서 상세정보 ***********/
		$('.detailModalBtn').each(function(){
			$(this).click(function(){
				var shopName = $(this).parents('tr').children('#shopName').text();
				var warehouseName = $(this).parents('tr').children('#warehouseName').text();
				var productName = $(this).parents('tr').children('#productName').text();
				var poductAmount = $(this).parents('tr').children('#poductAmount').text();
				var warehouseCode = $(this).parents('tr').children('#warehouseCode').text();
				var productCode = $(this).parents('tr').children('#productCode').text();
				var wareAdminId = $(this).parents('tr').children('#wareAdminId').text();
				var requestStatus = $(this).parents('tr').children('#requestStatus').text();
				var shopId = $(this).parents('tr').children('#shopId').text();
				var productRegDate = $(this).parents('tr').children('#productRegDate').text();
				var barcodeImg = $(this).parents('tr').find('img').attr('src');
			
				
				
				
				$('#warehousingRequestCodeModal').val(warehouseCode);
				$('#productCodeModal').val(productCode);
				$('#productNameModal').val(productName);
				$('#warehouseCodeModal').val(warehouseCode);
				$('#warehouseNameModal').val(warehouseName);
				$('#shoppingmallIdModal').val(shopId);
				$('#shoppingmallNameModal').val(shopName);
				$('#warehousingOrderDueDateModal').val(productRegDate);
				$('#warehousingOrderAmountModal').val(poductAmount);
				$('#warehousingOrderStatusModal').val(requestStatus);
				$('#barcodeImageModal').attr('src', barcodeImg);
			})
		});
		
		/* 항목체크 */
		$(function(){
			$('#checkAll').click(function(){
				if($('#checkAll').prop('checked')){
					$('.checkOne').prop('checked', true);
				}else{
					$('.checkOne').prop('checked', false);
				}
			})
		})
		
		/* 입고취소 */
		$('#cancleBtn').click(function(){
			var cancleDataArr = new Array();
			var list = $('.checkOne');
			for(var i =0; i<list.length;i++){
				if(list[i].checked){
					cancleDataArr.push(list[i].value);
				}
			}if(cancleDataArr.length==0){
				alert('입고 취소할 항목을 선택해주세요');
			}else{
				var chk = confirm('정말 취소하시겠습니까?');
				if(chk){
				var request = $.ajax({
					  url: "/cancleReuqestWareHouse",
					  method: "POST",
					  data: { 'cancleDataArr' : cancleDataArr },
					  dataType: "json"
					});
					 
					request.done(function( cancleData ) {
						console.log(cancleData);
						if(cancleData = null){
							Swal.fire({
								  title: '입고취소 실패!',
								  text: '입고취소 실패!',
								  icon: 'error'
								});
						}else{
							Swal.fire({
								  title: '입고취소성공',
								  text: '입고취소성공',
								  icon: 'success'
								});
							location.replace("receivingRequestWaiting");
						}
					});
					 
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
				}else{
					return false;
				}
			}
		});
		
		/* 입고확정 */
		$('#receivingBtn').click(function(){
			var addOrderWarehousing = new Array();
			var list = $('.checkOne');
			for(var i =0; i<list.length;i++){
				if(list[i].checked){
					addOrderWarehousing.push(list[i].value);
				}
			}if(addOrderWarehousing.length==0){
				alert('입고할 항목을 선택해주세요');
			}else{
				var chk = confirm('지시서로 이동하겠습니까?');
				if(chk){
					var request = $.ajax({
						  url: "/addOrderWarehousing",
						  method: "POST",
						  data: { 'addOrderWarehousing[]' : addOrderWarehousing },
						  dataType: "json"
						});
						 
						request.done(function( confirmData ) {
							Swal.fire({
								  title: '입고성공',
								  text: '입고성공',
								  icon: 'success'
								});
							
						});
						 
						request.fail(function( jqXHR, textStatus ) {
						  alert( "Request failed: " + textStatus );
						});
				}else{
					return false;
				}
				
			}
		});
		
		
		/*********중복제거*************/
		//<![CDATA[
		var requestList = [[${requestList}]];
		//]]>
		
		var wareHouseList = [];
		
		for(var i=0; i<requestList.length; i++){
			wareHouseList.push(requestList[i].wareHouse.warehouseName)
		}
		
		console.log(wareHouseList);
		
		var wareHouseListCheck = [...new Set(wareHouseList)];
		
		var wareHouseList = "";
		
		wareHouseList += "<option disabled='disabled' selected='selected'> :: 창고 선택 :: </option>";
		
		for(var i=0; i<wareHouseListCheck.length; i++){
			wareHouseList += "<option>";
			wareHouseList += wareHouseListCheck[i];
			wareHouseList += "</option>";
		}
		
		$('#wareHouseNameCheck').html(wareHouseList);
		/*********중복제거끝************/
		
		$('#wareHouseNameCheck').change(function(){
			selectWareHouseName = $('#wareHouseNameCheck').val();
			//getWareHouseSelect();
		})
		
		
// 		$(function(){
// 			function getWareHouseSelect(){
// 				var request = $.ajax({
// 					  url: "/wareHouseListDetail",
// 					  method: "post",
// 					  dataType: "JSON"
// 					});
					 
// 					request.done(function( msg ) {
// 						$('#copy-print-csv').datTable({
// 							destory: true,
// 							data: data,
// 							columns: [
// 								{"data": shopName },
// 								{"data": wareHouseName },
// 								{"data": productName },
// 								{"data": productAmount },
// 								{"data": insertDate },
// 								{"data": insertCode },
// 								{"data": productCode },
// 								{"data": wareHouseCode},
// 								{"data": shopId },
// 								{"data": adminId},
// 								{"data": insertStatus},
// 								{"data": QrBarcode },
// 								{"data": 상세보기 },
// 								{"data": 수정 }
// 							],
							
// 							columnDefs:[{
// 								"targets" : [12]
// 								"orderable" : false,
// 								"searchable" : false,
// 								"className" : "center",
// 								"render" : function(data, type ,row) {
// 										var html = '<button class="btn btn-outline-info detailModalBtn" data-toggle="modal" data-target=".bd-example-modal-lg">상세정보</button>';
// 										html += '<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>;
// 										return html;
// 								}
// 							}]
							
// 						})			
// 					});
					 
// 					request.fail(function( jqXHR, textStatus ) {
// 					  alert( "Request failed: " + textStatus );
// 					});
// 				}
			
// 		});
		
		
			
		
		
	</script>
</th:block>	
</html>