<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">차량목록 조회</li>
				<li class="breadcrumb-item active">차량정보 수정</li>
			</ol>
		
			<ul class="app-actions">
				<li>
					<a href="#" id="reportrange">
						<span class="range-text"></span>
						<i class="icon-chevron-down"></i>	
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-export"></i>
					</a>
				</li>
			</ul>
		</div>
	</th:block>
	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters justify-content-center">
				<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
					<form th:action="@{/vehicleList}" method="post">
						<div class="card m-0">
							<div class="card-header">
								<div class="card-title">차량 수정</div>
								<div class="card-sub-title">챠랑정보를 수정해주세요.</div>
							</div>
							<div class="card-body">
								<div class="safeAddRadio">
									<span class="safeAddSpan">차량종류 : </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="carKind1" name="carKind" class="custom-control-input" checked="checked" value="일반 차량">
										<label class="custom-control-label" for="carKind1">일반 차량</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="carKind2" name="carKind" class="custom-control-input" value="냉동 차량">
										<label class="custom-control-label" for="carKind2">냉동 차량</label>	
									</div>
								</div>
								<div class="safeAddRadio">
									<span class="safeAddSpan">차량상태 : </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="carStatus1" name=carStatus class="custom-control-input" checked="checked" value="정상">
										<label class="custom-control-label" for="carStatus1">정상</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="carStatus2" name="carStatus" class="custom-control-input" value="고장"> 
										<label class="custom-control-label" for="carStatus2">고장</label>
									</div>
								</div>
								<div class="form-group">
									<div class="safeAddText">
										<span class="safeAddSpan">차량상태 상세내용</span>
									</div>
									<textarea class="form-control" id="message" placeholder="차량상태 상새내용을 작성해주세요." maxlength="140" rows="4" required="required"></textarea>
									<div class="form-text text-muted">
										<p id="characterLeft" class="help-block">140 characters left</p>
									</div>
								</div>
								<div class="form-group">
									<input type="number" class="form-control" id="name" name="name" placeholder="차량사용 연식을 입력해주세요." required="required" >
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="번호판을 입력해주세요."  required="required">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="배송기사ID를 입력해주세요."  required="required">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="배송기사명을 입력해주세요."  required="required">
								</div>
									<div class="safeAddRadio">
									<span class="safeAddSpan">사용유무 : </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="carUse1" name=carUse class="custom-control-input" checked="checked" value="Y">
										<label class="custom-control-label" for="carUse1">유</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="carUse2" name="carUse" class="custom-control-input" value="N"> 
										<label class="custom-control-label" for="carUse2">무</label>
									</div>
								</div>
								<button type="submit" id="submit" name="submit" class="btn btn-primary float-right">수정</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Main container end -->
	</th:block>
		
</html>