<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">재고관리</li>
		<li class="breadcrumb-item active">재고실사조회</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
		
</th:block>
	
<th:block layout:fragment="container">
<div class="main-container">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-6">
			<div class="table-container">
				<div class="t-header">재고실사조회</div>
				<select id="ware" >
					<option> :: 선택 ::</option>
					<option value="w001"> 군산물류 </option>
					<option value="w002"> 익산물류 </option>
					<option value="w003"> 경기물류 </opt()ion>
					<option value="w004"> 인천물류 </option>
					<option value="w005"> 용인물류 </option>
					<option value="w006"> 광주물류</option>
					<option value="w007"> 충북물류</option>
					<option value="w008"> 안산물류</option>
					<option value="w009"> 충남물류</option>
					<option value="w010"> 진천물류</option>

				</select>
				<select id="sector">
					<option> :: 선택 ::</option>
					<option value="s001"> 1구역 </option>
					<option value="s002"> 2구역 </option>
					<option value="s003"> 3구역 </option>
					<option value="s004"> 4구역 </option>
					<option value="s005"> 5구역 </option>
					<option value="s006"> 6구역 </option>
					<option value="s007"> 7구역 </option>
					<option value="s008"> 8구역 </option>
					<option value="s009"> 9구역 </option>
					<option value="s010"> 10구역 </option>
				</select>
				
				<div class="table-responsive">
					<table id="copy-print-csv" class="table custom-table">
						<thead>
							<tr >
							  <th>실사결과 코드</th>
							  <th>상품코드(상품명)</th>
							  <th>창고코드</th>
							  <th>구역코드</th> 
							  <th>실사전 수량</th>							  
							  <th>오차수량</th>
							  <th>실사후 수량</th>
							  <th>등록담당자</th>
							  <th>상세설명</th>
							  <th>실사일자</th>
							  <th>등록일자</th>
							  <th>수정</th>
							</tr>
						</thead>
						<tbody id="stockResultData">
								<tr th:each="L : ${stockCheckList}">		
								  <td th:text="${L.seccheckCode}" id="seccheckCodeId" th:onclick="'location.href=\''+ @{/#} + '\''"></td>			
								  <td th:text="|${L.stock.stockCode}(${L.product.productName})|" id="stockCodeId" ></td>
								  <td th:text="${L.warehouseCode}" id="warehouseCodeId" ></td>
								  <td th:text="${L.wareSector.sectorCode}" id="sectorCodeId" ></td>
								  <td th:text="${L.stock.stockAmount}" id="stockAmountId" ></td>
								  <td th:text="${L.seccheckError}" id="seccheckErrorId" ></td>
								  <td th:text="${L.seccheckAmount}" id="seccheckAmountId" ></td>
								  <td th:text="${L.memberid}" id="memberidId" ></td>
								  <td th:text="${L.checkDetail}" id="checkDetailId" ></td>
								  <td th:text="${L.checkDate}" id="checkDateId" ></td>
								  <td th:text="${L.checkRegdate}" id="checkRegdateId" ></td>
								 <td>
								<!-- <a th:href="@{/myPage(memberId=${l.memberId})}" >수정</a> -->
								<a href="#mymodal" type="button" class="btn btn-primary modifyBtn" 
								data-toggle="modal" data-target=".bd-example-modal-lg" id = "viewModal">수정</a>
							</td>
							</tr>
							
						</tbody>
		    		</table>
							<div class="card-body">
									<div class="custom-btn-group">
										<!-- Buttons -->
										<span>
											 <a th:href="@{/stockCheckInsert}" class="btn btn-primary float-right">실사결과 등록</a>
								 		</span>	
									</div>
							</div>
				</div>
				
			</div>
			
		
		</div>
		
	</div>
</div>

<form th:action="@{/stockCheckModal}" method="post">
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">수정하기</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
					<div class="modal-body">
					
					
					<div class="form-group">
					<label for="seccheckCode">재고실사코드</label>
					<input type="text" class="form-control" name="seccheckCode" id="seccheckCode" readonly="readonly">
					</div>
					
					<input type="hidden" class="form-control" name="warehouseCode" id="warehouseCode">
					
					<div class="form-group">
						<label for="memberid">등록담당자</label>
						<input type="text" class="form-control" name="memberid" id="memberid" readonly="readonly" >
					</div>
					<div class="form-group">
						<label for="stockAmount">실사전 수량</label>
						<input type="text" class="form-control" name="stockAmount" id="stockAmount" readonly="readonly">
					</div>

					<div class="form-group">
						<label for="seccheckError">오차수량</label>
						<input type="text" class="form-control" name="seccheckError" id="seccheckError">
					</div>
					
					<div class="form-group">
						<label for="seccheckAmount">실사후 수량</label>
						<input type="text" class="form-control" name="seccheckAmount" id="seccheckAmount">
					</div>
					
					<div class="form-group">
						<label for="checkUnit">상세설명</label>
						<input type="text" class="form-control" name="checkDetail" id="checkDetail">
					</div>
									
					<div class="form-group">
						<label for="checkDate">실사일자</label>
						<input type="text" class="form-control" name="checkDate" id="checkDate">
					</div>
					
					<div class="form-group">
						<label for="checkRegdate">등록일자</label>
						<input type="text" class="form-control" name="checkRegdate" id="checkRegdate">
					</div>
					
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal">닫기</button>
					<button type="submit" name="submit"  class="btn btn-primary">수정</button>
			</div>
		</div>
	  </div>
	</div>
	</div>
</form>

</th:block>

<th:block layout:fragment="customJs">
<script src="js/jquery.min.js"></script>
<script type="text/javascript">
$('.modifyBtn').each(function(){
	$(this).click(function(){
		var seccheckCodeId 					= $(this).parents('tr').children('#seccheckCodeId').text();
		var warehouseCodeId 				= $(this).parents('tr').children('#warehouseCodeId').text();
		var stockAmountId 					= $(this).parents('tr').children('#stockAmountId').text();
		var seccheckErrorId 				= $(this).parents('tr').children('#seccheckErrorId').text();
		var seccheckAmountId 				= $(this).parents('tr').children('#seccheckAmountId').text();
		var memberidId 						= $(this).parents('tr').children('#memberidId').text();
		var checkDetailId 					= $(this).parents('tr').children('#checkDetailId').text();
		var checkDateId 					= $(this).parents('tr').children('#checkDateId').text();
		var checkRegdateId 					= $(this).parents('tr').children('#checkRegdateId').text();
		
		

		$('#seccheckCode').val(seccheckCodeId);
		$('#warehouseCode').val(warehouseCodeId);
		$('#stockAmount').val(stockAmountId);
		$('#seccheckError').val(seccheckErrorId);
		$('#seccheckAmount').val(seccheckAmountId);
		$('#memberid').val(memberidId);
		$('#checkDetail').val(checkDetailId);
		$('#checkDate').val(checkDateId);
		$('#checkRegdate').val(checkRegdateId);
	
		
	})  
});


/**************************************************************************************************************/


var values = [];
var ware = document.getElementById('ware');
var sector = document.getElementById('sector');
var wareSel = "";
var sectorSel = "";

	ware.addEventListener('change', function() {
		wareSel = ware.value;
		console.log(wareSel);
		getData()
	});
	sector.addEventListener('change', (event) => {
		sectorSel = sector.value;
		sectorSel = wareSel+"_"+sectorSel;
		getData()
	});
	
	function getData(){
		$.ajax({
			url : "/stockCheckListDetail", 
			//method: "POST", 
			data : { 
				warehouse_code : wareSel,
				sector_stock_status_code : sectorSel
			},
				success : function(res) {
				$('#stockResultData').children().remove();
				
				
	
				var innerHtml = "";
				$.each(res, function( index, value ) {
		            innerHtml += '<tr>'	
	            	innerHtml += '<td>'+value.seccheckCode+'</td>'
            		innerHtml += '<td>'+value.stock.stockCode+'</td>'
       				innerHtml += '<td>'+value.memberid+'</td>'
    				innerHtml += '<td>'+value.seccheckError+'</td>'
		            innerHtml += '<td>'+value.seccheckAmount+'</td>'
		            innerHtml += '<td>'+value.checkUnit+'</td>'
					innerHtml += '<td>'+value.checkDetail+'</td>'
					innerHtml += '<td>'+value.checkDate+'</td>'
					innerHtml += '<td>'+value.checkRegdate+'</td>'
					innerHtml += '</tr>'
		            
		            
                    console.log( index + " : " + value.seccheckCode ); 
                 });
		         $('#stockResultData').append(innerHtml);
				
			}
		})	
		
	} 
	

</script>
</th:block>


</html>