<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">재고관리</li>
		<li class="breadcrumb-item active">재고실사조회</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
		
</th:block>
	
<th:block layout:fragment="container">
<div class="main-container">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-6">
			<div class="table-container">
				<div class="t-header">재고실사조회</div>
				<select id="ware" >
					<option> :: 선택 ::</option>
					<option value="w001"> 군산물류 </option>
					<option value="w002"> 익산물류 </option>
					<option value="w003"> 경기물류 </opt()ion>
					<option value="w004"> 인천물류 </option>
					<option value="w005"> 용인물류 </option>
					<option value="w006"> 광주물류</option>
					<option value="w007"> 충북물류</option>
					<option value="w008"> 안산물류</option>
					<option value="w009"> 충남물류</option>
					<option value="w010"> 진천물류</option>

				</select>
				<select id="sector">
					<option> :: 선택 ::</option>
					<option value="s001"> 1구역 </option>
					<option value="s002"> 2구역 </option>
					<option value="s003"> 3구역 </option>
					<option value="s004"> 4구역 </option>
					<option value="s005"> 5구역 </option>
					<option value="s006"> 6구역 </option>
					<option value="s007"> 7구역 </option>
					<option value="s008"> 8구역 </option>
					<option value="s009"> 9구역 </option>
					<option value="s010"> 10구역 </option>
				</select>
				
				<div class="table-responsive">
					<table id="copy-print-csv" class="table custom-table">
						<thead>
							<tr >
							  <th>실사결과 코드</th>
							  <th>창고코드</th>
							  <th>구역코드</th>
							  <th>등록담당자</th>
							  <th>오차수량</th>
							  <th>실사수량</th>
							  <th>실사단위</th>
							  <th>상세설명</th>
							  <th>실사일자</th>
							  <th>등록일자</th>
							</tr>
						</thead>
						<tbody id="stockResultData">
								<tr th:each="L : ${stockCheckList}">		
								  <td th:text="${L.seccheckCode}" th:onclick="'location.href=\''+ @{/#} + '\''"></td>
								  <td th:text="${L.warehouseCode}"></td>
								  <td th:text="${L.secstatusCode}"></td>
								  <td th:text="${L.memberid}"></td>
								  <td th:text="${L.seccheckError}"></td>
								  <td th:text="${L.seccheckAmount}"></td>
								  <td th:text="${L.checkUnit}"></td>
								  <td th:text="${L.checkDetail}"></td>
								  <td th:text="${L.checkDate}"></td>
								  <td th:text="${L.checkRegdate}"></td>
							</tr>
							
						</tbody>
		    		</table>
							<div class="card-body">
									<div class="custom-btn-group">
										<!-- Buttons -->
										<span>
											 <a th:href="@{/stockCheckInsert}" class="btn btn-primary float-right">실사결과 등록</a>
								 		</span>	
									</div>
							</div>
				</div>
				
			</div>
			
		
		</div>
		
	</div>
</div>


</th:block>
<th:block layout:fragment="customJs">
<script>
var values = [];
var ware = document.getElementById('ware');
var sector = document.getElementById('sector');
var wareSel = "";
var sectorSel = "";

	ware.addEventListener('change', (event) => {
		console.log('ㅁㅁㅁㅁ1');
		wareSel = ware.value;
		console.log(wareSel);
		/* 
		 */
		 getData()
	});
	sector.addEventListener('change', (event) => {
		console.log('ㅁㅁㅁㅁ2');
		sectorSel = sector.value;
		sectorSel = "sec_stk_"+sectorSel.substring(1);

		/* 
		 */
		 getData()
	});
	
	function getData(){
		$.ajax({
			url : "/stockCheckListDetail", 
			//method: "POST", 
			data : { 
				warehouse_code : wareSel,
				sector_stock_status_code : sectorSel
			},
				success : function(res) {
				$('#stockResultData').children().remove();
				
				
				var innerHtml = "";
				$.each(res, function( index, value ) {
		            innerHtml += '<tr>'	
	            	innerHtml += '<td>'+value.seccheckCode+'</td>'
            		innerHtml += '<td>'+value.warehouseCode+'</td>'
           			innerHtml += '<td>'+value.secstatusCode+'</td>'
       				innerHtml += '<td>'+value.memberid+'</td>'
    				innerHtml += '<td>'+value.seccheckError+'</td>'
		            innerHtml += '<td>'+value.seccheckAmount+'</td>'
		            innerHtml += '<td>'+value.checkUnit+'</td>'
					innerHtml += '<td>'+value.checkDetail+'</td>'
					innerHtml += '<td>'+value.checkDate+'</td>'
					innerHtml += '<td>'+value.checkRegdate+'</td>'
					innerHtml += '</tr>'
		            
		            
                    console.log( index + " : " + value.seccheckCode ); 
//                     console.log( index + " : " + value.warehouseCode ); 
                 });
		         $('#stockResultData').append(innerHtml);
				
			}
		})	
		
	}
	

</script>
</th:block>


</html>