<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Shoppingmall</li>
		<li class="breadcrumb-item active">PriceRemove</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>
<!-- 일단 경로만 설정  -->
<th:block layout:fragment="container">
	<div class="main-container">
		<div class="row gutters justify-content-center">
			<div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-24">
					<form id="priceRemoveFrom" th:action="@{/priceRemove}" method="post">
						<div class="card m-0">
							<div class="card-header">
								<div class="card-title">단가표 삭제</div>
						</div>
							<div class="card-body">
								<input type="hidden" class="form-control" id="price_Code" name="price_Code" th:value="${price.price_Code}" required="required"  />
								<button type="submit" id="submit" name="submit" class="btn btn-primary float-right" >단가표 삭제 버튼</button>
							</div>
						</div>
					</form>
				</div>
			</div>	
		</div>
</th:block>

</html>