<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.dao.BoardMapper">

	<resultMap type="Notice" id="noticeListResultMap">
		<result property="noticeCode"			column="notice_code"/>
		<result property="noticeSubject"			column="notice_subject"/>
		<result property="noticeContent"			column="notice_content"/>
		<result property="memberid"		column="member_id"/>
		<result property="noticeRegdate"		column="notice_reg_date"/>
		<result property="noticeViews"		column="notice_views"/>
		<result property="noticeTemp"		column="notice_temp"/>

	</resultMap>
	
	
	<select id="getNoticeList" resultType="Notice" fetchSize="700" resultMap="noticeListResultMap">
	SELECT 
		notice_code,
		notice_subject,
		notice_content,
		member_id,
		notice_reg_date,
		notice_views,
		notice_temp
	FROM
		tb_notice;
	</select>
	
</mapper>