<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.cafe2team.dao.MemberMapper">

	<resultMap type="Member" id="memberResultMap">
		<result property="memberId"	 			column="member_id"/>
		<result property="memberPw"	 			column="member_pw"/>
		<result property="memberName"	 		column="member_name"/>
		<result property="memberLevelcode"		column="level_code"/>
		<result property="memberAddress"	 	column="member_address"/>
		<result property="memberEmail"	 		column="member_email"/>
		<result property="memberPhone"	 		column="member_phone"/>
		<result property="memberRegDate"	 	column="member_reg_date"/>
		<result property="memberAccountStatus"	column="member_account_status"/>
		<result property="memberIncentive"	 	column="member_incentive"/>

	<association property="memberLevel" javaType="MemberLevel">
			<result property="levelCode" 				column="level_code"/>
			<result property="levelName" 				column="level_name"/>
			<result property="levelRegDate" 			column="level_reg_date"/>
			<result property="levelUseState" 			column="level_use_status"/>
			<result property="memberId" 				column="member_id"/>
	</association>
	
	</resultMap>
		
	<!-- 회원 전체 조회 -->	
	<select id="getMemberList" resultMap="memberResultMap">
		SELECT
			m.member_id
			,m.member_name
			,l.level_name
			,m.member_address
			,m.member_email
			,m.member_phone
			,m.member_reg_date
			,m.member_account_status
			,m.member_incentive
		FROM
			tb_member AS m
			INNER join
			tb_member_level AS l
			on
			m.level_code=l.level_code;
	</select>
	
	<!-- 로그인 // 아이디값 받아오기-->
	 <select id="getMemberById" parameterType="String" resultMap="memberResultMap">
	 SELECT 
		  member_id
		, member_pw
 		, member_name
		, level_code
		, member_address
		, member_email
		, member_phone
		, member_reg_date
		, member_account_status
		, member_incentive
	FROM
		tb_member
	WHERE 
		member_id=#{memberId};
	 </select>

	
<!-- 업데이트 -->
<update id ="updateMember" parameterType="Member">
		UPDATE tb_member
		<trim prefix="SET" prefixOverrides=",">
		<if test="memberPw != null and memberPw != ''.toString()">			
			member_pw=#{memberPw}
		</if>
		<if test="memberLevelcode != null and memberLevelcode != ''.toString()">			
			,level_code=#{memberLevelcode}		
		</if>
		<if test="memberAddress != null and memberAddress != ''.toString()">			
			,member_address=#{memberAddress}
		</if>
		<if test="memberEmail != null and memberEmail != ''.toString()">			
			,member_email=#{memberEmail}
		</if>
		<if test="memberPhone != null and memberPhone != ''.toString()">			
			,member_phone=#{memberPhone}
		</if>
		<if test="memberAccountStatus != null and memberAccountStatus != ''.toString()">			
			,member_account_status=#{memberAccountStatus}
		</if>
		<if test="memberIncentive != null and memberIncentive != ''.toString()">			
			,member_incentive=#{memberIncentive}
		</if>
		WHERE
		 	member_id=#{memberId};
		 </trim>
</update>

<delete id="deleteMember" parameterType="String">
	DELETE 
	FROM 
		tb_member 
	WHERE 
		member_id=#{memberId};

</delete>

	 <resultMap type="WareAdmin" id="wareAdminResultMap">
		<result property="wareAdminId" 				column="ware_admin_id"/>
		<result property="wareAdminPw" 				column="ware_admin_pw"/>
		<result property="wareAdminName" 			column="ware_admin_name"/>
		<result property="wareAdminLevel" 			column="level_code"/>
		<result property="wareAdminAddress" 		column="ware_admin_address"/>
		<result property="wareAdminEmail" 			column="ware_admin_email"/>
		<result property="wareAdminPhone" 			column="ware_admin_phone"/>
		<result property="wareAdminRegDate" 		column="ware_admin_reg_date"/>
		<result property="wareAdminAccountState" 	column="ware_admin_account_status"/>
		<result property="wareAdminIncentive" 		column="ware_admin_incentive"/>
		
		<association property="memberLevel" javaType="MemberLevel">
			<result property="levelCode" 				column="level_code"/>
			<result property="levelName" 				column="level_name"/>
			<result property="levelRegDate" 			column="level_reg_date"/>
			<result property="levelUseState" 			column="level_use_status"/>
			<result property="memberId" 				column="member_id"/>
		</association>
	</resultMap>
	
	<select id="getAdminList" resultMap="wareAdminResultMap">
		SELECT
			 w.ware_admin_id
			,w.ware_admin_name
			,l.level_name
			,w.ware_admin_address
			,w.ware_admin_email
			,w.ware_admin_phone
			,w.ware_admin_reg_date
			,w.ware_admin_account_status
			,w.ware_admin_incentive
		FROM
			tb_ware_admin AS w
			INNER join
			tb_member_level AS l
			on
			w.level_code = l.level_code;
	</select>
	
	
	<!-- 관리자 등록 insert -->
	<insert id="adminSignUp" parameterType="WareAdmin">
			INSERT INTO tb_ware_admin
		( ware_admin_id
		, ware_admin_pw
		, ware_admin_name
		, level_code
		, ware_admin_address
		, ware_admin_email
		, ware_admin_phone
		, ware_admin_reg_date
		) VALUES (
			#{wareAdminId}
		, 	#{wareAdminPw}
		, 	#{wareAdminName}
		, 	#{wareAdminLevel}
		, 	#{wareAdminAddress}
		, 	#{wareAdminEmail}
		, 	#{wareAdminPhone}
		, 	CURDATE());
		
	</insert>

	<!-- 거래처 등록 insert -->
	<insert id="memberShopInsert" parameterType="Shoppingmall">
		INSERT INTO tb_shoppingmall_user
			( 
			  shoppingmall_user_id
			, shoppingmall_user_pw
			, shoppingmall_user_name
			, shoppingmall_level_code
			, shoppingmall_user_address
			, shoppingmall_user_email
			, shoppingmall_user_phone
			, shoppingmall_user_reg_date
		)VALUES(
			  #{shId}
			, #{shPw}
			, #{shUserName}
			, '6'
			, #{shAddr}
			, #{shEmail}
			, #{shPhone}
			, CURDATE());
	</insert>
	 
	 <!-- 쇼핑몰 회원 조회 -->
	<select id="getShoppingmallList" resultType="Shoppingmall">
	SELECT 
		  shU.shoppingmall_user_id						AS shId
		, shU.shoppingmall_user_pw						AS shPw
		, shU.shoppingmall_user_name					AS shUserName
		, shU.shoppingmall_name							AS shName
		, shL.level_name  							    AS shLLevelName
		, shU.shoppingmall_user_address					AS shAddr
		, shU.shoppingmall_user_email					AS shEmail
		, shU.shoppingmall_user_phone					AS shPhone
		, shU.shoppingmall_user_iden_num				AS shNum
		, shU.shoppingmall_user_reg_date				AS shReg
		, shU.shoppingmall_user_account_status			AS shStatus
		, shU.shoppingmall_bank							AS shBank
		, shU.shoppingmall_bank_number					AS shBankNum
	FROM 
		tb_shoppingmall_user AS shU
		JOIN
		tb_member_level AS shL
		ON
		shU.shoppingmall_level_code = shL.level_code;
	</select>

</mapper>