<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafe2team.dao.ProductMapper">
  
  	<resultMap type="Product" id="productResultMap">
		<result property="productCode" 						column="product_code"/>
		<result property="productFreezeCoolCondition" 		column="product_freeze_cool_condition"/>
		<result property="productBigCategory" 				column="product_big_category"/>
		<result property="productMiddleCategory" 			column="product_middle_category"/>
		<result property="productSmallCategory" 			column="product_small_category"/>
		<result property="productAddCategory" 				column="product_add_category"/>
		<result property="productName" 						column="product_name"/>
		<result property="productWeight" 					column="product_weight"/>
		<result property="productWeightUnit"				column="product_weight_unit"/>
		<result property="productDateOfManufacture"			column="product_date_of_manufacture"/>
		<result property="productExpirationDate"			column="product_expiration_date"/>
		<result property="shoppingmallUserId"				column="shoppingmall_user_id"/>
		<result property="productRegDate"					column="product_reg_date"/>
		<result property="productDetail"					column="product_detail"/>
		
	</resultMap>
	
	
	<update id="modifyProduct" parameterType="Product">
		UPDATE tb_product
		<trim prefix="SET" prefixOverrides=",">
			<if test="productFreezeCoolCondition !=null and productFreezeCoolCondition != ''.toString()">
				,product_freeze_cool_condition=#{productFreezeCoolCondition}
			</if>
			<if test="productBigCategory !=null and productBigCategory != ''.toString()">
				,product_big_category=#{productBigCategory}
			</if>
			<if test="productMiddleCategory !=null and productMiddleCategory != ''.toString()">
				,product_middle_category= #{productMiddleCategory}
			</if>
			<if test="productSmallCategory !=null and productSmallCategory != ''.toString()">
				,product_small_category=#{productSmallCategory}
			</if>
			<if test="productAddCategory !=null and productAddCategory != ''.toString()">
				,product_add_category=#{productAddCategory}
			</if>
			<if test="productWeight !=null and productWeight != ''.toString()">
				,product_weight=#{productWeight}
			</if>
			<if test="productWeightUnit !=null and productWeightUnit != ''.toString()">
				,product_weight_unit=#{productWeightUnit}
			</if>
			<if test="productDateOfManufacture !=null and productDateOfManufacture != ''.toString()">
				,product_date_of_manufacture=#{productDateOfManufacture}
			</if>
			<if test="productExpirationDate !=null and productExpirationDate != ''.toString()">
				,product_expiration_date=#{productExpirationDate}
			</if>
			<if test="productDetail !=null and productDetail != ''.toString()">
				,product_detail=#{productDetail}
			</if>
		</trim>

			WHERE
				product_code = #{productCode};
	</update>
	
	
	<!--상품 정보 조회  -->
	<select id="getProductInfoByCode" parameterType="String" resultMap="productResultMap">
		SELECT 
			product_code, 
			product_freeze_cool_condition, 
			product_big_category,	 
			product_middle_category, 	
			product_small_category, 
			product_add_category, 
			product_name, product_weight, 
			product_weight_unit, 
			product_date_of_manufacture, 
			product_expiration_date, 
			shoppingmall_user_id, 
			product_reg_date, product_detail
		FROM tb_product
		WHERE product_code=#{productCode};
	</select>
	
	<!--상품추가  -->
	<insert id="addProduct" parameterType="Product">
		<selectKey keyColumn="product_code" keyProperty="productCode" resultType="String" order="BEFORE">
			SELECT CONCAT('p_c_','',(SELECT LPAD(COUNT(*)+1,10,'0')FROM tb_product));
		</selectKey>
		INSERT INTO 
			tb_product
				(
				product_code,
				product_freeze_cool_condition,
				product_big_category,
				product_middle_category,
				product_small_category,
				product_add_category,
				product_name,
				product_weight,
				product_weight_unit,
				product_date_of_manufacture,
				product_expiration_date,
				shoppingmall_user_id,
				product_reg_date,
				product_detail)
			VALUES(
				#{productCode},
				#{productFreezeCoolCondition},
				#{productBigCategory},
				#{productMiddleCategory},
				#{productSmallCategory},
				#{productAddCategory},
				#{productName},
				#{productWeight},
				#{productWeightUnit},
				#{productDateOfManufacture},
				#{productExpirationDate},
				'sh001',<!--session 활용해서 입력 필요  -->
				CURDATE(),
				#{productDetail}
				)
				
	</insert>
	
	<!-- 전체상품목록조회 -->
	<select id="getProductList" resultType="Product" fetchSize="1000">
		SELECT 
			product_code							AS productCode
			,product_freeze_cool_condition			AS productFreezeCoolCondition
			,product_big_category					AS productBigCategory
			,product_middle_category				AS productMiddleCategory
			,product_small_category					AS productSmallCategory
			,product_add_category					AS productAddCategory
			,product_name							AS productName
			,product_weight							AS productWeight
			,product_weight_unit					AS productWeightUnit
			,product_date_of_manufacture			AS productDateOfManufacture
			,product_expiration_date				AS productExpirationDate
			,shoppingmall_user_id					AS shoppingmallUserId
			,product_reg_date						AS productRegDate
			,product_detail							AS productDetail
		FROM
			tb_product

	</select>


</mapper>
	