<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cafe2team.dao.ProductMapper">
  
  	<resultMap type="Product" id="productResultMap">
		<result property="productCode" 						column="product_code"/>
		<result property="productFreezeCoolCondition" 		column="product_freeze_cool_condition"/>
		<result property="productBigCategory" 				column="product_big_category"/>
		<result property="productMiddleCategory" 			column="product_middle_category"/>
		<result property="productSmallCategory" 			column="product_small_category"/>
		<result property="productAddCategory" 				column="product_add_category"/>
		<result property="productName" 						column="product_name"/>
		<result property="productWeight" 					column="product_weight"/>
		<result property="productWeightUnit"				column="product_weight_unit"/>
		<result property="productDateOfManufacture"			column="product_date_of_manufacture"/>
		<result property="productExpirationDate"			column="product_expiration_date"/>
		<result property="shoppingmallUserId"				column="shoppingmall_user_id"/>
		<result property="productRegDate"					column="product_reg_date"/>
		<result property="productDetail"					column="product_detail"/>
		
	</resultMap>
	
	
	
	<!--상품추가  -->
	<insert id="addProduct" parameterType="Product">
		<selectKey keyColumn="product_code" keyProperty="productCode" resultType="String" order="BEFORE">
			SELECT CONCAT('p_c_','',(SELECT LPAD(COUNT(*)+1,10,'0')FROM tb_product));
		</selectKey>
		INSERT INTO tb_product
		(product_code,
		product_freeze_cool_condition,
		product_big_category,
		product_middle_category,
		product_small_category,
		product_add_category,
		product_name,
		product_weight,
		product_weight_unit,
		product_date_of_manufacture,
		product_expiration_date,
		shoppingmall_user_id,
		product_reg_date,
		product_detail)
		VALUES 
		(${productCode},
		#{productFreezeCoolCondition},
		#{productBigCategory},
		#{productMiddleCategory},
		#{productSmallCategory},
		#{productAddCategory},
		#{productName},
		#{productWeight},
		#{productWeightUnit},
		#{productDateOfManufacture},
		#{productExpirationDate},
		'sh001',<!--session 활용해서 입력 필요  -->
		#{productDetail}
		CURDATE())
		
	</insert>
	
	<!-- 전체상품목록조회 -->
	<select id="getProductList" resultType="Product" fetchSize="1000">
		SELECT 
			product_code							AS productCode
			,product_freeze_cool_condition			AS productFreezeCoolCondition
			,product_big_category					AS productBigCategory
			,product_middle_category				AS productMiddleCategory
			,product_small_category					AS productSmallCategory
			,product_add_category					AS productAddCategory
			,product_name							AS productName
			,product_weight							AS productWeight
			,product_weight_unit					AS productWeightUnit
			,product_date_of_manufacture			AS productDateOfManufacture
			,product_expiration_date				AS productExpirationDate
			,shoppingmall_user_id					AS shoppingmallUserId
			,product_reg_date						AS productRegDate
			,product_detail							AS productDetail
		FROM
			tb_product
	
	</select>


</mapper>
	