<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.dao.SalesMapper">
	<resultMap type="ShoppingmallCalculate" id="ShoppingmallCalculateResultMap">
		<result property="calculateCode" column="calculate_code"/>
		<result property="contractFinalCode" column="contract_final_code"/>
		<result property="shoppingmallUserId" column="shoppingmall_user_id"/>
		<result property="calculateType" column="calculate_type"/>
		<result property="calculatePayment" column="calculate_payment"/>
		<result property="calculateMemo" column="calculate_memo"/>
		<result property="calculateDate" column="calculate_date"/>
		<result property="calculateRegDate" column="calculate_reg_date"/>
		<result property="calculateRegDate" column="calculate_reg_date"/>
		<result property="wareAdminId" column="ware_admin_id"/>
	</resultMap>
	
	<select id="getSalesList" resultType="Contract" >
		SELECT
			cf.contract_final_code				AS contractFinalCode,
			cf.unit_price_code					AS contractFinalPriceCode,
			cf.unit_price_final_name			AS contractFinalPriceName,
			cf.contract_final_start				AS contractFinalStart,
			cf.contract_final_end				AS contractFinalEnd,
			cf.contract_final_quantity			AS contractFinalQuantity,
			cf.contract_final_pay				AS contractFinalPay,
			cf.shoppingmall_user_id				AS contractFinalUser,
			su.shoppingmall_user_name			AS contractFinalUserName,
			cf.contract_final_warehouse_type	AS contractFinalWarehouseType,
			cf.contract_final_state				AS contractState,
			cf.contract_final_state_memo		AS contractStateMemo
		FROM
			tb_contract_final AS cf
			INNER JOIN
			tb_shoppingmall_user AS su
			ON
			cf.shoppingmall_user_id = su.shoppingmall_user_id
		WHERE
			cf.contract_final_state = '승인'
	</select>
</mapper>