<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.sample.dao.SampleMapper">
	<select id="getSampleList" resultType="com.cafe2team.sample.domain.Sample">
		SELECT 
			  releases.release_request_code					AS releasesCode
			, product.product_code							AS productCode
			, product.product_name							AS productName
			, war.warehouse_code							AS wareHouseCode
			, war.warehouse_name							AS wareHouseName
			, releases.sector_column_final_code				AS releasesFinal
			, releases.release_request_amount				AS releasesAmount
			, releases.release_request_name					AS releasesName
			, releases.release_request_address				AS releasesAddr
			, releases.release_request_phone				AS releasesPhone
			, shUser.shoppingmall_user_id					AS shoppingmallUserserId
			, shUser.shoppingmall_user_name					AS shoppingmallUserName
			, releases.release_request_status				AS releasesStatus
			, releases.ware_admin_id						AS releasesAdmin
			, releases.release_request_reg_date				AS releasesReg
		FROM
			tb_release  									AS releases
		INNER JOIN 
			tb_product										AS product
		ON 
			releases.product_code = product.product_code
		INNER JOIN 
			tb_warehouse									AS war
		ON
			releases.warehouse_code = war.warehouse_code
		INNER JOIN 
			tb_shoppingmall_user 							AS shUser
		ON 
			releases.shoppingmall_user_id = shUser.shoppingmall_user_id
	</select>
	
	<insert id="releasesInsert" parameterType="String">
		<selectKey keyColumn="releaseOrderCode" keyProperty="releaseOrderCode" resultType="String" order="BEFORE">
			SELECT CONCAT('contract_code',MAX(SUBSTRING(release_order_code,15))+1) FROM tb_release_order
		</selectKey>
		INSERT INTO tb_release_order
		( release_order_code
		, releases.release_request_code
		, product_code
		, release_order_quantity
		, release_recipient_name
		, release_recipient_address
		, release_recipient_phone
		, shoppingmall_user_id
		, release_order_reg_date
		)VALUES(
		   #{releaseOrderCode}
		 , #{releasesCode}
		 , #{productCode}
		 , #{releasesAmount}
		 , #{releasesName}
		 , #{releasesAddr}
		 , #{releasesPhone}
		 , #{shoppingmallUserserId}
		 , NOW())
	</insert>
	
	<delete id="releasesRemove" parameterType="String">
		DELETE 
		FROM 
			tb_release
		WHERE 
			releases.release_request_code = #{releasesCode};
	</delete>
	
</mapper>