<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.sample.dao.SampleMapper">
	<select id="getSampleList" resultType="com.cafe2team.sample.domain.Sample">
		SELECT 
			  releases.release_request_code					AS releases_Code
			, product.product_code							AS product_Code
			, product.product_name							AS product_Name
			, war.warehouse_code							AS war_Code
			, war.warehouse_name							AS war_Name
			, releases.sector_column_final_code				AS releases_Final
			, releases.release_request_amount				AS releases_Amount
			, releases.release_request_name					AS releases_Name
			, releases.release_request_address				AS releases_Addr
			, releases.release_request_phone				AS releases_Phone
			, shUser.shoppingmall_user_id					AS shUser_Id
			, shUser.shoppingmall_user_name					AS shUser_Name
			, releases.release_request_status				AS releases_Status
			, releases.ware_admin_id						AS releases_Admin
			, releases.release_request_reg_date				AS releases_Reg
		FROM
			tb_release  									AS releases
		INNER JOIN 
			tb_product										AS product
		ON 
			releases.product_code = product.product_code
		INNER JOIN 
			tb_warehouse									AS war
		ON
			releases.warehouse_code = war.warehouse_code
		INNER JOIN 
			tb_shoppingmall_user 							AS shUser
		ON 
			releases.shoppingmall_user_id = shUser.shoppingmall_user_id
	</select>
	
	<insert id="releasesInsert" parameterType="String">
		<selectKey keyColumn="releaseOrderCode" keyProperty="releaseOrderCode" resultType="String" order="BEFORE">
			SELECT CONCAT('contract_code',MAX(SUBSTRING(release_order_code,15))+1) FROM tb_release_order
		</selectKey>
		INSERT INTO tb_release_order
		( release_order_code
		, releases.release_request_code
		, product_code
		, release_order_quantity
		, release_recipient_name
		, release_recipient_address
		, release_recipient_phone
		, shoppingmall_user_id
		, release_order_reg_date
		)VALUES(
		   #{releaseOrderCode}
		 , #{releases_Code}
		 , #{product_Code}
		 , #{releases_Amount}
		 , #{releases_Name}
		 , #{releases_Addr}
		 , #{releases_Phone}
		 , #{shUser_Id}
		 , NOW())
	</insert>
	
	<delete id="releasesRemove" parameterType="String">
		DELETE 
		FROM 
			tb_release
		WHERE 
			releases.release_request_code = #{releases_Code};
	</delete>
	
</mapper>