<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.dao.UnitPriceMapper">
	
	<!-- <resultMap type="Price" id="priceResultMap">
		<result property="code" 			column="unit_Price_code"/>
		<result property="wareHouseType" 	column="wareHouse_Type"/>
		<result property="contractType" 	column="unit_Price_Contract_Type"/>
		<result property="weight" 			column="unit_Price_Contract_Weight"/>
		<result property="number" 			column="unit_Price_Contract_Number"/>
		<result property="priceZone" 		column="unit_Price_Contract_Zone"/>
		<result property="priceDay" 		column="unit_Price_Contract_Day"/>
		<result property="price" 			column="unit_Price_Contract_Price"/>
		<result property="priceId" 			column="member_id"/>
		<result property="priceRegDate" 	column="unit_Price_Reg_Date"/>
	</resultMap>  -->
	
	<!-- 요금안내 조회 -->
	<select id="getPriceList" resultType="Price" fetchSize="1000">
		SELECT 
			  unit_price_code				AS price_Code
			, unit_price_warehouse_type		AS wareHouse_Type
			, unit_price_contract_type		AS contract_Type
			, unit_price_contract_weight	AS price_Weight
			, unit_price_contract_number	AS price_Number
			, unit_price_contract_zone		AS price_Zone
			, unit_price_contract_day		AS price_Day
			, unit_Price_Contract_Price		AS price_Price
			, m.member_id					AS unit_Id
			, unit_price_reg_date			AS unit_reg_date
		FROM 
			tb_contract_unit_price			AS p
		INNER JOIN 
			tb_member 						AS m
		ON 
			p.member_id = m.member_id;		
	</select>
	
	<!-- 요금안내추가 -->
	<insert id="priceAdd" parameterType="String">
		<selectKey keyColumn="price_Code" keyProperty="price_Code" resultType="String" order="BEFORE">
			SELECT CONCAT('contract_code',MAX(SUBSTRING(unit_price_code,14))+1) FROM tb_contract_unit_price
		</selectKey>
		INSERT INTO tb_contract_unit_price
			( unit_price_code
			, unit_price_warehouse_type
			, unit_price_contract_type
			, unit_price_contract_weight
			, unit_price_contract_number
			, unit_price_contract_zone
			, unit_price_contract_day
			, unit_price_contract_price
			, member_id
			, unit_price_reg_date
		)VALUES (
			  #{price_Code}
			, #{wareHouse_Type}
			, #{contract_Type}
			, #{price_Weight}
			, #{price_Number}
			, #{price_Zone}
			, #{price_Day}
			, #{price_Price}
			, 'id001' <!-- 세션을 통해서 자동으로 들어가게 만들어야된다. -->
			, NOW());		
	</insert>
	
	<!-- 요금안내 수정을 위한 조회  -->
	<select id="priceInfo" resultType="Price" fetchSize="1000">
	
		SELECT 
			  unit_price_code				AS price_Code
			, unit_price_warehouse_type		AS wareHouse_Type
			, unit_price_contract_type		AS contract_Type
			, unit_price_contract_weight	AS price_Weight
			, unit_price_contract_number	AS price_Number
			, unit_price_contract_zone		AS price_Zone
			, unit_price_contract_day		AS price_Day
			, unit_Price_Contract_Price		AS price_Price
			, m.member_id					AS unit_Id
			, unit_price_reg_date			AS unit_reg_date			
			, unit_price_update				AS unit_update		
		FROM 
			tb_contract_unit_price			AS p
		INNER JOIN 
			tb_member 						AS m
		ON 
			p.member_id = m.member_id
		WHERE
			unit_price_code = #{unit_price_code};	
	</select>
	
	<!-- 요금안내 수정 -->
	<update id="priceUpdate" parameterType="Price">
	
		UPDATE 
			tb_contract_unit_price
		SET
			 unit_price_warehouse_type	=  #{wareHouse_Type}
			,unit_price_contract_type	=  #{contract_Type}
			,unit_price_contract_weight	=  #{price_Weight}
			,unit_price_contract_number	=  #{price_Number}
			,unit_price_contract_zone	=  #{price_Zone}
			,unit_price_contract_day	=  #{price_Day}
			,unit_price_contract_price	=  #{price_Price}
			,unit_price_update			=  NOW()
		WHERE 
			unit_price_code 			=  #{price_Code};
	</update>
	
	<delete id="priceRemove" parameterType="String">
		DELETE 
		FROM 
			tb_contract_unit_price 
		WHERE 
			unit_price_code = #{price};		
	</delete>
</mapper>