<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.dao.WarehousingMapper">

	<resultMap type="Request" id="requestMap">
		<result property="requsetCode" 									column="warehousing_request_code"/>
		<result property="productCode" 									column="product_code"/>
		<result property="warehouseCode" 								column="warehouse_code"/>
		<result property="warehouseRequestAmount" 						column="warehousing_request_amount"/>
		<result property="shoppingUserId" 								column="shoppingmall_user_id"/>
		<result property="productName" 									column="product_name"/>
		<result property="barcodeImg" 									column="barcode_file"/>
		<result property="wareAdminId" 									column="ware_admin_id"/>
		<result property="requestRegDate" 								column="warehousing_request_reg_date"/>
		<result property="shopName" 									column="request_shopname"/>
		<result property="requestStatus" 								column="request_status"/>
	
		<association property="wareHouse" javaType="Warehouse">
			<result property="warehouseName" 							column="warehouse_name"/>
			<result property="warehouseAddr" 							column="warehouse_addr"/>
		</association>
	
	</resultMap>

	<resultMap type="Product" id="productResultMap">
		<result property="productCode" 						column="product_code"/>
		<result property="productFreezeCoolCondition" 		column="product_freeze_cool_condition"/>
		<result property="productAddCategory" 				column="product_add_category"/>
		<result property="productName" 						column="product_name"/>
		<result property="productWeight" 					column="product_weight"/>
		<result property="productWeightUnit"				column="product_weight_unit"/>
		<result property="productDateOfManufacture"			column="product_date_of_manufacture"/>
		<result property="productExpirationDate"			column="product_expiration_date"/>
		<result property="shoppingmallUserId"				column="shoppingmall_user_id"/>
		<result property="productRegDate"					column="product_reg_date"/>
		<result property="productDetail"					column="product_detail"/>
		
		<association property="item" javaType="Item">
			<id property="itemCode"					column="item_code"/>
			<result property="itemBigCategory" 		column="item_big_category"/>
			<result property="itemMiddleCategory"	column="item_middle_category"/>
			<result property="itemSmallCategory" 	column="item_small_category"/>
		</association>
		
	</resultMap>
	
	<resultMap type="Contract" id="contractResultMap">
		<result property="contractFinalCode" 									column="contract_final_code"/>
		<result property="contractFinalPriceCode" 								column="unit_price_final_name"/>
		<result property="contractFinalPriceName" 								column="unit_price_final_name"/>
		<result property="contractFinalStart" 									column="contract_final_start"/>
		<result property="contractFinalEnd" 									column="contract_final_end"/>
		<result property="contractFinalWarehouseType" 							column="contract_final_warehouse_type"/>
		<result property="contractFinalZone" 									column="contract_final_zone"/>
		<result property="contractFinalPay" 									column="contract_final_pay"/>
		<result property="contractFinalUser" 									column="shoppingmall_user_id"/>
		<result property="contractFinalRegDay" 									column="contract_final_reg_date"/>
		<result property="contractFinalMemo" 									column="contract_final_memo"/>
	</resultMap>
	
	
	<select id="getProductCode" resultMap="productResultMap">

		SELECT
			DISTINCT p.product_code
		FROM
			tb_product AS p
		WHERE
			p.product_name = #{productName};
		
	</select>
	
	<insert id="addRequest" parameterType="Request">
	INSERT INTO tb_request
		(warehousing_request_code
		, product_code
		, warehouse_code
		, warehousing_request_amount
		, product_Name
		, shoppingmall_user_id
		, barcode_file
		,warehousing_request_reg_date
		,request_shopname
		,request_status
		,request_contract_code)
	VALUES (
		 #{requsetCode}
		,#{productCode}
		,#{warehouseCode}
		,#{warehouseRequestAmount}
		,#{productName}
		,#{shoppingUserId}
		,#{barcodeImg}
		,#{requestRegDate}
		,#{shopName}
		,'입고요청'
		,#{contractFinalCode});
		
	</insert>
	
	<select id="maxGoodsCode" resultType="String">
		SELECT
			CONCAT('war_r_c',LpaD(CAST(SUBSTRING_INDEX(MAX(warehousing_request_code),'war_r_c',-1) AS UNSIGNED)+1, 6 ,0)) 
		FROM
			tb_request;
	</select>
	
	<select id="getRequestList" parameterType="map" resultMap="requestMap">
		SELECT
			r.warehousing_request_code
			,r.shoppingmall_user_id
			,r.product_code
			,r.product_name
			,w.warehouse_name
			,r.warehouse_code
			,r.request_shopname
			,r.request_status
			,r.barcode_file
			,r.warehousing_request_reg_date
			,r.ware_admin_id
			,r.warehousing_request_amount
		FROM
			tb_request AS r
			INNER join
			tb_warehouse AS w
			ON
			r.warehouse_code = w.warehouse_code
	<trim prefix="WHERE" prefixOverrides="AND |OR"> 
		<if test = "requsetCode != null and requsetCode != ''.toString()" >
			r.warehousing_request_code = #{requsetCode};
		</if>
	</trim>
	</select>
	
	<select	id = "getRequestCode" parameterType="String" resultMap="requestMap">
	SELECT 
		r.warehousing_request_code
		,r.product_code
		,r.warehouse_code
		,w.warehouse_name
		,w.warehouse_addr
		,r.warehousing_request_amount
		,r.shoppingmall_user_id
		,r.product_name
		,r.ware_admin_id
		,r.warehousing_request_reg_date
		,r.request_shopname
		,r.request_status
	FROM
		tb_request AS r
		INNER join
		tb_warehouse AS w
		on
		r.warehouse_code = w.warehouse_code
	WHERE
		r.warehousing_request_code = #{requsetCode};
	</select>
		
	<insert id="addRequestOrder" parameterType="java.util.List">
		INSERT INTO 
			tb_request_order
			(warehousing_order_code
			,warehousing_request_code
			,product_code
			,warehouse_code
			,shoppingmall_user_id
			,warehousing_barcode
			,warehousing_order_due_date
			,warehousing_order_amount
			,warehousing_order_status
			,request_contract_code)
			(SELECT
			sf_newRequsetOrder()
			,r.warehousing_request_code
			,r.product_code
			,r.warehouse_code
			,r.shoppingmall_user_id
			,r.barcode_file
			,r.warehousing_request_reg_date
			,r.warehousing_request_amount
			,r.request_status
			,r.request_contract_code
		FROM
			tb_request AS r
		WHERE
			r.warehousing_request_code in
		<foreach collection="list" item="addCode" open ="(" close="))" separator=",">
			#{addCode}
		</foreach>
	</insert>
</mapper>