<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Member</li>
		<li class="breadcrumb-item active">whzoneinquiry</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>

<th:block layout:fragment="container">
<div class="main-container">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="table-container">
				<div class="t-header">관리자 목록 조회</div>
					<div class="table-responsive">
						<table id="copy-print-csv" class="table custom-table">
						<thead>
							<tr>
								<th>
							  		<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
							  	</th>
							  <th>아이디</th>
							  <th>이름</th>
							  <th>권한</th>
							  <th>주소</th>
							  <th>이메일</th>
							  <th>번호</th>
							  <th>등록일</th>
							  <th>활성화</th>
							  <th>인센티브</th>
							  <th>수정</th>
							  <th>삭제</th>
							</tr>
							
						</thead>
						<tbody>
							<tr th:if="${#lists.size(adminList) > 0}" th:each="l : ${adminList}">
								<td>
									<input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" th:value="${l.wareAdminId}">
								</td>
								<td th:text="${l.wareAdminId}"></td>
								<td th:text="${l.wareAdminName}"></td>
								<td th:text="${l.memberLevel.levelName}"></td>
								<td th:text="${l.wareAdminAddress}"></td>
								<td th:text="${l.wareAdminEmail}"></td>
								<td th:text="${l.wareAdminPhone}"></td>
								<td th:text="${l.wareAdminRegDate}"></td>
								<td th:text="${l.wareAdminAccountState}"></td>
								<td th:text="${l.wareAdminIncentive}"></td>
								
							<td>
								<a th:href="@{#}" class="btn btn-primary float-right">수정</a>
							</td>
							<td>
								<a th:href="@{#}" class="btn btn-primary float-right">삭제</a>
							</td>
							</tr>
							
						<tr th:unless="${#lists.size(adminList) > 0}" style="text-align: center;">
							<td colspan="9" th:text="${'검색한 결과가 없습니다.'}">
							</td>
						</tr>
							</tbody>
		    		</table>
						<button type="button" class="btn btn-primary float-right" onclick="wareAdminApproval();">승인</button>
				</div>
			</div>
		
		</div>
	</div>
</div>


</th:block>

		
</html> 