<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment"></head>

<style>
html,body {
  height: 100%;
}
</style>

<body>
<th:block layout:fragment="container">
<div class="container h-70">
    <div class="row d-flex justify-content-center align-items-center h-120">
      	<div class="container">
				<div class="row justify-content-md-center">
					<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
						<div class="login-screen">
							<div class="login-box">
								<h5>Pw찾기</h5>
					 				<div style="margin-bottom : 10px;">
						 				<input type="radio" name="Check" value="memberCheck" id="adminSelect" checked="checked"> 관리자
		                    			<input type="radio" name="Check" value="shopCheck" id="shopSelect"> 거래처
					 				</div>
	                    			
								<div class="form-group">
									<input type="text" class="form-control" name="memberId" placeholder="가입한 ID 입력" id="memberId" required = "required" value="id001"/>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" name="memberEmail" placeholder="가입한 이메일 입력" id="memberEmail" required = "required" 
									value="jun111haha@gmail.com"/>
								</div>
								    <div id="email-text"></div>
								<div class="actions mb-4">
									<button type="submit" class="btn btn-outline-primary" style="margin-top: 10px" id="sendEmail">가입한 이메일로 비밀번호 발송</button>
								</div>
								<hr>
								<div class="m-0">
									<span class="additional-link"> 아이디가 존재 하십니까? <a th:href="@{/memberlogin}" class="btn btn-outline-primary">Login</a></span>
										</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
    	</div> <!-- END OF ROW -->
</th:block>
<th:block layout:fragment="customJs">
<script src="js/jquery.min.js"></script>
<script type="text/javascript">


	  $("#sendEmail").click(function() {
			var mail = $("#memberEmail").val();
			var memberId = $("#memberId").val();
			
			if(memberId == ""){
				alert("아이디 를 입력해주세요.");
				
				$("#memberId").focus();
				return false;
			}
			if (mail == "") {
				alert("email 를 입력해주세요.");
			} else {
			
				$.ajax({
					type : 'post',
					url : '/findPw',
					data : {mail:mail,
							memberId:memberId,
							check : $('[name=Check]:checked').val()},
					dataType :'json',
					success: function(data){
						console.log(data);
						
						var msg = "";
						var memberPw = "";
						var shopPw = "";
						
 						msg = data.msg;
 						
						if(msg == null){
							if(data.member){
								memberPw = data.member.memberPw;
								alert("가입하신 이메일로 비밀번호를 보냈습니다.");
								console.log(memberPw)
								
							}else{
								shopPw = data.shop.shoppingmallPw;
								alert("가입하신 이메일로 비밀번호를 보냈습니다.");
								console.log(shopPw)
							}
							
							
						}else{
							alert(msg);
						}

					}
					

				});
				
			}
			
		});
		
	  $('#shopSelect').click(function(){
		 	
		  var mId = 'sh001';
		  
		  $('#memberId').val(mId);
		  	
	  });
	  
	  $('#adminSelect').click(function(){
		 	
		  var mId = 'id001';
		  
		  $('#memberId').val(mId);
		  	
	  });

	  
	  
</script>

		
	
	
</th:block>
</body>
</html>