<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<div class="page-header">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Member</li>
			<li class="breadcrumb-item active">MemberList</li>
		</ol>

		<ul class="app-actions">
			<li><a href="#" id="reportrange"> <span class="range-text"></span>
					<i class="icon-chevron-down"></i>
			</a></li>
			<li><a href="#"> <i class="icon-export"></i>
			</a></li>
		</ul>
	</div>

	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="table-container">
						<div class="t-header">회원 조회</div>
						<div class="t-header" id="Period">권한별 회원조회</div>
							
							<div th:include="member/memberSearch :: searchFragment"></div>
						
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
								<thead>
									<tr>
										<th><input type="checkbox" id="checkAll"
											style="position: relative; top: 1.5px;"></th>
										<th>아이디</th>
										<th>이름</th>
										<th>권한</th>
										<th>주소</th>
										<th>이메일</th>
										<th>번호</th>
										<th>등록일</th>
										<th>활성화여부</th>
										<th>인센티브</th>
										<th>수정</th>
									</tr>
								</thead>
								<tbody id="tableList">
									<tr th:if="${#lists.size(memberList) > 0}"
										th:each="l : ${memberList}">
										<th:block>
											<td><input type="checkbox" class="checkOne"
												style="position: relative; top: 1.5px;"
												th:value="${l.memberId}"></td>

											<td th:text="${l.memberId}" class="dataId"></td>
											<td th:text="${l.memberName}" class="dataName"></td>
											<td th:text="${l.memberLevel.levelName}" class="dataLevel"></td>
											<td th:text="${l.memberAddress}" class="dataAddress"></td>
											<td th:text="${l.memberEmail}" class="dataEmail"></td>
											<td th:text="${l.memberPhone}" class="dataPhone"></td>
											<td th:text="${l.memberRegDate}" class="dataRegDate"></td>
											<td th:text="${l.memberAccountStatus}"
												class="dataAccountStatus"></td>
											<td th:text="${l.memberIncentive}" class="dataIncentive"></td>
											<td><a class="btn btn-primary float-right" id="modifyBtn" 
												th:href="@{/adminUpdate(memberId = ${l.memberId})}">수정</a></td>
									</tr>

									<tr th:unless="${#lists.size(memberList) > 0}"
										style="text-align: center;">
										<td colspan="11" th:text="${'검색한 결과가 없습니다.'}"></td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary float-right" onclick="deleteDate();">삭제</button>

						</div>
					</div>

				</div>
			</div>
		</div>
	</th:block>



	<th:block layout:fragment="customJs">
		<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.3/css/dataTables.responsive.css"> -->
		<!-- 	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script> -->
		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" th:inline="javascript">
	
		
		
		$(function(){
			$('#checkAll').click(function(){
				if($('#checkAll').prop('checked')){
					$('.checkOne').prop('checked', true);
				}else{
					$('.checkOne').prop('checked', false);
				}
			})
		})
		
		
			function deleteDate(){
				var dataArr = new Array();
				var list = $('.checkOne');
				for(var i=0; i<list.length; i++){
					if(list[i].checked){
						dataArr.push(list[i].value);
					}
				}
				if(dataArr.length == 0){
					alert('삭제할 항목을 선택해주세요.');
				
				}else{
					var chk = confirm('정말 삭제하시겠습니까?');
					 if(chk){
						$.ajax({
							url : "/memberDeleteCheck",
							method : 'post',
							async : true,
							dataType : "json",
							data : {'dataArr':dataArr},
							success: function(jdata){
								if(jdata != 1){
									alert('오류 : 삭제 실패');
								}else{
									alert('삭제 되었습니다.');
									location.replace("memberList");
								}
							}
				    	});
					}else{
						return false;
					} 
				}
			}
		
	
	/********날짜선택********/
	$(function() {
		var start = moment().subtract(29, 'days');
		var end = moment();
		function cb2(start, end) {
			$('#firstDate').html(start.format('YYYY-MM-DD'));
			$('#firstDate').val($('#firstDate').text());
			$('#secondDate').html(end.format('YYYY-MM-DD'));
			$('#secondDate').val($('#secondDate').text());
		}
		$('#reportrangeCustom').daterangepicker({
			
			opens: 'left',
			startDate: start,
			endDate: end,
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			}
		}, cb2);
	});
	
	/********시작일********/
	function firstDateKey(){
		if(event.keyCode != 8){
			if($('#firstDate').val().replace(/[0-9 \-]/g, "").length == 0){
				var ymd = '';
				var firstDateValue = $('#firstDate').val().replace(/[^0-9]/g,'');
				var firstDateLength = firstDateValue.length;
				if(firstDateLength < 4){
					return 	;
				}else if(firstDateLength < 6){
					ymd += firstDateValue.substr(0, 4);
					ymd += '-';
					ymd += firstDateValue.substr(4);
				}else{
					ymd += firstDateValue.substr(0, 4);
					ymd += '-';
					ymd += firstDateValue.substr(4, 2);
					ymd += '-';
					ymd += firstDateValue.substr(6);
				}
				$('#firstDate').val(ymd);
			}else{
				alert('숫자 이외의 값은 입력하실 수 없습니다.');
				$('#firstDate').val('');
			}
		}
	};
	
	/********종료일********/
	function secondDateKey(){
		if(event.keyCode != 8){
			if($('#secondDate').val().replace(/[0-9 \-]/g, "").length == 0){
				var ymd = '';
				var secondDateValue = $('#secondDate').val().replace(/[^0-9]/g,'');
				var secondDateLength = secondDateValue.length;
				if(secondDateLength < 4){
					return 	;
				}else if(secondDateLength < 6){
					ymd += secondDateValue.substr(0, 4);
					ymd += '-';
					ymd += secondDateValue.substr(4);
				}else{
					ymd += secondDateValue.substr(0, 4);
					ymd += '-';
					ymd += secondDateValue.substr(4, 2);
					ymd += '-';
					ymd += secondDateValue.substr(6);
				}
				$('#secondDate').val(ymd);
			}else{
				alert('숫자 이외의 값은 입력하실 수 없습니다.');
				$('#secondDate').val('');
			}
		}
	};
	
	
	</script>
	</th:block>
</html>