<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Member</li>
		<li class="breadcrumb-item active">MemberList</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>

<th:block layout:fragment="container">
<div class="main-container">
	<div class="row gutters">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="table-container">
				<div class="t-header">회원 조회</div>
					<div class="table-responsive">
						<table id="copy-print-csv" class="table custom-table">
						<thead>
							<tr>
							  <th>아이디</th>
							  <th>이름</th>
							  <th>권한</th>
							  <th>주소</th>
							  <th>이메일</th>
							  <th>번호</th>
							  <th>등록일</th>
							  <th>활성화여부</th>
							  <th>인센티브</th>
							  <th>수정</th>
							  <th>삭제</th>
							</tr>
							
						</thead>
						<tbody>
							<tr th:if="${#lists.size(memberList) > 0}" th:each="l : ${memberList}">
								<td th:text="${l.memberId}"></td>
								<td th:text="${l.memberName}"></td>
								<td th:text="${l.memberLevel.levelName}"></td>
								<td th:text="${l.memberAddress}"></td>
								<td th:text="${l.memberEmail}"></td>
								<td th:text="${l.memberPhone}"></td>
								<td th:text="${l.memberRegDate}"></td>
								<td th:text="${l.memberAccountStatus}"></td>
								<td th:text="${l.memberIncentive}"></td>
								
							<td>
								<!-- <a th:href="@{/myPage(memberId=${l.memberId})}" >수정</a> -->
								<a href="@{#mypageModel(memberId=${l.memberId})}" type="button" class="btn btn-primary" 
								data-toggle="modal" data-target=".bd-example-modal-lg">수정</a>
								</td>
							<td>
								<a th:href="@{#}">삭제</a>
							</td>
							</tr>
							
						<tr th:unless="${#lists.size(memberList) > 0}" style="text-align: center;">
							<td colspan="9" th:text="${'검색한 결과가 없습니다.'}">
							</td>
						</tr>
						
						</tbody>
		    	</table>
		    	
				</div>
			</div>
		
		</div>
	</div>
</div>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="mypageModel">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="myLargeModalLabel">수정</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
			</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
  		</div>
	</div>
	
</th:block>

		
</html>