<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
	<div class="page-header">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Member</li>
			<li class="breadcrumb-item active">MemberList</li>
		</ol>

		<ul class="app-actions">
			<li><a href="#" id="reportrange"> <span class="range-text"></span>
					<i class="icon-chevron-down"></i>
			</a></li>
			<li><a href="#"> <i class="icon-export"></i>
			</a></li>
		</ul>
	</div>

	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="table-container">
						<div class="t-header">회원 조회</div>
						<div class="t-header" id="Period">권한별 회원조회</div>
						<select id="authority" name="levelName">
							<option class="memberAuthority" th:each="l : ${memberList}"
								th:value="${l.memberLevel.levelName}"></option>
						</select>

						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
								<thead>
									<tr>
										<th><input type="checkbox" id="checkAll"
											style="position: relative; top: 1.5px;"></th>
										<th>아이디</th>
										<th>이름</th>
										<th>권한</th>
										<th>주소</th>
										<th>이메일</th>
										<th>번호</th>
										<th>등록일</th>
										<th>활성화여부</th>
										<th>인센티브</th>
										<th>수정</th>
									</tr>
								</thead>
								<tbody id="tableList">
									<tr th:if="${#lists.size(memberList) > 0}"
										th:each="l : ${memberList}">
										<th:block>
											<td><input type="checkbox" class="checkOne"
												style="position: relative; top: 1.5px;"
												th:value="${l.memberId}"></td>

											<td th:text="${l.memberId}" class="dataId"></td>
											<td th:text="${l.memberName}" class="dataName"></td>
											<td th:text="${l.memberLevel.levelName}" class="dataLevel"></td>
											<td th:text="${l.memberAddress}" class="dataAddress"></td>
											<td th:text="${l.memberEmail}" class="dataEmail"></td>
											<td th:text="${l.memberPhone}" class="dataPhone"></td>
											<td th:text="${l.memberRegDate}" class="dataRegDate"></td>
											<td th:text="${l.memberAccountStatus}"
												class="dataAccountStatus"></td>
											<td th:text="${l.memberIncentive}" class="dataIncentive"></td>
											<td><a class="btn btn-primary float-right" id="modifyBtn" 
												th:href="@{/adminUpdate(memberId = ${l.memberId})}">수정</a></td>
									</tr>

									<tr th:unless="${#lists.size(memberList) > 0}"
										style="text-align: center;">
										<td colspan="9" th:text="${'검색한 결과가 없습니다.'}"></td>
									</tr>
								</tbody>
							</table>
							<button type="button" class="btn btn-primary float-right"
								onclick="deleteDate();">삭제</button>

						</div>
					</div>

				</div>
			</div>
		</div>
	</th:block>



	<th:block layout:fragment="customJs">
		<!-- 	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/responsive/2.2.3/css/dataTables.responsive.css"> -->
		<!-- 	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.js"></script> -->
		<script src="js/jquery.min.js"></script>
		<script type="text/javascript" th:inline="javascript">
	
		
		
		$(function(){
			$('#checkAll').click(function(){
				if($('#checkAll').prop('checked')){
					$('.checkOne').prop('checked', true);
				}else{
					$('.checkOne').prop('checked', false);
				}
			})
		})
		
		$(function(){
			function deleteDate(){
				var dataArr = new Array();
				var list = $('.checkOne');
				for(var i=0; i<list.length; i++){
					if(list[i].checked){
						dataArr.push(list[i].value);
					}
				}
				if(dataArr.length == 0){
					alert('삭제할 항목을 선택해주세요.');
				
				}else{
					var chk = confirm('정말 삭제하시겠습니까?');
					 if(chk){
						$.ajax({
							url : "/memberDeleteCheck",
							method : 'post',
							async : true,
							dataType : "json",
							data : {'dataArr':dataArr},
							success: function(jdata){
								if(jdata != 1){
									alert('오류 : 삭제 실패');
								}else{
									alert('삭제 되었습니다.');
									location.replace("memberList");
								}
							}
				    	});
					}else{
						return false;
					} 
				}
			}
		});
		
		
		
	/*********************************************중복제거 스크립트*****************************************************/
	//<![CDATA[
	var memberList 	= 	[[${memberList}]];
	//]]>
	
	var levelList 	= 	[];
	
	for(var i=0; i < memberList.length; i++){
		levelList.push(memberList[i].memberLevel.levelName);
	}
	
	var memberLevelList = [...new Set(levelList)];
	
	
	var htmlLevel = "";
	
	
	
	htmlLevel += '<option disabled="disabled" selected="selected"> :: 권한 선택 :: </option>';
	
	for(var i = 0; i < memberLevelList.length; i++){
		htmlLevel += '<option>';
		htmlLevel += memberLevelList[i];
		htmlLevel += '</option>';
	}
	
	
 	$('#authority').html(htmlLevel);
 	
	/**************************************************************************************************/
	
	
	var selectLevelValue = "";
	
	$('#authority').change(function(){
		selectLevelValue = $('#authority').val();
		getData();
		
	});
	
	
	function getData(){
		var request = $.ajax({
			  url: "/memberListDetail",
			  method: "POST",
			  data: { selectLevelValue : selectLevelValue },
			  dataType: "json",
			});

			request.done(function( data ) {
				console.log(data);
				
				var html = '';
				$.each(data, function(index, value){
					html+= '<tr>';
					html+= '<td><input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" value="'+ value.memberId +'"></td>';
					html+= '<td class= "dataId">' + value.memberId + '</td>';
					html+= '<td class= "dataName">' + value.memberName + '</td>';
					html+= '<td class= "dataLevel">' + value.memberLevel.levelName + '</td>';
					html+= '<td class= "dataAddress">' + value.memberAddress + '</td>';
					html+= '<td class= "dataEmail">' + value.memberEmail + '</td>';
					html+= '<td class= "dataPhone">' + value.memberPhone + '</td>';
					html+= '<td class= "dataRegDate">' + value.memberRegDate + '</td>';
					html+= '<td class= "dataAccountStatus">' + value.memberAccountStatus + '</td>';
					html+= '<td class= "dataIncentive">' + value.memberIncentive + '</td>';
					html+= '<td><a class="btn btn-primary float-right" type="button" id="modifyBtn" style="color: white;" href="/adminUpdate?memberId='+ value.memberId + '">수정</a></td>'
					html+= '</tr>';
				});
				
				
				$('#tableList').html(html);
					
				
			});
				
			request.fail(function( jqXHR, textStatus ) {
				alert(textStatus);
			});
		}
	
	
	
	
	</script>
	</th:block>
</html>