<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  	
	  	<div id="searchWarehouse" th:fragment="searchFragment">
		<form th:action="@{/warehouseList}" method="get" >
			<select name="searchKey">
				<option value="warehouse_name">창고명</option>
				<option value="warehouse_addr">창고주소</option>
				<option value="warehouse_cate">창고종류(업종)</option>
			</select>
			<input type="text" name="searchValue" placeholder="검색키워드를 입력해주세요."/>
			<button type="submit">검색</button>
			
		</form>
	</div>
</html>