<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">상품관리</li>
		<li class="breadcrumb-item active">상품등록</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">

	<!-- Main container start -->
	<div class="main-container">
		<!-- Row start -->
		<div class="row gutters justify-content-center">
			<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
				<form id="addProductForm" th:action="@{/addProduct}" method="post"> 
					<table id="copy-print-csv" class="table custom-table">
						<div class="card m-0">
							<div class="card-header">
								<div class="card-title">상품등록</div>
							</div>
							<div class="card-body">
								<div class="form-group">
									<select id="itemBigCategory" name="itemBigCategory" required="required" class="form-control">
										<option value="">::대분류::</option>
										<option th:each="b:${BigCategory}" th:value="${b.itemBigCategory}" th:text="${b.itemBigCategory}"></option>
									</select>
								</div>
								<div class="form-group">
									<select id="itemMiddleCategory" name="itemMiddleCategory" required="required" class="form-control">
										<option value="">::중분류::</option>
									</select>
								</div>
								<div class="form-group">
									<select id="productCategory" name="productCategory" required="required" class="form-control">
										<option value="">::소분류::</option>
									</select>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="productAddCategory" name="productAddCategory" placeholder="추가카테고리">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="productName" name="productName" placeholder="상품명" required="required">
								</div>
								<div class="form-group">
									<select class="form-control" id="productFreezeCoolCondition" name="productFreezeCoolCondition">
										<option name="productFreezeCoolCondition" value="">::보관유형::</option>
										<option name="productFreezeCoolCondition" value="상온">::상온::</option>
										<option name="productFreezeCoolCondition" value="냉장">::냉장::</option>
										<option name="productFreezeCoolCondition" value="냉동">::냉동::</option>
									</select>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" id="productWeight" name="productWeight" placeholder="무게" required="">
								</div>
								<div class="form-group">
									<select id="productWeightUnit" name="productWeightUnit" class="form-control">
										<option name="productWeightUnit" value="">::무게단위::</option>
										<option name="productWeightUnit" value="kg">::kg::</option>
										<option name="productWeightUnit" value="g">::g::</option>
										<option name="productWeightUnit" value="ton">::ton::</option>
									</select>
								</div>
								<div class="form-group">
									<div class="custom-date-input">
										<input type="text" id="productDateOfManufacture" name="productDateOfManufacture" class="form-control datepicker-dropdowns" placeholder="제조일" style="width: 100%;">
									</div>
								</div>
								<div class="form-group">
									<div class="custom-date-input">
										<input type="text" id="productExpirationDate" name="productExpirationDate" class="form-control datepicker-dropdowns" placeholder="유통기한" style="width: 100%;">
									</div>
								</div>
								<div class="form-group">
									<textarea class="form-control" id="productDetail" name="productDetail" placeholder="상세설명" maxlength="140" rows="4" style="resize: none;"></textarea>
								</div>
							</div>
						</div>
						<button type="button" id="cancleAddBtn" name="cancleAddBtn" class="btn btn-primary float-right" style="margin: 3px;">취소</button>
						<button type="submit" id="addProductBtn" class="btn btn-primary float-right" style="margin: 3px;">상품추가</button>
						<button type="button" id="bundleAddBtn" name="bundleAddBtn" class="btn btn-primary float-right" style="margin: 3px;">일괄추가</button>
					</table>	
				</form>
			</div>
		</div>
	<!-- Row end -->
	</div>
	<!-- Main container end -->
</th:block>
		
<th:block layout:fragment="customJs">

	<script type="text/javascript">		
		var itemMiddleCategory = $('#itemMiddleCategory');
		
		$('#itemBigCategory').change(function(){
			var request = $.ajax({
				url: "/getMiddleCate",
				method: "POST", 
				data: { itemBigCategory : $('#itemBigCategory').val()}, 
				dataType: "json" 
			}); 

			request.done(function( data ) {
				console.log(data);
				var html = '';
				if(data != undefined && data != '' && data.length > 0){
					html += '<option value=""> :: 중분류 선택 :: </option>';
					for(var i=0; i < data.length; i++){
						html += '<option value="'+data[i].itemMiddleCategory+'">';
						html += data[i].itemMiddleCategory;
						html += '</option>';
					}
				}else{
					html = '<option value=""> :: 선택된 결과가 없습니다 :: </option>';
				}
				console.log(html);
				itemMiddleCategory.html(html);
			}); 
			request.fail(function( jqXHR, textStatus ) {
				alert( "Request failed: " + textStatus );
			});			
		});
	</script>
	<script type="text/javascript">		
		var itemSmallCategory = $('#productCategory');
		$('#itemMiddleCategory').change(function(){
			var request = $.ajax({
				url: "/getSmallCate",
				method: "POST", 
				data: { itemMiddleCategory : $('#itemMiddleCategory').val()	}, 
				dataType: "json" 
			}); 

			request.done(function( data ) {
				console.log(data);
				var html = '';
				if(data != undefined && data != '' && data.length > 0){
					
					html += '<option value=""> :: 소분류 선택 :: </option>';
					for(var i=0; i < data.length; i++){
						html += '<option value="'+data[i].itemSmallCategory+'">';
						html += data[i].itemSmallCategory
						html += '</option>';
					}
				}else{
					html = '<option value=""> :: 선택된 결과가 없습니다 :: </option>';
				}
				itemSmallCategory.html(html);
			}); 
			request.fail(function( jqXHR, textStatus ) {
				alert( "Request failed: " + textStatus );
			});			
		});
	</script>

	<script>
		$(function(){
			$('#addProductBtn').click(function(){
				var productForm = $('#addProductForm');
 				var submitFlag = true;
 				var itemBigCategory = $('#itemBigCategory').val()
 				var itemMiddleCategory = $('#itemMiddleCategory').val()
 				var itemSmallCategory = $('#itemSmallCategory').val()
 				var productCategory = $('#productCategory').val()
				var productFreezeCoolCondition = $('#productFreezeCoolCondition').val();
				var productName = $('#productName').val();
				var productWeight = $('#productWeight').val();
				var productWeightUnit = $('#productWeightUnit').val();
				var productDateOfManufacture = $('#productDateOfManufacture').val();
				var productExpirationDate = $('#productExpirationDate').val();
				var productDetail = $('#productDetail').val();
				
				if(itemBigCategory == null||itemBigCategory ==undefined||itemBigCategory==''){
					alert('대분류를 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(itemMiddleCategory ==null||itemMiddleCategory==undefined||itemMiddleCategory==''.toString()){
					alert('중분류를 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productCategory ==null||productCategory==undefined||productCategory==''.toString()){
					alert('소분류를 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productName ==null||productName==undefined||productName==''){
					alert('상품명을 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productFreezeCoolCondition ==null||productFreezeCoolCondition==undefined||productFreezeCoolCondition==''){
					alert('보관유형을 입력해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productWeight ==null||productWeight==undefined||productWeight==''){
					alert('상품무게를 입력해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productWeightUnit ==null||productWeightUnit==undefined||productWeightUnit==''){
					alert('무게단위를 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productDateOfManufacture ==null||productDateOfManufacture==undefined||productDateOfManufacture==''){
					alert('제조날짜를 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}else if(productExpirationDate ==null||productExpirationDate==undefined||productExpirationDate==''){
					alert('유통기한을 선택해주세요');
					submitFlag = false;
					$(this).focus();
					return submitFlag;
				}
				
				
			});
				if(submitFlag) productForm.submit();
		});
	</script>
</th:block> 

		
</html>