<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- Begin Search -->
	<div th:fragment="searchProductFragment">
		<form th:action="@{/productList}" method="get" id="sesarchProduct">
		<!-- /memberList?searchkey=m_id&searchValue=id001 -->
			<select name="searchKey">
				
				<option value="">검색조건</option>
				<option value="product_name">상품명</option>
				<option value="item_big_category">대분류</option>
				<option value="itme_middle_category">중분류</option>
				<option value="itme_small_category">소분류</option>
				<option value="product_freeze_cool_condition">보관유형</option>
			</select>
			<input type="text" name="searchValue" placeholder="검색키워드를 입력해주세요">
			<div style="display: inline;">
				<a href="#" id="reportrangeCustom">
					<input class="btn btn-outline-primary btn-rounded" id="firstDate" th:name="firstDate" placeholder="검색 시작일" onkeyup="firstDateKey();" type="text" maxlength="10" autocomplete="off">
					<span class="range-text" id="midDate" style="color: #225de4;">~</span>
					<input class="btn btn-outline-primary btn-rounded" id="secondDate" th:name="secondDate" placeholder="검색 종료일" onkeyup="secondDateKey();" type="text" maxlength="10" autocomplete="off">
					<i class="icon-chevron-down"></i>	
				</a>
			</div>
			<button type="submit" class="btn btn-outline-primary btn-rounded">검색</button>
		</form>
	</div>
	<!-- End Search -->
</html>