<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">6/20</li>
		<li class="breadcrumb-item active">수정</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
	<div class="main-container">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="table-container">
					<div class="t-header">창고별 상품목록</div>
					<select id="choiceWarehouse">
						<option value=""></option>
					</select>
					<div class="table-responsive">
						<table id="copy-print-csv" class="table custom-table">
							<thead>
								<tr>
									<th>상품명</th>
									<th>재고량</th>
									<th>보관유형</th>
									<th>보관창고</th>
									<th>입고일</th>
									<th>수량</th>
									<th>등록자</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.size(warehouseProductAmount)>0}" th:each="l:${warehouseProductAmount}">
									<td th:text="${l.productName}"></td>
									<td th:text="${l.stock.stockAmount}"></td>
									<td th:text="${l.productFreezeCoolCondition}"></td>
									<td th:text="${l.warehouse.warehouseName}"></td>
									<td th:text="${l.stock.wRealDate}"></td>
									<td th:text="${l.warehouse.warehouseAddr}"></td>
									<td th:text="${l.warehouse.warehousePhone}"></td>
								</tr>
							</tbody>
					  	</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main container end -->

</th:block>
		
</html>