<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item active">안전점검 등록</li>
			</ol>
		
			<ul class="app-actions">
				<li>
					<a href="#" id="reportrange">
						<span class="range-text"></span>
						<i class="icon-chevron-down"></i>	
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-export"></i>
					</a>
				</li>
			</ul>
		</div>
	</th:block>
	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters justify-content-center">
				<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
					<form th:action="@{/safetyCheckAdd}" method="post">
						<div class="card m-0">
							<div class="card-header">
								<div class="card-title">안전점검 등록</div>
								<div class="card-sub-title">안전점검 실시 내용을 등록해주세요.</div>
							</div>
							<div class="card-body">
								<div class="form-group">
									<select class="form-control" required="required" name="warehouseCode" >
										<!-- 기능 구현시 db에서 창고코드와 이름 가져올 수 있으려나? -->
										<option value="">창고를 선택해주세요.</option>
										<option th:each="w : ${warehouse}" th:value="${w.warehouseCode}" th:text="${w.warehouseName}"></option>
									</select>
								</div>
								<div class="safeAddRadio">
									<span class="safeAddSpan">화재안전점검 : </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="fireInspection1" name="facilityFiresafety" class="custom-control-input" checked="checked" value="점검완료">
										<label class="custom-control-label" for="fireInspection1">점검완료</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="fireInspection2" name="facilityFiresafety" class="custom-control-input" value="점검 미실시">
										<label class="custom-control-label" for="fireInspection2">점검 미실시</label>
									</div>
								</div>
								<div class="safeAddRadio">
									<span class="safeAddSpan">물류안전점검 : </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="logisticsInspection1" name="facilityLogistics" class="custom-control-input" checked="checked" value="점검완료">
										<label class="custom-control-label" for="logisticsInspection1">점검완료</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="logisticsInspection2" name="facilityLogistics" class="custom-control-input" value="점검 미실시">
										<label class="custom-control-label" for="logisticsInspection2">점검 미실시</label>
									</div>
								</div>
								<div class="safeAddRadio">
									<span class="safeAddSpan">주요설비 및 장비안전점검 : </span>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="equipmentInspection1" name="facilityMainEquipemnt" class="custom-control-input" checked="checked" value="점검완료">
										<label class="custom-control-label" for="equipmentInspection1">점검완료</label>
									</div>
									<div class="custom-control custom-radio custom-control-inline">
										<input type="radio" id="equipmentInspection2" name="facilityMainEquipemnt" class="custom-control-input" value="점검 미실시">
										<label class="custom-control-label" for="equipmentInspection2">점검 미실시</label>
									</div>
								</div>
								<div class="form-group">
									<div class="safeAddText">
										<span class="safeAddSpan">이상사유</span>
									</div>
									<textarea class="form-control" id="message" placeholder="이상여부를 작성해주세요." maxlength="140" rows="4" required="required" name="facilityCheck"></textarea>
									<div class="form-text text-muted">
										<p id="characterLeft" class="help-block">140 characters left</p>
									</div>
								</div>
								<button type="button" id="submit" name="submit" class="btn btn-primary float-right" onClick="history.back(-1);" style="margin-left: 10px;">취소</button>
								<button type="submit" id="submit" name="submit" class="btn btn-primary float-right">등록</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Main container end -->
	
	</th:block>
	
</html>