<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">안전점검</li>
				<li class="breadcrumb-item active">안전점검 내역조회</li>
			</ol>
		
			<ul class="app-actions">
				<li>
					<a href="#">
						<i class="icon-export"></i>
					</a>
				</li>
			</ul>
		</div>
	</th:block>
	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="table-container">
						<div class="t-header">안전점검 내역조회</div>
						<div th:include="safe/safetySearch :: searchFragment"></div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
								<thead>
									<tr >
									  <th>
									  		<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
									  </th>
									  <th style="display: none;">안전점검코드</th>
									  <th style="display: none;">창고정보코드</th>
									  <th>창고명</th>
									  <th>화재안전점검내용</th>
									  <th>물류안전점검내용</th>
									  <th>주유설비 및 장비 안전점검내용</th>
									  <th>등록담당자</th>
									  <th>등록일</th>
									  <th>수정일</th>
									  <th>이상사유</th>
									  <th>수정</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="s : ${safetyCheck}">
									  <td>
								  	  	<input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" th:value="${s.facilityCode}">
									  </td>
									  <td style="display: none;" th:text="${s.facilityCode}" id="facilityCodeData"></td>	
									  <td style="display: none;" th:text="${s.warehouseCode}" id="warehouseCodeData"></td>
									  <td th:text="${s.warehouse.warehouseName}" ></td>
									  <td th:text="${s.facilityFiresafety}" id="facilityFiresafetyData"></td>
									  <td th:text="${s.facilityLogistics}" id="facilityLogisticsData"></td>
									  <td th:text="${s.facilityMainEquipemnt}" id="facilityMainEquipemntData"></td>
									  <td th:text="${s.wareAdminId}"></td>
									  <td th:text="${s.facilityRegDate}"></td>
									  <td th:text="${s.facilityUpdateDate}"></td>
									  <td th:text="${s.facilityCheck}" id="facilityCheckData"></td>
									  <td>
									  	<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>
								  	  </td>
									</tr>
								</tbody>
				    	</table>
						<button type="button" class="btn btn-primary float-right" onclick="deleteDate();">삭제</button>
						</div>
					</div>
				
				</div>
			</div>
		</div>
<form th:action="@{/modifySafetyCheck}" method="post" id="modifySafetyCheck">
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">수정하기</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" class="form-control" name="facilityCode" id="facilityCode">
					<div class="form-group">
						<label for="wareHouseCodeModal">창고선택</label>	
						<select class="form-control" id="wareHouseCodeModal" name="warehouseCode" required="required">
							<option value="">창고를 선택해주세요.</option>
						    <option th:each="w : ${warehouse}" th:value="${w.warehouseCode}" th:text="${w.warehouseName}" ></option>
						</select>
					</div>	
					<div class="form-group">
						<label for="fireInspection">화재안전점검</label>	
						<select class="form-control" id="fireInspection" name="facilityFiresafety" required="required">
							<option value="점검완료">점검완료</option>
							<option value="점검 미실시">점검 미실시</option>
						</select>
					</div>
					<div class="form-group">
						<label for="logisticsInspection">물류안전점검</label>	
						<select class="form-control" id="logisticsInspection" name="facilityLogistics" required="required">
							<option value="점검완료">점검완료</option>
							<option value="점검 미실시">점검 미실시</option>
						</select>
					</div>
					<div class="form-group">
						<label for="equipmentInspection">주요설비 및 장비안전점검</label>	
						<select class="form-control" id="equipmentInspection" name="facilityMainEquipemnt" required="required">
							<option value="점검완료">점검완료</option>
							<option value="점검 미실시">점검 미실시</option>
						</select>
					</div>
						<div class="form-group">
							<label for="facilityCheckModal">이상사유</label>
							<textarea class="form-control" id="facilityCheckModal" placeholder="이상여부를 작성해주세요." maxlength="140" rows="4" name="facilityCheck" required="required"></textarea>
						</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					<button type="submit" name="submit"  class="btn btn-primary">수정</button>
				</div>
			</div>
		</div>
	</div>
</form>		
	
</th:block>
<th:block layout:fragment="customJs">
	<script>
	/********삭제처리********/
			$(function(){
				$('#checkAll').click(function(){
					if($('#checkAll').prop('checked')){
						$('.checkOne').prop('checked', true);
					}else{
						$('.checkOne').prop('checked', false);
					}
				})
			})
			function deleteDate(){
				var dataArr = new Array();
				var list = $('.checkOne');
				for(var i=0; i<list.length; i++){
					if(list[i].checked){
						dataArr.push(list[i].value);
					}
				}
				if(dataArr.length == 0){
					alert('삭제할 항목을 선택해주세요.');
				}
				else{
					var chk = confirm('정말 삭제하시겠습니까?');
					if(chk){
						$.ajax({
							url : "/deleteSafetyCheck",
							method : 'post',
							async : true,
							dataType : "json",
							data : {'dataArr':dataArr},
							success: function(jdata){
								if(jdata > 0){
									alert('삭제 되었습니다.');
									location.replace("safetyCheck");
								}else{
									alert('오류 : 삭제 실패');
								}
							}
				    	});
					}else{
						return false;
					}
				}
			}
	
			/********수정화면********/
			$('.modifyBtn').each(function(){
				$(this).click(function(){
					var facilityCode = $(this).parents('tr').children('#facilityCodeData').text();
					if(facilityCode != null){
						$.ajax({
							url : "/modifySafetyCheck",
							method : 'get',
							async : true,
							dataType : "json",
							data : {'facilityCode':facilityCode},
							success: function(data){
								if(data != null && data != '' && data != undefined){
									$('#facilityCode').val(data[0].facilityCode);
									$('#wareHouseCodeModal').val(data[0].warehouseCode);
									$('#fireInspection').val(data[0].facilityFiresafety);
									$('#logisticsInspection').val(data[0].facilityLogistics);
									$('#equipmentInspection').val(data[0].facilityMainEquipemnt);
									$('#facilityCheckModal').val(data[0].facilityCheck);
								}else{
									alert('오류발생');
								}
							}
						})
					}
				})
			})
			$('#modifySafetyCheck').submit(function(){
				alert('수정이 완료되었습니다.')
			})
			
			/********날짜선택********/
			$(function() {
				var start = moment().subtract(29, 'days');
				var end = moment();
				function cb2(start, end) {
					$('#firstDate').html(start.format('YYYY-MM-DD'));
					$('#firstDate').val($('#firstDate').text());
					$('#secondDate').html(end.format('YYYY-MM-DD'));
					$('#secondDate').val($('#secondDate').text());
				}
				$('#reportrangeCustom').daterangepicker({
					
					opens: 'left',
					startDate: start,
					endDate: end,
					ranges: {
						'Today': [moment(), moment()],
						'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
						'Last 7 Days': [moment().subtract(6, 'days'), moment()],
						'Last 30 Days': [moment().subtract(29, 'days'), moment()],
						'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
					}
				}, cb2);
			});
			
			/********시작일********/
			function firstDateKey(){
				if(event.keyCode != 8){
					if($('#firstDate').val().replace(/[0-9 \-]/g, "").length == 0){
						var ymd = '';
						var firstDateValue = $('#firstDate').val().replace(/[^0-9]/g,'');
						var firstDateLength = firstDateValue.length;
						if(firstDateLength < 4){
							return 	;
						}else if(firstDateLength < 6){
							ymd += firstDateValue.substr(0, 4);
							ymd += '-';
							ymd += firstDateValue.substr(4);
						}else{
							ymd += firstDateValue.substr(0, 4);
							ymd += '-';
							ymd += firstDateValue.substr(4, 2);
							ymd += '-';
							ymd += firstDateValue.substr(6);
						}
						$('#firstDate').val(ymd);
					}else{
						alert('숫자 이외의 값은 입력하실 수 없습니다.');
						$('#firstDate').val('');
					}
				}
			};
			
			/********종료일********/
			function secondDateKey(){
				if(event.keyCode != 8){
					if($('#secondDate').val().replace(/[0-9 \-]/g, "").length == 0){
						var ymd = '';
						var secondDateValue = $('#secondDate').val().replace(/[^0-9]/g,'');
						var secondDateLength = secondDateValue.length;
						if(secondDateLength < 4){
							return 	;
						}else if(secondDateLength < 6){
							ymd += secondDateValue.substr(0, 4);
							ymd += '-';
							ymd += secondDateValue.substr(4);
						}else{
							ymd += secondDateValue.substr(0, 4);
							ymd += '-';
							ymd += secondDateValue.substr(4, 2);
							ymd += '-';
							ymd += secondDateValue.substr(6);
						}
						$('#secondDate').val(ymd);
					}else{
						alert('숫자 이외의 값은 입력하실 수 없습니다.');
						$('#secondDate').val('');
					}
				}
			};
	</script>
</th:block>
</html>