<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">Home</li>
				<li class="breadcrumb-item active">안전점검 내역조회</li>
			</ol>
		
			<ul class="app-actions">
				<li>
					<a href="#" id="reportrange">
						<span class="range-text"></span>
						<i class="icon-chevron-down"></i>	
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-export"></i>
					</a>
				</li>
			</ul>
		</div>
	</th:block>
	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="table-container">
						<div class="t-header">안전점검 내역조회</div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
								<thead>
									<tr >
									  <th>
									  		<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
									  </th>
									  <th style="display: none;">안전점검코드</th>
									  <th style="display: none;">창고정보코드</th>
									  <th>창고명</th>
									  <th>화재안전점검내용</th>
									  <th>물류안전점검내용</th>
									  <th>주유설비 및 장비 안전점검내용</th>
									  <th>등록담당자</th>
									  <th>등록일</th>
									  <th>수정일</th>
									  <th>이상사유</th>
									  <th>수정</th>
									</tr>
								</thead>
								<tbody>
									<tr th:if="${#lists.size(safetyCheck)>0}" th:each="s : ${safetyCheck}">
									  <td>
								  	  	<input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" th:value="${s.facilityCode}">
									  </td>
									  <td style="display: none;" th:text="${s.facilityCode}" id="facilityCodeData"></td>	
									  <td style="display: none;" th:text="${s.warehouseCode}" id="warehouseCodeData"></td>
									  <td th:text="${s.warehouse.warehouseName}" ></td>
									  <td th:text="${s.facilityFiresafety}" id="facilityFiresafetyData"></td>
									  <td th:text="${s.facilityLogistics}" id="facilityLogisticsData"></td>
									  <td th:text="${s.facilityMainEquipemnt}" id="facilityMainEquipemntData"></td>
									  <td th:text="${s.wareAdminId}"></td>
									  <td th:text="${s.facilityRegDate}"></td>
									  <td th:text="${s.facilityUpdateDate}"></td>
									  <td th:text="${s.facilityCheck}" id="facilityCheckData"></td>
									  <td>
									  	<!-- <a th:href="@{/modifySafetyCheck(facilityCode=${s.facilityCode})}">수정</a> -->
									  	<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>
								  	  </td>
									</tr>
									<tr th:unless="${#lists.size(safetyCheck)>0}" style="text-align: center;">
										<td th:text="${검색 결과가 없습니다.}" colspan="8"></td>
									</tr>
								</tbody>
				    	</table>
						<button type="button" class="btn btn-primary float-right" onclick="deleteDate();">삭제</button>
						</div>
					</div>
				
				</div>
			</div>
		</div>
<form th:action="@{/modifySafetyCheck}" method="post" id="modifySafetyCheck">
	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="myLargeModalLabel">수정하기</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<input type="hidden" class="form-control" name="facilityCode" id="facilityCode">
					<div class="form-group">
						<label for="wareHouseCodeModal">창고선택</label>	
						<select class="form-control" id="wareHouseCodeModal" name="warehouseCode" required="required">
							<option value="">창고를 선택해주세요.</option>
						    <option th:each="w : ${warehouse}" th:value="${w.warehouseCode}" th:text="${w.warehouseName}" ></option>
						</select>
					</div>	
					<div class="form-group">
						<label for="fireInspection">화재안전점검</label>	
						<select class="form-control" id="fireInspection" name="facilityFiresafety" required="required">
							<option value="점검완료">점검완료</option>
							<option value="점검 미실시">점검 미실시</option>
						</select>
					</div>
					<div class="form-group">
						<label for="logisticsInspection">물류안전점검</label>	
						<select class="form-control" id="logisticsInspection" name="facilityLogistics" required="required">
							<option value="점검완료">점검완료</option>
							<option value="점검 미실시">점검 미실시</option>
						</select>
					</div>
					<div class="form-group">
						<label for="equipmentInspection">주요설비 및 장비안전점검</label>	
						<select class="form-control" id="equipmentInspection" name="facilityMainEquipemnt" required="required">
							<option value="점검완료">점검완료</option>
							<option value="점검 미실시">점검 미실시</option>
						</select>
					</div>
						<div class="form-group">
							<label for="facilityCheckModal">이상사유</label>
							<textarea class="form-control" id="facilityCheckModal" placeholder="이상여부를 작성해주세요." maxlength="140" rows="4" name="facilityCheck" required="required"></textarea>
						</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal">취소</button>
					<button type="submit" name="submit"  class="btn btn-primary">수정</button>
				</div>
			</div>
		</div>
	</div>
</form>		
	
</th:block>
<th:block layout:fragment="customJs">
	<script>
			$(function(){
				$('#checkAll').click(function(){
					if($('#checkAll').prop('checked')){
						$('.checkOne').prop('checked', true);
					}else{
						$('.checkOne').prop('checked', false);
					}
				})
			})
			function deleteDate(){
				var dataArr = new Array();
				var list = $('.checkOne');
				for(var i=0; i<list.length; i++){
					if(list[i].checked){
						dataArr.push(list[i].value);
					}
				}
				if(dataArr.length == 0){
					alert('삭제할 항목을 선택해주세요.');
				}
				else{
					var chk = confirm('정말 삭제하시겠습니까?');
					if(chk){
						$.ajax({
							url : "/deleteSafetyCheck",
							method : 'post',
							async : true,
							dataType : "json",
							data : {'dataArr':dataArr},
							success: function(jdata){
								if(jdata != 1){
									alert('오류 : 삭제 실패');
								}else{
									alert('삭제 되었습니다.');
									location.replace("safetyCheck");
								}
							}
				    	});
					}else{
						return false;
					}
				}
			}
			$('.modifyBtn').each(function(){
				$(this).click(function(){
					var facilityCheckData = $(this).parents('tr').children('#facilityCheckData').text();
					var facilityFiresafetyData = $(this).parents('tr').children('#facilityFiresafetyData').text();
					var facilityLogisticsData = $(this).parents('tr').children('#facilityLogisticsData').text();
					var facilityMainEquipemntData = $(this).parents('tr').children('#facilityMainEquipemntData').text();
					var facilityCodeData = $(this).parents('tr').children('#facilityCodeData').text();
					var warehouseCodeData = $(this).parents('tr').children('#warehouseCodeData').text();
					
					var firesafetySelected = $('#fireInspection option:contains(' + facilityFiresafetyData + ')').val();
					var logisticsDataSelected = $('#logisticsInspection option:contains(' + facilityLogisticsData + ')').val();
					var equipemntDataSelected = $('#equipmentInspection option:contains(' + facilityMainEquipemntData + ')').val();
					
					$('#facilityCheckModal').val(facilityCheckData);
					$('#fireInspection').val(firesafetySelected);
					$('#logisticsInspection').val(logisticsDataSelected);
					$('#equipmentInspection').val(equipemntDataSelected);
					$('#facilityCode').val(facilityCodeData);
					$('#wareHouseCodeModal').val(warehouseCodeData);
				})
			})
			$('#modifySafetyCheck').submit(function(){
				alert('수정이 완료되었습니다.')
			})
	</script>
</th:block>
</html>