<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">창고</li>
		<li class="breadcrumb-item active">창고등록</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">

	<!-- Main container start -->
<div class="main-container">
	<div class="row gutters justify-content-center">
		<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">
			<form id="addWarehouseForm" th:action="@{/addWarehouse}" method="POST">
					<div class="card m-0">
						<div class="card-header">
							<div class="card-title">창고등록</div>
							<div class="card-sub-title">창고명과 소재지를 입력해주세요.</div>
						</div>
						<div class="card-body">
							<div class="form-group">
									<label for="name">창고명</label>
								<div class="input-group">
									<input type="text" class="form-control" name="warehouseName" id="name" placeholder="등록하실 창고의 이름을 입력해주세요." aria-label="name" aria-describedby="button-addon2" / required="required">
								</div>
							</div>
							<div class="form-group">
								<label for="address">소재지</label>
								<input type="text" class="form-control" id="address" name="warehouseAddr" placeholder="등록하실 창고의 소재지를 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
									<label for="category">종류</label>
									<select class="custom-select" id="category" name="warehouseCate">
										<option value="">:::  창고 종류(형태)를 선택해주세요.  :::</option>
										<option value="일반">일반</option>
										<option value="냉장/냉동">냉장/냉동</option>
									</select>
							</div>
							<div class="form-group">
								<label for="area">면적</label>
								<input type="text" class="form-control" id="area" name="warehouseArea" placeholder="등록하실 창고의 면적을 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
								<label for="phone">연락처</label>
								<input type="text" class="form-control" id="phone" name="warehousePhone" placeholder="등록하실 창고의 연락처를 - 포함하여 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
								<label for="regNumber">사업자 등록번호</label>
								<input type="text" class="form-control" id="regNumber" name="warehouseRegNumber" placeholder="등록하실 창고의 사업자 등록번호를 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
								<label for="detail">상세설명</label>	
								<textarea class="form-control" id="detail" name="warehouseDetail" placeholder="등록하실 창고의 추가설명이 필요하다면 입력해주세요." rows="3" maxlength="50"></textarea>
									<div class="form-text text-muted">
										<p id="characterLeftaddWare" class="help-block">50 characters left</p>
									</div>
							</div>
							<button type="button" id="submitDone" class="btn btn-primary float-right" >창고등록</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
				<!-- Main container end -->

</th:block>
<th:block layout:fragment="customJs">
	<script>
			$('#submitDone').click(function(){
				var addWarehouseForm = $('#addWarehouseForm');
				var submitFlag = true;				
				var name = $('#name').val();
				var address = $('#address').val();
				var category = $('#category').val();
				var area = $('#area').val();
				var phone = $('#phone');
				var regPhone = /^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}/.test(phone.val());
				var regNumber = $('#regNumber').val();
				
				/************************************창고명 입력여부 검사 ************************************/
				if(name == null || name == '' || name == undefined){
					alert('창고명을 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 소재지 입력여부 검사 ************************************/
				}else if(address == null || address == '' || address == undefined){
					alert('창고 소재지를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 종류 입력여부 검사 ************************************/
				}else if(category == null || category == '' || category == undefined){
					alert('창고 종류를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 면적 입력여부 검사 ************************************/
				}else if(area == null || area == '' || area == undefined){
					alert('창고 면적을 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 연락처 입력여부 검사 ************************************/
				}else if(phone == null || phone == '' || phone == undefined){
					alert('창고 연락처를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
				
				/************************************창고 연락처 유효성 검사 ************************************/
				}else if(!regPhone){
					alert('연락처를  -  포함하여 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************사업자 등록번호 입력여부 검사 ************************************/
				}else if(regNumber == null || regNumber == '' || regNumber == undefined){
					alert('사업자 등록번호를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
				}

				if(submitFlag) {
					$('#area').val($('#area').val() + ' ㎡');
					$('#addWarehouseForm').submit();
				}
			});
			/************************************텍스트 박스 글자 수 카운트************************************/
			$(function() {
				$('#characterLeftaddWare').text('50 characters left');
				$('#detail').keydown(function () {
					var max = 50;
					var len = $(this).val().length;
					if (len >= max) {
						$('#characterLeftaddWare').text('You have reached the limit');
						$('#characterLeftaddWare').addClass('red');
						$('#btnSubmit').addClass('disabled');            
					} 
					else {
						var ch = max - len;
						$('#characterLeftaddWare').text(ch + ' characters left');
						$('#btnSubmit').removeClass('disabled');
						$('#characterLeftaddWare').removeClass('red');            
					}
				});
			});
	</script>
</th:block>
</html>