<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">창고</li>
		<li class="breadcrumb-item active">창고등록(adminId)</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">

<style>
	.hidden-col {display: none;}
</style>

	<!-- Main container start -->
<div class="main-container">
	<div class="row gutters justify-content-center">
		<div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-12">
			<form id="addWarehouseForm" th:action="@{/addWarehouse}" method="POST">
					<div class="card m-0">
						<div class="card-header">
							<div class="card-title">창고등록</div>
							<div class="card-sub-title">창고명과 소재지를 입력해주세요.</div>
						</div>
						<div class="card-body">
							<div class="form-group">
									<label for="name">창고명</label>
								<div class="input-group">
									<input type="text" class="form-control" name="warehouseName" id="name" placeholder="등록하실 창고의 이름을 입력해주세요." aria-label="name" aria-describedby="button-addon2" / required="required">
								</div>
							</div>
							<div class="form-group">
								<label for="warehouseAddr">상세주소</label>
								<input type="text" class="form-control" id="api_address" name="warehouseAddr" placeholder="주소" required="required"/>
								<input type="button" onclick="api_execDaumPostcode()" value="주소 검색" />
								<div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>
							</div>
							<div class="form-group" >
								<input type="text" class="hidden-col" id="api_address_lat" name="warehouseLat" placeholder="위도" required="required"/>
							</div>
							<div class="form-group">
								<input type="text" class="hidden-col" id="api_address_lon" name="warehouseLon" placeholder="경도" required="required"/>
							</div>
							<div class="form-group">
									<label for="category">종류</label>
									<select class="custom-select" id="category" name="warehouseCate">
										<option value="">:::  창고 종류(형태)를 선택해주세요.  :::</option>
										<option value="일반">일반</option>
										<option value="냉장/냉동">냉장/냉동</option>
									</select>
							</div>
							<div class="form-group">
								<label for="area">면적</label>
								<input type="text" class="form-control" id="area" name="warehouseArea" placeholder="등록하실 창고의 면적을 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
								<label for="phone">연락처</label>
								<input type="text" class="form-control" id="phone" name="warehousePhone" placeholder="등록하실 창고의 연락처를 - 포함하여 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
								<label for="regNumber">사업자 등록번호</label>
								<input type="text" class="form-control" id="regNumber" name="warehouseRegNumber" placeholder="등록하실 창고의 사업자 등록번호를 입력해주세요." required="required"/>
							</div>
							<div class="form-group">
								<label for="detail">상세설명</label>	
								<textarea class="form-control" id="detail" name="warehouseDetail" placeholder="등록하실 창고의 추가설명이 필요하다면 입력해주세요." rows="3" maxlength="50"></textarea>
									<div class="form-text text-muted">
										<p id="characterLeftaddWare" class="help-block">50 characters left</p>
									</div>
							</div>
							<button type="button" id="submitDone" class="btn btn-primary float-right" >창고등록</button>
						</div>
					</div>
			</form>
		</div>
	</div>
</div>
</th:block>
				<!-- Main container end -->

<th:block layout:fragment="customJs">
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cb83fa3281ae2832bdd855af7e467813&libraries=services"></script>
	<script>
	    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
	        mapOption = {
	            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
	            level: 5 // 지도의 확대 레벨
	        };
	
	    //지도를 미리 생성
	    var map = new daum.maps.Map(mapContainer, mapOption);
	    //주소-좌표 변환 객체를 생성
	    var geocoder = new daum.maps.services.Geocoder();
	    //마커를 미리 생성
	    var marker = new daum.maps.Marker({
	        position: new daum.maps.LatLng(37.537187, 127.005476),
	        map: map
	    });
	
	
	    function api_execDaumPostcode() {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                var addr = data.address; // 최종 주소 변수
	
	                // 주소 정보를 해당 필드에 넣는다.
	                document.getElementById("api_address").value = addr;
	                // 주소로 상세 정보를 검색
	                geocoder.addressSearch(data.address, function(results, status) {
	                    // 정상적으로 검색이 완료됐으면
	                    if (status === daum.maps.services.Status.OK) {
	
	                        var result = results[0]; //첫번째 결과의 값을 활용
	                        // 해당 주소에 대한 좌표를 받아서
	                        coords = new daum.maps.LatLng(result.y, result.x);
						    
						   var lon = coords[Object.keys(coords)[0]];
						   var lat = coords[Object.keys(coords)[1]];
 							console.log("============위도" + lat);
							console.log("============경도" + lon);
							$('#api_address').val(addr);
							$('#api_address_lat').val(lat);
							$('#api_address_lon').val(lon);


	                        // 지도를 보여준다.
	                        mapContainer.style.display = "block";
	                        map.relayout();
	                        // 지도 중심을 변경한다.
	                        map.setCenter(coords);
	                        // 마커를 결과값으로 받은 위치로 옮긴다.
	                        marker.setPosition(coords)
	                    }
	                });
	            }
	        }).open();
	        
	    }
	    
			$('#submitDone').click(function(){
				var addWarehouseForm = $('#addWarehouseForm');
				var submitFlag = true;				
				var name = $('#name').val();
				var address = $('#api_address').val();
				var category = $('#category').val();
				var area = $('#area').val();
				var phone = $('#phone');
				var regPhone = /^[0-9]{2,3}-[0-9]{3,4}-[0-9]{4}/.test(phone.val());
				var regNumber = $('#regNumber').val();
				

				
				/************************************창고명 입력여부 검사 ************************************/
				if(name == null || name == '' || name == undefined){
					alert('창고명을 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 소재지 입력여부 검사 ************************************/
				}else if(address == null || address == '' || address == undefined){
					alert('창고 소재지를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 종류 입력여부 검사 ************************************/
				}else if(category == null || category == '' || category == undefined){
					alert('창고 종류를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 면적 입력여부 검사 ************************************/
				}else if(area == null || area == '' || area == undefined){
					alert('창고 면적을 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************창고 연락처 입력여부 검사 ************************************/
				}else if(phone == null || phone == '' || phone == undefined){
					alert('창고 연락처를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
				
				/************************************창고 연락처 유효성 검사 ************************************/
				}else if(!regPhone){
					alert('연락처를  -  포함하여 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
					
				/************************************사업자 등록번호 입력여부 검사 ************************************/
				}else if(regNumber == null || regNumber == '' || regNumber == undefined){
					alert('사업자 등록번호를 다시 입력해주세요.');
					$(this).focus();
					submitFlag = false;
					return submitFlag;
				}

				if(submitFlag) {
					$('#area').val($('#area').val() + ' ㎡');
					$('#addWarehouseForm').submit();
				}
			});
			/************************************텍스트 박스 글자 수 카운트************************************/
			$(function() {
				$('#characterLeftaddWare').text('50 characters left');
				$('#detail').keydown(function () {
					var max = 50;
					var len = $(this).val().length;
					if (len >= max) {
						$('#characterLeftaddWare').text('You have reached the limit');
						$('#characterLeftaddWare').addClass('red');
						$('#btnSubmit').addClass('disabled');            
					} 
					else {
						var ch = max - len;
						$('#characterLeftaddWare').text(ch + ' characters left');
						$('#btnSubmit').removeClass('disabled');
						$('#characterLeftaddWare').removeClass('red');            
					}
				});
			});
	</script>
</th:block>
</html>