<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">견적</li>
		<li class="breadcrumb-item active">견적신청</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
<div class="main-container">
	<div class="row gutters justify-content-center">
		<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
			
			<div class="card h-100" >
				<div class="card-header">
					<div class="card-title"> 견적신청 </div>
				</div>
			
				<div class="card-body">
					<div class="row gutters">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
						
							<div class="form-group">
								<label for="name">업체명</label>
								<input type="text" class="form-control" id="name" name="companyName" value="업체명" readonly />
							</div>
							
							<div class="form-group">
								<label for="manager">아이디</label>
								<input type="text" class="form-control" id="manager" name="companyManager" value="아이디" readonly/>
							</div>
							
							<div class="form-group">
								<label for="companyProduct">품목</label>
								<input type="text" class="form-control" id="companyProduct" placeholder="취급하고 있는 상품 품목을 입력해주세요."/>
							</div>
							
						
							<div class="form-group">
								<label for="counselTime">상담가능 시간</label>
								<input type="text" class="form-control" id="counselTime" placeholder="상담가능한 시간을 입력해주세요."/>
							</div>
						</div>
						
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="phone">담당자 연락처</label>
								<input type="text" class="form-control" id="phone" name="companyPhone" value="담당자 연락처" readonly/>
							</div>
							<div class="form-group">
								<label for="sectors">업종</label>
								<select class="custom-select" id="sectors">
									<option selected>미선택</option>
									<option value="식/음료">식/음료</option>
									<option value="수리/인테리어">수리/인테리어</option>
									<option value="스포츠 용품">스포츠 용품</option>
									<option value="유아용품">유아용품</option>
									<option value="전자제품">전자제품</option>
									<option value="건강/뷰티">건강/뷰티</option>
									<option value="의류 및 악세서리">의류 및 악세서리</option>
								</select>
							</div>
							<div class="form-group">
								<label for="industries">직원 수</label>
								<select class="custom-select" id="industries">
									<option selected>미선택</option>
									<option value="20">0 ~ 20</option>
									<option value="50">21 ~ 50</option>
									<option value="80">51 ~ 80</option>
									<option value="100">81 ~ 100</option>
								</select>
							</div>
						</div>	
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="text-right">
								<button type="button" id="submit" class="btn btn-primary">신청완료</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
				<!-- Main container end -->

</th:block>
		
</html>