<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Home</li>
		<li class="breadcrumb-item active">견적신청</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
<div class="main-container">
	<div class="row gutters justify-content-center">
		<div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
			
			<div class="card h-100" >
				<div class="card-header">
					<div class="card-title"> 견적신청 </div>
				</div>
			
				<div class="card-body">
					<div class="row gutters">
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="companyName">업체명</label>
								<input type="text" class="form-control" id="companyName" placeholder="업체명을 입력해주세요."/>
							</div>
							<div class="form-group">
								<label for="companyPhone">휴대폰 번호</label>
								<input type="text" class="form-control" id="companyPhone" placeholder="번호를 '-' 없이 숫자만 입력해주세요."/>
							</div>
							<div class="form-group">
								<label for="industries">업종</label>
								<select class="custom-select" id="industries">
									<option selected>미선택</option>
									<option value="의류">의류</option>
									<option value="신발">신발</option>
									<option value="가방">가방</option>
									<option value="서적">서적</option>
									<option value="애견용품">애견용품</option>
									<option value="사무/문구">사무/문구</option>
									<option value="식료품">식료품</option>
									<option value="화장품">화장품</option>
									<option value="유아용품">유아용품</option>
									<option value="음반/비디오/악기">음반/비디오/악기</option>
									<option value="스포츠/레져용품">스포츠/레져용품</option>
									<option value="생활/가구">생활/가구</option>
									<option value="전자기기">전자기기</option>
								</select>
							</div>
							<div class="form-group">
								<label for="dailySales">일일 판매수량</label>
								<input type="text" class="form-control" id="dailySales" placeholder="쇼핑몰사업자 연락처"/>
							</div>
							<div class="form-group">
								<label for="companyAddr">주소</label>
									<input type="text" class="form-control" id="companyAddr" placeholder="주소를 입력해주세요."/>
							</div>
						</div>
						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
							<div class="form-group">
								<label for="companyManager">담당자명</label>
								<input type="text" class="form-control" id="companyManager" placeholder="성함을 입력해주세요."/>
							</div>
							<div class="form-group">
								<label for="companyEmail">이메일 주소</label>
								<input type="email" class="form-control" id="companyEmail" placeholder="이메일 주소를 입력해주세요."/>
							</div>
							<div class="form-group">
								<label for="companyProduct">품목</label>
								<input type="text" class="form-control" id="companyProduct" placeholder="취급하고 있는 상품 품목을 입력해주세요."/>
							</div>
							<div class="form-group">
								<label for="counselTime">상담가능 시간</label>
								<input type="text" class="form-control" id="counselTime" placeholder="상담가능한 시간을 입력해주세요."/>
							</div>
							<div class="form-group">
								<label for="industries">직원 수</label>
								<select class="custom-select" id="industries">
									<option selected>미선택</option>
									<option value="20">0 ~ 20</option>
									<option value="50">21 ~ 50</option>
									<option value="80">51 ~ 80</option>
									<option value="100">81 ~ 100</option>
								</select>
							</div>
						</div>	
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="text-right">
								<button type="button" id="submit" name="submit" class="btn btn-primary">신청완료</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
				<!-- Main container end -->

</th:block>
		
</html>