<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">고객센터</li>
		<li class="breadcrumb-item active">문의게시판</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
	<div class="main-container">
		<!-- Row start -->
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
		<!-- 문의게시판 리스트 시작 -->
		
				<div class="table-container">
					<div class="t-header">문의게시판</div>
					<div class="table-responsive">
						<div th:include="inquiry/searchInquiry :: searchInquiryFragment"></div><br>
					
						<table id="basicExample" class="table custom-table m-0">
							<thead>
								<tr>
									<th>
										<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
									</th>
									<th class="inquiryNumber">번호</th>
									<th class="inquirySubject">제목</th>
									<th class="inquirywriter">작성자</th>
									<th class="inquiryViews">조회수</th>
									<th class="inquiryRegDate">등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${#lists.size(inquiryList)>0}" th:each="l : ${inquiryList}" >
									<td>
										<input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" th:value="${l.boardQnaCode}">
									</td>
									<td th:text="${l.boardQnaCode}"></td>
									<td>
										<a th:href="@{/readInquiry(boardQnaCode=${l.boardQnaCode})}" th:value="${l.boardQnaCode}" th:text="${l.boardQnaSubject}"></a>
									</td>
									<td th:text="${l.boardQnaWriter}"></td>
									<td th:text="${l.boardQnaViews}"></td>
									<td th:text="${l.boardQnaRegDate}"></td>
								</tr>
							</tbody>
			    	</table>
			    	<div class="writeInquireBtn custom-btn-group">
						<button type="button" class="btn btn-primary" th:onclick="@{location.href='writeInquiry'}">글쓰기</button>
			    	</div>
					</div>
				</div>
				<!-- 문의게시판  리스트 끝 -->
			</div>
		</div>
		<!-- Row start -->
	</div>
	<!-- Main container end -->

</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(function() {
			var start = moment().subtract(29, 'days');
			var end = moment();
			function cb2(start, end) {
				$('#firstDate').html(start.format('YYYY-MM-DD'));
				$('#firstDate').val($('#firstDate').text());
				$('#secondDate').html(end.format('YYYY-MM-DD'));
				$('#secondDate').val($('#secondDate').text());
			}
			$('#reportrangeCustom').daterangepicker({
				
				opens: 'left',
				startDate: start,
				endDate: end,
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
			}, cb2);
		});
		
		/********시작일********/
		function firstDateKey(){
			if(event.keyCode != 8){
				if($('#firstDate').val().replace(/[0-9 \-]/g, "").length == 0){
					var ymd = '';
					var firstDateValue = $('#firstDate').val().replace(/[^0-9]/g,'');
					var firstDateLength = firstDateValue.length;
					if(firstDateLength < 4){
						return 	;
					}else if(firstDateLength < 6){
						ymd += firstDateValue.substr(0, 4);
						ymd += '-';
						ymd += firstDateValue.substr(4);
					}else{
						ymd += firstDateValue.substr(0, 4);
						ymd += '-';
						ymd += firstDateValue.substr(4, 2);
						ymd += '-';
						ymd += firstDateValue.substr(6);
					}
					$('#firstDate').val(ymd);
				}else{
					alert('숫자 이외의 값은 입력하실 수 없습니다.');
					$('#firstDate').val('');
				}
			}
		};
		
		/********종료일********/
		function secondDateKey(){
			if(event.keyCode != 8){
				if($('#secondDate').val().replace(/[0-9 \-]/g, "").length == 0){
					var ymd = '';
					var secondDateValue = $('#secondDate').val().replace(/[^0-9]/g,'');
					var secondDateLength = secondDateValue.length;
					if(secondDateLength < 4){
						return 	;
					}else if(secondDateLength < 6){
						ymd += secondDateValue.substr(0, 4);
						ymd += '-';
						ymd += secondDateValue.substr(4);
					}else{
						ymd += secondDateValue.substr(0, 4);
						ymd += '-';
						ymd += secondDateValue.substr(4, 2);
						ymd += '-';
						ymd += secondDateValue.substr(6);
					}
					$('#secondDate').val(ymd);
				}else{
					alert('숫자 이외의 값은 입력하실 수 없습니다.');
					$('#secondDate').val('');
				}
			}
		};

	</script>
</th:block>		
</html>