<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">고객관리</li>
		<li class="breadcrumb-item active">자주 묻는 질문</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
		<div class="main-container">

			<!-- Row start -->
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

					<div class="accordion toggle-icons lg" id="toggleIcons">
						<div class="accordion-container">
							<div class="accordion-header" id="toggleIconsOne">
								<a  href="" class="" data-toggle="collapse" data-target="#toggleIconsCollapseOne" aria-expanded="true" aria-controls="toggleIconsCollapseOne">
									풀필먼트란 무엇인가요
								</a>
							</div>
							<div id="toggleIconsCollapseOne" class="collapse show" aria-labelledby="toggleIconsOne" data-parent="#toggleIcons">
								<div class="accordion-body">
									<p>풀필먼트는 물류 전문업체가 판매자 대신 주문에 맞춰 제품을 선택하고 포장한 뒤 배송까지 담당하는 서비스입니다. 즉, 주문한 상품이 물류창고를 거쳐 고객에게 배달 완료되기까지의 전 과정을 일괄처리하는 것입니다. 여기서의 과정은 판매할 상품을 창고에 들여와서 보관하고 제품을 골라 포장하고 배송하는 것을 말합니다. 추가로 교환이나 환불 서비스도 포함됩니다.</p>
								</div>
							</div>
						</div>
						<div class="accordion-container">
							<div class="accordion-header" id="toggleIconsTwo">
								<a  href="" class="collapsed" data-toggle="collapse" data-target="#toggleIconsCollapseTwo" aria-expanded="false" aria-controls="toggleIconsCollapseTwo">
									풀필먼트가 서비스가 부각되는 이유는 무엇인가요
								</a>
							</div>
							<div id="toggleIconsCollapseTwo" class="collapse" aria-labelledby="toggleIconsTwo" data-parent="#toggleIcons">
								<div class="accordion-body">
									<P> 온라인 유통 시장의 생명은 배송입니다. 특히 사업이 일정 수준으로 성장한 사업자라거나, 소상공인일 경우 직접 물류팀을 가동하는 데 많은 애를 먹게 됩니다.

										물류의 경우 많은 비용이 투입되기 마련이고, 업무 자체도 상당히 전문적이어서 접근이 쉽지 않기 때문이죠. 사실상 이들 업체가 물류 업무에 직접 나서기란 쉽지 않습니다.
										
										이럴 때 물류 업무를 대행하는 아웃소싱 개념의 풀필먼트 서비스를 이용하면 사업자 입장에서 물류 고민을 단번에 해결할 수 있습니다. 물류 비용을 절감하는 것은 물론, 상품 기획 및 마케팅에만 집중할 수 있죠.
										
										특히 풀필먼트 서비스는 온라인 쇼핑몰 등 다품종 소량의 상품을 제공하는 경우에 매우 적합하다는 것이 업계 중론입니다. 쇼핑몰 이용 고객들은 다양한 종류의 상품을 소량으로 구매하는 경우가 많고, 주문 빈도도 잦기 때문입니다.
										
										앞으로도 많은 업체들은 고객에 신속하면서도 정확한 물류 서비스 대응을 위해 풀필먼트 서비스를 적극 이용할 것으로 보입니다. 이커머스 시장과 함께 풀필먼트 서비스의 성장이 전망되는 이유기도 합니다.
									</P>
								</div>
							</div>
						</div>
						<div class="accordion-container">
							<div class="accordion-header" id="toggleIconsThree">
								<a  href="" class="collapsed" data-toggle="collapse" data-target="#toggleIconsCollapseThree" aria-expanded="false" aria-controls="toggleIconsCollapseThree">
									어떤 분들에게 더욱 효과적인가요?
								</a>
							</div>
							<div id="toggleIconsCollapseThree" class="collapse" aria-labelledby="toggleIconsThree" data-parent="#toggleIcons">
								<div class="accordion-body">
									<p>특히나 혼자서 1인 쇼핑몰을 운영하면서 주문량이 점점 늘어나게 되면 재고를 관리하고
										주문량에 맞춰서 배송을 빠르게 진행하기 어려워지기 때문에
										이러한 서비스를 이용하시는 것이 매우 도움이 됩니다
										
										처음 쇼핑몰을 운영하시는 분들의 경우, 혼자서는 서비스나 제품 등
										신경 써야 될 부분이 많기 때문에 부담이 크고 버겁기 마련인데요
										제품의 재고관리와 배송을 신경 쓰지 않는 것만으로도 쇼핑몰 운영에 있어서 큰 부담이 줄어듭니다
										판매하는 제품과 신제품 등에 대한 고민을 해서
										쇼핑몰 성장에 훨씬 도움이 되는 것이죠
									</p>
								</div>
							</div>
						</div>
						<div class="accordion-container">
							<div class="accordion-header" id="toggleIconsFour">
								<a  href="" class="collapsed" data-toggle="collapse" data-target="#toggleIconsCollapseFour" aria-expanded="false" aria-controls="toggleIconsCollapseFour">
									풀필먼트가 경쟁력이 있나요?
								</a>
							</div>
							<div id="toggleIconsCollapseFour" class="collapse" aria-labelledby="toggleIconsFour" data-parent="#toggleIcons">
								<div class="accordion-body">
									<p>코로나 시대도 그렇지만 앞으로 온라인 시장은
										계속해서 발전될 전망입니다 물론 요즘은 예쁘고 이색적인 오프라인
										쇼핑공간이 인기를 얻고 있지만 많은 분들이 이미 온라인에서 쇼핑하는 것에 익숙해졌습니디
										
										집에 가만히 있더라도 스마트폰을 사용해서 원하는 제품을 결제하고
										빠르게 배송으로 받아볼 수 있기 때문에 이 편리함에 익숙해지고 있습니다
										온라인 쇼핑 시장은 계속해서 발전해 나갈 것으로 보입니다
										
										그렇기 때문에 앞으로는 어떠한 서비스를 어떻게 조금 더 빠르고 편한 서비스를
										제공하느냐에 따라서 경쟁력이
										달라질 수 있습니다
										</p>
								</div>
							</div>
						</div>
						<div class="accordion-container">
							<div class="accordion-header" id="toggleIconsFive">
								<a  href="" class="collapsed" data-toggle="collapse" data-target="#toggleIconsCollapseFive" aria-expanded="false" aria-controls="toggleIconsCollapseFive">
									질문5
								</a>
							</div>
							<div id="toggleIconsCollapseFive" class="collapse" aria-labelledby="toggleIconsFive" data-parent="#toggleIcons">
								<div class="accordion-body">
									<p>답변5</p>
								</div>
							</div>
						</div>
						<div class="accordion-container">
							<div class="accordion-header" id="toggleIconsSix">
								<a  href="" class="collapsed" data-toggle="collapse" data-target="#toggleIconsCollapseSix" aria-expanded="false" aria-controls="toggleIconsCollapseSix">
									질문6
								</a>
							</div>
							<div id="toggleIconsCollapseSix" class="collapse" aria-labelledby="toggleIconsSix" data-parent="#toggleIcons">
								<div class="accordion-body">
									<p>답변6</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Row end -->

		</div>
	<!-- Main container end -->

</th:block>
		
</html>