<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">고객관리</li>
		<li class="breadcrumb-item active">문의게시판</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
<style>
	.deleteInquiryBtn {margin: 5px;}
</style>

	<!-- Main container start -->
	<div class="main-container">

		<!-- Row start -->
		<div class="row gutters justify-content-center">
			<div class="col-xl-5 col-lg-5 col-md-6 col-sm-6 col-12">

					<div class="card m-0">
						<div class="card-header">
							<div class="card-sub-title">문의게시판</div>
							
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="boardQnaCode" class="col-form-label">번호</label>
								<input type="text" id="boardQnaCode" th:value="${readInquiry.boardQnaCode}" readonly class="form-control boardQnaCode">
							</div>
							<div class="form-group">
								<label for="boardQnaSubject" class="col-form-label">제목</label>
								<input type="text" id="boardQnaSubject" th:value="${readInquiry.boardQnaSubject}" readonly class="form-control">
							</div>
							<div class="form-group">
								<label for="boardQnaWriter" class="col-form-label">작성자</label>
								<input type="text" id="boardQnaWriter" th:value="${readInquiry.boardQnaWriter}" readonly class="form-control">
							</div>
							<div class="form-group">
								<label for="boardQnaContent" class="col-form-label">내용</label>
							 	<textarea id="boardQnaContent" readonly class="form-control" th:text="${readInquiry.boardQnaContent}" rows="20" ></textarea>
								
							</div>
							
						</div>
					</div>
							<!-- <button type="button" id="deleteInquiryBtn" class="btn btn-primary float-right" style="margin: 5px;">삭제</button> -->
						  	<a type="button" class="btn btn-primary float-right deleteInquiryBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">삭제</a>
							
							<a th:href="@{/modifyInquiry(boardQnaCode=${readInquiry.boardQnaCode})}" class="btn btn-primary float-right"style="margin: 5px;">수정</a>
							<!-- <button type="submit" id="modifyBtn" class="btn btn-primary float-right" style="margin: 5px;">수정</button> -->


				<!--댓글목록 -->
				<div class="media comments" th:each="l:${inquiryReply}">
					<div class="media-body">
						<input style="display: none;" class="replyCommentCode" th:value="${l.replyCommentCode}">
						<h5 class="mt-0 media-heading" th:text="${l.memberId}"><span class="date"></span></h5>
						<p th:text="${l.replyCommentContent}"></p>
						<div class="comments-footer clearfix">
							<ul>
								<li>
									<a type="button" id="deleteReply" class="btn btn-outline-primary float-right deleteReply">댓글 삭제</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--댓글 목록  -->
					<!-- 댓글작성 -->
					<div class="clearfix comments-form">
						<div class="form-group">
							<label class="control-label"><b>댓글달기</b></label>
							<textarea id="replyContent" class="form-control textarea" rows="3" placeholder="내용을 적어주세요"></textarea>
						</div>
						<div class="form-group clearfix">
							<button id="insertBtn" class="btn btn-primary float-right insertBtn">댓글달기</button>
						</div>
					</div>
				<!-- 댓글작성 -->
				
	
			</div>
		</div>
		<!-- Row end -->

	</div>
	<!-- Main container end -->
	<!--게시물 삭제 모달  -->
	<form th:action="@{/deleteInquiry}" method="POST" id="deleteInquiryForm">
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myLargeModalLabel">문의글 삭제</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<input style="display: none;" type="text" class="form-control" name="boardQnaCode" id="boardQnaCodeModal" >
						<label for="boardQnaPassword">비밀번호 확인</label>	
							<input type="text" class="form-control" id="boardQnaPassword" name="boardQnaPassword" placeholder="비밀번호를 입력해주세요" >
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
						<button id="deleteCompleteBtn" type="submit" name="submit"  class="btn btn-primary">삭제</button>
					</div>
				</div>
			</div>
		</div>
	</form>			
		
</th:block>
<th:block layout:fragment="customJs">
	<script>

	
		$(function(){
			$('.insertBtn').click(function(){
 				var replyContent = $('#replyContent').val();
 				var boardQnaCode = $('#boardQnaCode').val();
 				if(replyContent==null||replyContent==''||replyContent==undefined){
					alert('내용을 입력해주세요') 					
 				}else{
 					
	 				var request = $.ajax({
	 					  url: "/readInquiryinfo",
	 					  method: "GET",
	 					  data: { 'replyContent' : replyContent,
	 							  'boardQnaCode' : boardQnaCode
	 							},
	 					  dataType: "text"
	 					});
	 					 
	 					request.done(function( data ) {
	 						
							alert('성공적으로 댓글이 달렸습니다');
							location.reload();
	 					});
	 					 
	 					request.fail(function( jqXHR, textStatus ) {
	 					  alert( "Request failed: " + textStatus );
	 					});
 				}	
			});

		});

/* 		//게시글삭제
		$('#deleteCompleteBtn').click(function(){
			var boardQnaCode = $('#boardQnaCode').val();
			var boardQnaPassword = $('#boardQnaPassword').val();
			if(boardQnaPassword==null||boardQnaPassword==''||boardQnaPassword==undefined){
				alert('비밀번호를 입력해주세요');
			}else{
				var chk = confirm('정말로 삭제하시겠습니까?')
				if(chk){
					var request = $.ajax({
	 					  url: "/deleteInquiry",
	 					  method: "POST",
	 					  data: { boardQnaCode : boardQnaCode,
	 							  boardQnaPassword : boardQnaPassword
	 							},
	 					  dataType: "JSON"
	 					});
	 					 
	 					request.done(function( data ) {
	 						
							alert('삭제되었습니다');
							location.replace("inquiryList");
	 					});
	 					 
	 					request.fail(function( jqXHR, textStatus ) {
	 					  alert( "Request failed: " + textStatus );
	 					});
				}
			}
		}) */
		
		$('.deleteReply').click(function(){
			var replyCommentCode = $('.replyCommentCode').val();
			var chk = confirm('정말 삭제하시겠습니까?');
				if(chk){
					$.ajax({
						url : "/deleteReply",
						method : 'post',
						async : true,
						dataType : "json",
						data : {replyCommentCode : replyCommentCode},
						success: function(jdata){
							if(jdata > 0){
								alert('삭제 되었습니다.');
								location.reload();
							}else{
								alert('오류 : 삭제 실패');
							}
						}
			    	});
				}else{
					return false;
			}
			
		})
		
		
		$('.deleteInquiryBtn').each(function(){
			$(this).click(function(){
				
				
				var boardQnaCodeData = $('.boardQnaCode').val();
				
				
				
				$('#boardQnaCodeModal').val(boardQnaCodeData);
			})
		})
		
		//게시글삭제
		$('#deleteCompleteBtn').click(function(){
			
		})
		
	</script>
</th:block>
</html>