<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">release</li>
		<li class="breadcrumb-item active">assignmentInformation</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<div class="main-container">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="table-container">
					<div class="t-header">배정정보</div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
							<thead>
								<tr>
								  <th>출고지시서코드</th>
								  <th>물류창고 최종보관 위치</th>
								  <th>상품코드</th>
								  <th>출고 시 배정차량</th>
								  <th>수량 단위</th>
								  <th>운송장 코드</th>
								  <th>출고예정일</th>
								  <th>등록일</th>
								  <th>기사아이디</th>
								  <th>출고상태</th>
								  <th>출고요청 코드</th>
								  <th>출고 등록/담당자</th>
								  <th>출고 등록/담당자</th>
								</tr>
							</thead>
							<tbody>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
							</tbody>
			    	</table>
					</div>
				</div>
			
			</div>
		</div>
	</div>

</th:block>
</html>