<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
	<th:block layout:fragment="pageTitle">
		<div class="page-header">
			<ol class="breadcrumb">
				<li class="breadcrumb-item">출고관리</li>
				<li class="breadcrumb-item active">출고 지시서</li>
			</ol>
		
			<ul class="app-actions">
				<li>
					<a href="#">
						<i class="icon-export"></i>
					</a>
				</li>
			</ul>
		</div>
	</th:block>
	<th:block layout:fragment="container">
		<div class="main-container">
			<div class="row gutters">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
					<div class="table-container">
						<div class="t-header">출고지시 목록</div>
						<div th:include="release/orderSearch :: searchFragment"></div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
								<thead>
									<tr>
									  <th>출고지시코드</th>
									  <th style="display: none;">출고창고코드</th>
									  <th>상품명</th> 
									  <th>수량</th>
									  <th>수령인</th>
									  <th>수령인 주소</th>
									  <th>수령인 연락처</th>
									  <th>출고요청인</th>
									  <th>출고지시일</th>
									  <th style="display: none;">배차관리코드</th>
									  <th style="display: none;">운송장코드</th>
									  <th style="display: none;">출고코드</th>
									  <th >배차등록</th>
									  <th>운송장등록</th>
									  <th>출고</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="r : ${release}">
									  <td th:text="${r.releaseOrderCode}" id="orderCodeData"></td>
									  <td th:text="${r.warehouseCode}" style="display: none;" id="releaseWarehouseCodeData"></td>
									  <td th:text="${r.product.productName}" id="productNameData"></td>
									  <td th:text="${r.releaseOrderQuantity}" id="OrderQuantityData"></td>
									  <td th:text="${r.recipientName}" id="recipientNameData"></td>
									  <td th:text="${r.recipientAddress}" id="recipientAddressData"></td>
									  <td th:text="${r.recipientPhone}" id="recipientPhoneData"></td>
									  <td th:text="${r.shoppingmallUserId}" id="shoppingmallUserIdData"></td>
									  <td th:text="${r.orderRegDate}"></td>
									  <td style="display: none;" th:text="${r.carManagement.driveManageCode}" id="driveManageCodeData"></td>
									  <td style="display: none;" th:text="${r.invoice.invoiceCode}" id="invoiceCodeData"></td>
									  <td style="display: none;" th:text="${r.releaseInfo.realReleaseCode}" id="releaseCodeData"></td>
									  <td>
									  	<a th:if="${r.carManagement.driveManageCode == null}" type="button" class="btn btn-primary carAddBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">배차등록</a>
									  	<a th:if="${r.carManagement.driveManageCode != null && r.releaseInfo.realReleaseCode == null}" type="button" class="btn btn-primary carModifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg2_1" id="viewModal" style="color: yellow;">배차수정</a>
									  	<a th:if="${r.carManagement.driveManageCode != null && r.releaseInfo.realReleaseCode != null}" type="button" class="btn btn-primary carModifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg2" id="viewModal" style="color: yellow;">배차수정</a>
								  	  </td>
								  	  <td>
								  	  	<a th:if="${r.carManagement.driveManageCode != null && r.invoice.invoiceCode == null}" type="button" class="btn btn-primary addInvoiceBtn" data-toggle="modal" data-target=".bd-example-modal-lg3" id="viewModal" style="color: white;">운송장등록</a>
								  	  	<a th:if="${r.invoice.invoiceCode != null && r.carManagement.driveManageCode != null}" type="button" class="btn btn-primary invoiceModifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg4" id="viewModal" style="color: yellow;">운송장수정</a>
								  	  	<a th:if="${r.carManagement.driveManageCode == null && r.invoice.invoiceCode == null}" type="button" class="btn btn-primary modifyBtnNotInvoice" style="color: white;" >운송장등록</a>
								  	  </td>
									  <td>
									  	<a th:if="${r.invoice.invoiceCode != null && r.releaseInfo.realReleaseCode == null}" type="button" class="btn btn-primary releaseBtn" data-toggle="modal" data-target=".bd-example-modal-lg5" id="viewModal" style="color: white;">출고승인</a>
									  	<a th:if="${r.invoice.invoiceCode == null }" type="button" class="btn btn-primary modifyBtnNotRelease"  style="color: white;">출고승인</a>
									  	<a th:if="${r.invoice.invoiceCode != null && r.releaseInfo.realReleaseCode != null}" type="button" class="btn btn-primary modifyBtnDoneRelease"  style="color: yellow;">출고완료</a>
								  	  </td>
									</tr>
								</tbody>
				    	</table>
				    	<a class="btn btn-primary float-right" th:href="@{/carManagementList}">배차목록</a>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
		<!-- 배차등록form -->
		<form th:action="@{/addDriveManagement}" method="post" id="addDriveForm">
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">배차등록</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="orderCodeModal">출고지시서코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="orderCodeModal" name="releaseOrderCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseWarehouseCodeModal">출고창고코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="releaseWarehouseCodeModal" name="" readonly="readonly" style="background-color: white;">
							</div>
							<div class="form-group">
								<label for="">배송기사</label>	
								<select class="form-control" id="" name="deliveryMemberId" required="required">
									<option value="">배송기사를 선택해주세요.</option>
								    <option th:each="d : ${delivery}" th:value="${d.deliveryMemberId}" th:text="|${d.deliveryMemberName}(담당창고코드: ${d.warehouseCode})|" ></option>
								</select>
							</div>
							<div class="form-group">
								<label for="">차량선택</label>	
								<select class="form-control" id="" name="releaseOrderCar" required="required">
									<option value="">차량을 선택해주세요.</option>
								    <option th:each="v : ${vehicle}" th:value="${v.carCode}" th:text="|${v.carKind}(${v.carNumber})|" th:if="${v.carStatus == '정상'}"></option>
								</select>
							</div>
							<input type="text" class="form-control" id="dispatchReason" name="dispatchReason" readonly="readonly" style="background-color: white; display: none;" value="상품출고">
							<label for="carUsingDate">차량사용날짜</label>
							<div class="form-group">
								<input type="date" class="form-control" id="carUsingDate" name="driveUsingDate" required="required">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" id="submitDone">등록</button>
						</div>
					</div>
				</div>
			</div>
		</form>		
		
		<!-- 배차수정form -->
		<form th:action="@{/modifyDriveManagement}" method="post" id="modityDriveForm">
			<div class="modal fade bd-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">배차수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="driveManageCodeModal">배차관리코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="driveManageCodeModal" name="driveManageCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="orderCodeModal">출고지시서코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="orderCodeModalForCar" name="releaseOrderCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseWarehouseCodeModal">출고창고코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="releaseWarehouseCodeModalForCar" name="" readonly="readonly" style="background-color: white;">
							</div>
							<div class="form-group">
								<label for="">배송기사</label>	
								<select class="form-control"  name="deliveryMemberId" required="required"  id="deliveryMemberIdModal"> 
									<option value="">배송기사를 선택해주세요.</option>
								    <option th:each="d : ${delivery}" th:value="${d.deliveryMemberId}" th:text="|${d.deliveryMemberName}(담당창고코드: ${d.warehouseCode})|"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="">차량선택</label>	
								<select class="form-control" id="releaseOrderCarModal" name="releaseOrderCar" required="required">
									<option value="">차량을 선택해주세요.</option>
								    <option th:each="v : ${vehicle}" th:value="${v.carCode}" th:text="|${v.carKind}(${v.carNumber})|" th:if="${v.carStatus == '정상'}"></option>
								</select>
							</div>
							<label for="carUsingDate">차량사용날짜</label>
							<div class="form-group">
								<input type="date" class="form-control" id="carUsingDateModal" name="driveUsingDate" required="required">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" >수정</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		
		<!-- 배차수정form(출고승인X) -->
		<form th:action="@{/modifyDriveManagementNotRelease}" method="post" id="modityNotReleaseDriveForm">
			<div class="modal fade bd-example-modal-lg2_1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">배차수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="driveManageCodeModalNot">배차관리코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="driveManageCodeModalNot" name="driveManageCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="orderCodeModalForCarNot">출고지시서코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="orderCodeModalForCarNot" name="releaseOrderCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseWarehouseCodeModalForCarNot">출고창고코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="releaseWarehouseCodeModalForCarNot" name="" readonly="readonly" style="background-color: white;">
							</div>
							<div class="form-group">
								<label for="">배송기사</label>	
								<select class="form-control"  name="deliveryMemberId" required="required"  id="deliveryMemberIdModalNot"> 
									<option value="">배송기사를 선택해주세요.</option>
								    <option th:each="d : ${delivery}" th:value="${d.deliveryMemberId}" th:text="|${d.deliveryMemberName}(담당창고코드: ${d.warehouseCode})|"></option>
								</select>
							</div>
							<div class="form-group">
								<label for="">차량선택</label>	
								<select class="form-control" id="releaseOrderCarModalNot" name="releaseOrderCar" required="required">
									<option value="">차량을 선택해주세요.</option>
								    <option th:each="v : ${vehicle}" th:value="${v.carCode}" th:text="|${v.carKind}(${v.carNumber})|" th:if="${v.carStatus == '정상'}"></option>
								</select>
							</div>
							<label for="carUsingDate">차량사용날짜</label>
							<div class="form-group">
								<input type="date" class="form-control" id="carUsingDateModalNot" name="driveUsingDate" required="required">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" >수정</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		
		<!-- 운송장등록 -->
		<form th:action="@{/addInvoice}" method="post" id="addInvoiceForm">
			<div class="modal fade bd-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">운송장 등록</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="orderCodeModal">배차관리코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="driveManageCodeInvoice" name="driveManageCode" readonly="readonly" style="background-color: white;" >
							</div>
							<label for="orderCodeModal">출고지시서코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="orderCodeInvoice" name="releaseOrderCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="orderCodeModal">배송기사</label>
							<div class="form-group">
								<input type="text" class="form-control" id="deliveryMemberIdInvoice" name="" readonly="readonly" style="background-color: white;">
							</div>
							<label for="orderCodeModal">배송예정일</label>
							<div class="form-group">
								<input type="date" class="form-control" id="deliveryDateData" name=""  style="background-color: white;" readonly="readonly">
							</div>
							<label for="productNameModal">배송상품  및 수량</label>
							<div class="form-group">
								<input type="text" class="form-control" id="productNameModal" name="" readonly="readonly" style="background-color: white;">
							</div>
							<label for="recipientNameModal">수령인</label>
							<div class="form-group">
								<input type="text" class="form-control" id="recipientNameModal" name="invoiceName" required="required">
							</div>
							<label for="recipientAddressModal">주소</label>
							<div class="form-group">
								<input type="text" class="form-control" id="recipientAddressModal" name="invoiceAddress" required="required">
							</div>
							<label for="recipientPhoneModal">연락처</label>
							<div class="form-group">
								<input type="text" class="form-control" id="recipientPhoneModal" name="invoicePhone" required="required">
							</div>
							<input type="text" id="shoppingmallUserIdModal" name="shopUserId" style="display: none;">
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" >등록</button>
						</div>
					</div>
				</div>
			</div>
		</form>	
				
		<!-- 운송장수정 -->
		<form th:action="@{/modifyInvoiceInfo}" method="post" id="modifyInvoiceForm">
			<div class="modal fade bd-example-modal-lg4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">운송장 수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="invoiceCodeModal">운송장코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="invoiceCodeModal" name="invoiceCode" readonly="readonly" style="background-color: white;" >
							</div>	
							<label for="recipientNameModal2">수령인</label>
							<div class="form-group">
								<input type="text" class="form-control" id="recipientNameModify" name="invoiceName" required="required">
							</div>
							<label for="recipientAddressModal2">주소</label>
							<div class="form-group">
								<input type="text" class="form-control" id="recipientAddressModify" name="invoiceAddress" required="required">
							</div>
							<label for="recipientPhoneModal2">연락처</label>
							<div class="form-group">
								<input type="text" class="form-control" id="recipientPhoneModify" name="invoicePhone" required="required">
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" >수정</button>
						</div>
					</div>
				</div>
			</div>
		</form>		
		
		<!-- 출고등록 -->
		<form th:action="@{/addRelease}" method="post" id="addReleaseForm">
			<div class="modal fade bd-example-modal-lg5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">출고</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<label for="orderCodeForRelease">출고지시서코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="orderCodeForRelease" name="releaseOrderCode" readonly="readonly" style="background-color: white;">
							</div>
							<label for="warehouseCodeForRelease">출고창고</label>
							<div class="form-group">
								<input type="text" class="form-control" id="warehouseCodeForRelease" name="" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseFinalSector">출고물품섹터코드</label>
							<div class="form-group">
								<input type="text" class="form-control" id="releaseFinalSector" name="releasesFinalSector" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseQuantity">출고상품명</label>
							<div class="form-group">
								<input type="text" class="form-control" id="releaseProductName" name="" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseQuantity">실제출고수량</label>
							<div class="form-group">
								<input type="text" class="form-control" id="releaseQuantity" name="releaseRealAmount" readonly="readonly" style="background-color: white;">
							</div>
							<label for="releaseDate">실제출고일</label>
							<div class="form-group">
								<input type="date" class="form-control" id="releaseDate" name="releaseRealDate"  style="background-color: white;" readonly="readonly">
							</div>
							<input type="hidden" name="warehouseCode" id="releaseWarehouse" >
							<input type="hidden"  id="releaseProductCode" name="productCode" >
							<input type="hidden"  id="releaseRequestCode" name="releaseRequestCode" >
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" id="releaseSubmit">확인</button>
						</div>
					</div>
				</div>
			</div>
		</form>				
				
	</th:block>
	
<th:block layout:fragment="customJs">
	<script>
		/********배차등록화면********/
		$('.carAddBtn').each(function(){
			$(this).click(function(){
				var releaseOrderCode = $(this).parents('tr').children('#orderCodeData').text();
				if(releaseOrderCode != null){
					$.ajax({
						url : "getOrderInfo",
						method : 'get',
						async : true,
						dataType : "json",
						data : {'releaseOrderCode':releaseOrderCode},
						success: function(data){
							if(data != null && data != '' && data != undefined){
								$('#orderCodeModal').val(data[0].releaseOrderCode);
								$('#releaseWarehouseCodeModal').val(data[0].warehouseCode);
							}else{
								alert('오류발생');
							}
						}
					})
				}
			})
		});
		
		/********배차수정화면********/
		$('.carModifyBtn').each(function(){
			$(this).click(function(){
				var driveManageCode = $(this).parents('tr').children('#driveManageCodeData').text();
				var releaseWarehouseCodeData = $(this).parents('tr').children('#releaseWarehouseCodeData').text();
				$('#releaseWarehouseCodeModalForCar').val(releaseWarehouseCodeData);
				$('#releaseWarehouseCodeModalForCarNot').val(releaseWarehouseCodeData);
				if(driveManageCode != null){
					$.ajax({
						url : "getDriveManagement",
						method : 'get',
						async : true,
						dataType : "json",
						data : {'driveManageCode':driveManageCode},
						success: function(data){
							if(data != null && data != '' && data != undefined){
								console.log(data);
								$('#driveManageCodeModal').val(data[0].driveManageCode); 
								$('#driveManageCodeModalNot').val(data[0].driveManageCode); 
								$('#orderCodeModalForCar').val(data[0].releaseOrderCode); 
								$('#orderCodeModalForCarNot').val(data[0].releaseOrderCode); 
								$('#deliveryMemberIdModal').val(data[0].deliveryMemberId); 
								$('#deliveryMemberIdModalNot').val(data[0].deliveryMemberId); 
								$('#releaseOrderCarModal').val(data[0].releaseOrderCar); 
								$('#releaseOrderCarModalNot').val(data[0].releaseOrderCar); 
								$('#carUsingDateModal').val(data[0].driveUsingDate); 
								$('#carUsingDateModalNot').val(data[0].driveUsingDate); 
							}else{
								alert('오류발생');
							}
						}
					})
				}
			})
		});
		
		/********운송장등록화면********/
		$('.addInvoiceBtn').each(function(){
			$(this).click(function(){
				var driveManageCode = $(this).parents('tr').children('#driveManageCodeData').text();
				if(driveManageCode != null){
					$.ajax({
						url : "addInvoiceInfo",
						method : 'get',
						async : true,
						dataType : "json",
						data : {'driveManageCode':driveManageCode},
						success: function(data){
							if(data != null && data != '' && data != undefined){
								$('#driveManageCodeInvoice').val(data[0].driveManageCode);
								$('#orderCodeInvoice').val(data[0].release.releaseOrderCode);
								$('#deliveryMemberIdInvoice').val(data[0].deliveryMemberId);
								$('#deliveryDateData').val(data[0].driveUsingDate);
								$('#productNameModal').val(data[0].product.productName + '(' + data[0].release.releaseOrderQuantity + ')');
								$('#recipientNameModal').val(data[0].release.recipientName);
								$('#recipientAddressModal').val(data[0].release.recipientAddress);
								$('#recipientPhoneModal').val(data[0].release.recipientPhone);
								$('#shoppingmallUserIdModal').val(data[0].release.shoppingmallUserId);
							}else{
								alert('오류발생');
							}
						}
					})
				}
			})
		});
		
		/********운송장수정화면********/
		$('.invoiceModifyBtn').each(function(){
			$(this).click(function(){
				var invoiceCode = $(this).parents('tr').children('#invoiceCodeData').text();
				if(invoiceCode != null){
					$.ajax({
						url : "getInvoiceInfo",
						method : 'get',
						async : true,
						dataType : "json",
						data : {'invoiceCode':invoiceCode},
						success: function(data){
							if(data != null && data != '' && data != undefined){
								$('#invoiceCodeModal').val(data[0].invoiceCode);
								$('#recipientNameModify').val(data[0].invoiceName);
								$('#recipientAddressModify').val(data[0].invoiceAddress);
								$('#recipientPhoneModify').val(data[0].invoicePhone);
							}else{
								alert('오류발생');
							}
						}
					})
				}
			})
		});
		
		/********출고승인화면********/
		$('.releaseBtn').each(function(){
			$(this).click(function(){
				var releaseOrderCode = $(this).parents('tr').children('#orderCodeData').text();
				if(releaseOrderCode != null){
					$.ajax({
						url : "addReleaseInfo",
						method : 'get',
						async : true,
						dataType : "json",
						data : {'releaseOrderCode':releaseOrderCode},
						success: function(data){
							if(data != null && data != '' && data != undefined){
								$('#orderCodeForRelease').val(data[0].releaseOrderCode); 
								$('#warehouseCodeForRelease').val(data[0].warehouseName + '(' + data[0].warehouseCode + ')'); 
								$('#releaseWarehouse').val(data[0].warehouseCode); 
								$('#releaseFinalSector').val(data[0].releasesFinalSector); 
								$('#releaseProductName').val(data[0].product.productName); 
								$('#releaseQuantity	').val(data[0].releaseOrderQuantity); 
								$('#releaseDate	').val(data[0].carManagement.driveUsingDate); 
								$('#releaseQuantity	').val(data[0].releaseOrderQuantity); 
								$('#releaseProductCode').val(data[0].productCode); 
								$('#releaseRequestCode').val(data[0].releaseCode); 
							}else{
								alert('오류발생');
							}
						}
					})
				}
			})
		});
		
		$('#addDriveForm').submit(function(){
			alert('배차가 등록되었습니다.');
		});
		$('#modityDriveForm').submit(function(){
			alert('수정이 완료되었습니다.');
		});
		$('#modityNotReleaseDriveForm').submit(function(){
			alert('수정이 완료되었습니다.');
		});
		$('#addInvoiceForm').submit(function(){
			alert('운송장이 등록되었습니다.');
		});
		$('#modifyInvoiceForm').submit(function(){
			alert('수정이 완료되었습니다.');
		});

		$('.modifyBtnNotInvoice').each(function(){
			$(this).click(function(){
				alert('배차 등록 후 운송장 등록이 가능합니다.');
			})
		});
		
		$('.modifyBtnNotRelease').each(function(){
			$(this).click(function(){
				alert('배차 및 운송장 등록 후 출고가 가능합니다.');
			});
		});
		
		$('.modifyBtnDoneRelease').each(function(){
			$(this).click(function(){
				var releaseCodeData = $(this).parents('tr').children('#releaseCodeData').text();
				alert('출고승인 완료된 항목입니다. 출고리스트에서 확인해주세요. \n (출고코드 : ' +releaseCodeData+ ')');
			})
		});
		
		$('#releaseSubmit').click(function(){
			var chk = confirm('출고요청을 승인하시겠습니까?');
			if(chk){
				$('#addReleaseForm').submit(function(){
					alert('출고요청이 승인되었습니다.');
				})
			}else{
				return false;
			}
		});
		
		/********날짜선택********/
		$(function() {
			var start = moment().subtract(29, 'days');
			var end = moment();
			function cb2(start, end) {
				$('#firstDate').html(start.format('YYYY-MM-DD'));
				$('#firstDate').val($('#firstDate').text());
				$('#secondDate').html(end.format('YYYY-MM-DD'));
				$('#secondDate').val($('#secondDate').text());
			}
			$('#reportrangeCustom').daterangepicker({
				
				opens: 'left',
				startDate: start,
				endDate: end,
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
			}, cb2);
		});
		
		/********시작일********/
		function firstDateKey(){
			if(event.keyCode != 8){
				if($('#firstDate').val().replace(/[0-9 \-]/g, "").length == 0){
					var ymd = '';
					var firstDateValue = $('#firstDate').val().replace(/[^0-9]/g,'');
					var firstDateLength = firstDateValue.length;
					if(firstDateLength < 4){
						return 	;
					}else if(firstDateLength < 6){
						ymd += firstDateValue.substr(0, 4);
						ymd += '-';
						ymd += firstDateValue.substr(4);
					}else{
						ymd += firstDateValue.substr(0, 4);
						ymd += '-';
						ymd += firstDateValue.substr(4, 2);
						ymd += '-';
						ymd += firstDateValue.substr(6);
					}
					$('#firstDate').val(ymd);
				}else{
					alert('숫자 이외의 값은 입력하실 수 없습니다.');
					$('#firstDate').val('');
				}
			}
		};
		
		/********종료일********/
		function secondDateKey(){
			if(event.keyCode != 8){
				if($('#secondDate').val().replace(/[0-9 \-]/g, "").length == 0){
					var ymd = '';
					var secondDateValue = $('#secondDate').val().replace(/[^0-9]/g,'');
					var secondDateLength = secondDateValue.length;
					if(secondDateLength < 4){
						return 	;
					}else if(secondDateLength < 6){
						ymd += secondDateValue.substr(0, 4);
						ymd += '-';
						ymd += secondDateValue.substr(4);
					}else{
						ymd += secondDateValue.substr(0, 4);
						ymd += '-';
						ymd += secondDateValue.substr(4, 2);
						ymd += '-';
						ymd += secondDateValue.substr(6);
					}
					$('#secondDate').val(ymd);
				}else{
					alert('숫자 이외의 값은 입력하실 수 없습니다.');
					$('#secondDate').val('');
				}
			}
		};
	</script>
</th:block>
</html>
	