<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment"></head>

<style>
html,body {
  height: 100%;
}
</style>

<body>
<th:block layout:fragment="container">
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="jumbotron">
					<h1 class="display-4 text-primary">WMS기반 풀필먼트 물류통합관리 시스템</h1>
					<p class="lead">
					안녕하세요. 한국 스마트 정보교육원 39기 2TEAM 입니다. 2021년 코로나로 인한 비대면 , 비 접촉 사회적 거리두기가 대두되면서 온라인을 통한 쇼핑의 수요가 급증가 하였습니다. 이에따른 물류센터 수요 급증 으로 저희팀은 물류센터를 웹사이트기반으로 효율적으로 관리할수있는 웹 애플리케이션을 제작하였습니다.
					</p>
					팀원: 강준&nbsp;고병윤&nbsp;백종민&nbsp;김동욱&nbsp;박수현&nbsp;최상범<br/>
					개발환경:<br/>
					OS: windows10<br/>
					WAS: apache-tomcat-9.0.1<br/>
					개발언어: java / javascript / html5 / css /  thymeleaf / jquery / ajax<br/>
					Framework: springframework / mybatis / bootstrap<br/>
					DBMS: mariaDB<br/>
					Tools: Spring Tool Suite, Eclips / GitHub, HeidiSQL 10.1.0<br/>
					<br/>
					<a type="button" style="margin:8px" class="btn btn-outline-secondary" href="https://github.com/jun111haha/teamproject.git" target="_blank">github주소</a>
					<a type="button" style="margin:8px" class="btn btn-outline-secondary" href="https://drive.google.com/file/d/1kaVpJTJu1e9OTI1Ye1jeYgXn8WdMValD/view?usp=sharing" target="_blank">2팀 개발문서</a>
					<a type="button" style="margin:8px" class="btn btn-outline-secondary" href="https://drive.google.com/file/d/1r6xq1a82dF-6tLyJPBxGjmPiNhfUadmz/view?usp=sharing" target="_blank">2팀 완료보고서</a><br/>
                    <a th:href="@{/memberlogin}" type="submit" style="margin:8px" class="btn btn-outline-info">로그인 페이지이동</a>
                    <a th:href="@{/adminsignup}" type="submit" style="margin:8px" class="btn btn-outline-info">직원 회원가입</a>
	                <a th:href="@{/accountsignup}" type="submit" style="margin:8px" class="btn btn-outline-info">회원 회원가입</a>
                    <a th:href="@{/shop/sample}" type="submit" style="margin:8px" class="btn btn-outline-info">SHOP페이지이동</a>
                    <a th:href="@{/guest}" type="submit" style="margin:8px" class="btn btn-outline-info">견적신청 및 단가확인</a>
				</div>
			</div>
    </div> <!-- END OF ROW -->
</div>
</th:block>
</body>
</html>