<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">contract</li>
		<li class="breadcrumb-item active">contractApproval</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<div class="main-container">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="table-container">
					<div class="t-header">계약 및 	권한 승인 페이지</div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
							<thead>
								<tr>
								  <th>최종계약코드</th>
								  <!-- <th>계약단가표코드</th> -->
								  <th>계약이름</th>
								  <th>계약시작일</th>
								  <th>계약종료일</th>
								  <th>계약창고종류</th>
								  <th>구역개수</th>
								  <th>품목이름</th>
								  <th>계약수량</th>
								  <th>계약금액</th>
								  <th>쇼핑몰사업자아이디</th>
								  <th>등록일자</th>
								  <th>등록담당자</th>
								  <th>메모</th>
								  <th>승인</th>
								  <th>취소</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="l: ${contractList}">
									<td th:text="${l.contractFinalCode}" 			id="contractFinalCodeData"></td>
									<td th:text="${l.contractFinalPriceCode}"		id="contractFinalPriceCodeData" 	style="display: none;"></td>
									<td th:text="${l.contractFinalPriceName}" 		id="contractFinalPriceNameData"></td>
									<td th:text="${l.contractFinalStart}"	 		id="contractFinalStartData"></td>
									<td th:text="${l.contractFinalEnd}" 			id="contractFinalEndData"></td>
									<td th:text="${l.contractFinalWarehouseType}"	id="contractFinalWarehouseTypeData"></td>
									<td th:text="${l.contractFinalZone}" 			id="contractFinalZoneData"></td>
									<td th:text="${l.contractFinalProductName}" 	id="contractFinalProductNameData"></td>
									<td th:text="${l.contractFinalQuantity}" 		id="contractFinalQuantityData"></td>
									<td th:text="${l.contractFinalPay}" 			id="contractFinalPayData"></td>
									<td th:text="${l.contractFinalUser}" 			id="contractFinalUserData"></td>
									<td th:text="${l.contractFinalRegDay}" 			id="contractFinalRegDayData"></td>
									<td th:text="${l.contractFinalMember}" 			id="contractFinalMemberData"></td>
									<td th:text="${l.contractFinalMemo}" 			id="contractFinalMemoData"></td>
									<td>
										<a type="button" class="btn btn-primary Btn" data-toggle="modal" data-target=".bd-example-modal-lg1" id="updateModal" style="color: white;">승인</a>
									</td>
									<td>
										<a type="button" class="btn btn-primary Btn" data-toggle="modal" data-target=".bd-example-modal-lg2" id="cancelModal" style="color: white;">취소</a>
									</td>
								</tr>									
							</tbody>
			    		</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 상세정보 및 승인 Modal 폼 시작 -->
	<form th:action="@{/contractApproval}" method="post">
		<div class="modal fade bd-example-modal-lg1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myLargeModalLabel">권한승인</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="contractFinalCodeDataModal">최종계약코드</label>
							<input class="form-control" id="contractFinalCodeDataModal" name="contractFinalCode" readonly="readonly"/>	
						</div>	
						<div class="form-group">
							<label for="contractFinalPriceNameDataModal">계약이름</label>	
							<input class="form-control" id="contractFinalPriceNameDataModal" name="contractFinalPriceName" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalStartDataModal">계약시작일</label>	
							<input class="form-control" id="contractFinalStartDataModal" name="contractFinalStart" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalEndDataModal">계약종료일</label>	
							<input class="form-control" id="contractFinalEndDataModal" name="contractFinalEnd" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalWarehouseTypeDataModal">계약창고종류</label>	
							<input class="form-control" id="contractFinalWarehouseTypeDataModal" name="contractFinalWarehouseType" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalZoneDataModal">구역개수</label>
							<input class="form-control" id="contractFinalZoneDataModal" name="contractFinalZone" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalProductNameDataModal">품목이름</label>
							<input class="form-control" id="contractFinalProductNameDataModal" name="contractFinalProductName" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalQuantityDataModal">계약수량</label>
							<input class="form-control" id="contractFinalQuantityDataModal" name="contractFinalQuantity" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalPayDataModal">계약금액</label>
							<input class="form-control" id="contractFinalPayDataModal" name="contractFinalMemoData" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalUserDataModal">쇼핑몰 사업자 아이디</label>
							<input class="form-control" id="contractFinalUserDataModal" name="contractFinalUserData" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalRegDayDataModal">등록일자</label>
							<input class="form-control" id="contractFinalRegDayDataModal" name="contractFinalRegDayData" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalMemberDataModal">등록 담당자</label>
							<input class="form-control" id="contractFinalMemberDataModal" name="contractFinalMemberData" readonly="readonly"/>
						</div>
						<div class="form-group">
							<label for="contractFinalMemoDataModal">메모</label>
							<input class="form-control" id="contractFinalMemoDataModal" name=contractFinalMemoData />
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal">돌아가기</button>
						<button type="submit" name="submit"  class="btn btn-primary">승인</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- 상세정보 및 승인 Modal 폼 종료 -->
	
</th:block>

<th:block layout:fragment="customJs">
	<script>
		
		<!-- 상세정보 및 승인 Modal 시작 -->
		$('.Btn').each(function(){
			$(this).click(function(){
				var contractFinalCodeData 			= $(this).parents('tr').children('#contractFinalCodeData').text();
				var contractFinalPriceNameData		= $(this).parents('tr').children('#contractFinalPriceNameData').text();
				var contractFinalStartData 			= $(this).parents('tr').children('#contractFinalStartData').text();
				var contractFinalEndData 			= $(this).parents('tr').children('#contractFinalEndData').text();
				var contractFinalWarehouseTypeData 	= $(this).parents('tr').children('#contractFinalWarehouseTypeData').text();
				var contractFinalZoneData 			= $(this).parents('tr').children('#contractFinalZoneData').text();
				var contractFinalProductNameData 	= $(this).parents('tr').children('#contractFinalProductNameData').text();
				var contractFinalQuantityData 		= $(this).parents('tr').children('#contractFinalQuantityData').text();
				var contractFinalPayData 			= $(this).parents('tr').children('#contractFinalPayData').text();
				var contractFinalUserData 			= $(this).parents('tr').children('#contractFinalUserData').text();
				var contractFinalRegDayData 		= $(this).parents('tr').children('#contractFinalRegDayData').text();
				var contractFinalMemberData 		= $(this).parents('tr').children('#contractFinalMemberData').text();
				var contractFinalMemoData 			= $(this).parents('tr').children('#contractFinalMemoData').text();

				
				
				$('#contractFinalCodeDataModal').val(contractFinalCodeData);
				$('#contractFinalPriceNameDataModal').val(contractFinalPriceNameData);
				$('#contractFinalStartDataModal').val(contractFinalStartData);
				$('#contractFinalEndDataModal').val(contractFinalEndData);
				$('#contractFinalWarehouseTypeDataModal').val(contractFinalWarehouseTypeData);
				$('#contractFinalZoneDataModal').val(contractFinalZoneData);
				$('#contractFinalProductNameDataModal').val(contractFinalProductNameData);
				$('#contractFinalQuantityDataModal').val(contractFinalQuantityData);
				$('#contractFinalPayDataModal').val(contractFinalPayData);
				$('#contractFinalUserDataModal').val(contractFinalUserData);
				$('#contractFinalRegDayDataModal').val(contractFinalRegDayData);
				$('#contractFinalMemberDataModal').val(contractFinalMemberData);
				$('#contractFinalMemoDataModal').val(contractFinalMemoData);
				
			})
		});
		<!-- 상세정보 및 승인 Modal 종료 -->
	</script>
</th:block>
		
</html>