<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">contract</li>
		<li class="breadcrumb-item active">contractList</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<div class="main-container">
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<div class="table-container">
					<div class="t-header">거래처 조회</div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
							<thead>
								<tr>
								  <th>아이디</th>
								  <th>거래처명</th>
								  <th>담당자명</th>
								  <th>주소</th>
								  <th>이메일</th>
								  <th>사업자 번호</th>
								  <th>거래상품</th>
								  <th>은행</th>
								  <th>계좌번호</th>
								  <th>가입일</th>
								</tr>
								
							</thead>
							<tbody>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$20</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>age Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>test Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
								<tr>
								  <td>Tiger Nixon</td>
								  <td>System Architect</td>
								  <td>Edinburgh</td>
								  <td>61</td>
								  <td>2011/04/25</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								  <td>$320,800</td>
								</tr>
							</tbody>
			    	</table>
					</div>
				</div>
			
			</div>
		</div>
	</div>

</th:block>
		
</html>