<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

	
	<div class="card-body" th:fragment="searchYear">
		<form th:action="@{/contractApproval}" method="get" id="searchYear">
			<select id="contractApprovalDate" name="contractApprovalDate">
				<option  value=""> :: 기간을 선택해주세요 :: </option>
				<option  value="2021"> 2021년 </option>
				<option  value="2020"> 2020년 </option>
				<option  value="2019"> 2019년 </option>
				<option  value="2018"> 2018년 </option>
			</select>
		</form>
	</div>
	
</html>
