<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">Member</li>
		<li class="breadcrumb-item active">Withdrawal</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<div class="main-container">

					<!-- Row start -->
					<div class="row gutters">
							<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
							<div class="card h-100">
								<div class="card-header">
									<div class="card-title">회원 탈퇴</div>
								</div>
								<div class="card-body">
									<div class="row gutters">
										<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
											<div class="form-group">
												<label for="fullName">아이디</label>
												<input type="text" class="form-control" id="fullName" placeholder="Enter full name">
											</div>
											<div class="form-group">
												<label for="eMail">비밀번호</label>
												<input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
											</div>
											<div class="form-group">
												<label for="eMail">비밀번호 확인</label>
												<input type="email" class="form-control" id="eMail" placeholder="Enter email ID">
											</div>
										</div>
										<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
											<div class="text-right">
												<button th:href="@{/}" type="button" id="submit" name="submit" class="btn btn-white">Cancel</button>
												<button type="button" id="submit" name="submit" class="btn btn-primary">Submit Form</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
		</div>
	</div>
						
</th:block>
		
</html>