<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe2team.dao.ContractMapper">
	
	<!-- 최종계약 조회  -->
	<select id="ContractList" resultType="Contract">
		SELECT 
			  contractFinal.contract_final_code				AS contractFinalCode
			, contractFinal.unit_price_code					AS contractFinalPriceCode
			, contractFinal.unit_price_final_name			AS contractFinalPriceName
			, contractFinal.contract_final_start			AS contractFinalStart
			, contractFinal.contract_final_end				AS contractFinalEnd
			, contractFinal.contract_final_warehouse_type	AS contractFinalWarehouseType
			, contractFinal.contract_final_zone				AS contractFinalZone
			, contractFinal.contract_final_position			AS contractFinalPosition
			, contractFinal.product_code					AS contractFinalProduct 
			, contractFinal.contract_final_product_name		AS contractFinalProductName
			, contractFinal.contract_final_quantity			AS contractFinalQuantity
			, contractFinal.contract_final_pay				AS contractFinalPay
			, shoppingmallUser.shoppingmall_user_id			AS contractFinalUser
			, contractFinal.contract_final_reg_date			AS contractFinalRegDay
			, memberId.member_id							AS contractFinalMember
			, contractFinal.contract_final_memo				AS contractFinalMemo
		FROM 												
			tb_contract_final 								AS contractFinal			
		INNER JOIN 
			tb_shoppingmall_user 							AS shoppingmallUser
		ON
			contractFinal.shoppingmall_user_id = shoppingmallUser.shoppingmall_user_id
		INNER JOIN 
			tb_member										AS memberId
		ON
			contractFinal.member_id = memberId.member_id;
	</select>
	
	<!-- 계약 등록  -->
	<insert id="ContractAdd" parameterType="String">
		<selectKey keyColumn="contractFinalCode" keyProperty="contractFinalCode" resultType="String" order="BEFORE">
			SELECT CONCAT('conf_0',MAX(SUBSTRING(contract_final_code,6))+1) FROM tb_contract_final
		</selectKey>
		INSERT INTO tb_contract_final
			( contract_final_code
			, unit_price_code
			, unit_price_final_name
			, contract_final_start
			, contract_final_end
			, contract_final_warehouse_type
			, contract_final_zone
			, contract_final_product_name
			, contract_final_quantity
			, contract_final_pay
			, shoppingmall_user_id
			, contract_final_reg_date
			, member_id
			, contract_final_memo
		)VALUES (
			  #{contractFinalCode}
			, #{priceCode}
			, #{priceName}
			, #{contractFinalStart}
			, #{contractFinalEnd}
			, #{wareHouseType}
			, #{priceZone}
			, #{contractFinalProductName}
			, #{contractFinalQuantity}
			, #{pricePrice}
			, #{contractFinalUser}
			, NOW()
			, #{contractFinalMember}
			, #{contractFinalMemo} )
	</insert>
	
	<!-- 계약 월별 창고종류 조회부분 -->
	<select id="barGraph" resultType="Contract">
		SELECT 
			  count(case when contract_final_warehouse_type = '일반창고' then 1 end) AS '일반' 
			, count(case when contract_final_warehouse_type = '냉장창고' then 1 end) AS '냉장' 
			, count(case when contract_final_warehouse_type = '냉동창고' then 1 end) AS '냉동' 
			, DATE_FORMAT(e.contract_final_reg_date_approval,'%m') as MONTH 
		FROM 
			tb_contract_final as e
		where YEAR(e.contract_final_reg_date_approval) = 2021
		group by MONTH;
	</select>
	
</mapper>