<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">매출관리</li>
		<li class="breadcrumb-item active">매출현황</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
	<div class="main-container">
		<!-- Row start -->
		<!-- 매출현황 그래프 시작-->
		<div class="row gutters">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">매출 현황 그래프</div>
					</div>
					<div class="card-body">
						<div id="basic-area-graph2" class="primary-graph"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 매출현황 그래프 끝 -->
		<!-- Row end -->
			
		<!-- 매출현황 리스트 시작 -->
		<div class="table-container">
			<div class="t-header">매출 현황 리스트</div>
			<div class="table-responsive">
				<table id="copy-print-csv" class="table custom-table">
					<thead>
						<tr>
							<th>
								<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
							</th>
							<th>최종계약코드</th>
							<th>단가표코드</th>
							<th>계약명</th>
							<th>시작일</th>
							<th>종료일</th>
							<th>수량</th>
							<th>금액</th>
							<th>쇼핑몰아이디</th>
							<th>쇼핑몰명</th>
							<th>보관유형</th>
							<th>계약상태</th>
							<th>메모</th>
							<th>수정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(salesList)>0}" th:each="l : ${salesList}">
							<td>
								<input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" th:value="${l.contractFinalCode}">
							</td>
							<td th:text="${l.contractFinalCode}"></td>
							<td th:text="${l.contractFinalPriceCode}"></td>
							<td th:text="${l.contractFinalPriceName}"></td>
							<td th:text="${l.contractFinalStart}"></td>
							<td th:text="${l.contractFinalEnd}"></td>
							<td th:text="${l.contractFinalQuantity}"></td>
							<td th:text="${l.contractFinalPay}"></td>
							<td th:text="${l.contractFinalUser}"></td>
							<td th:text="${l.contractFinalUserName}"></td>
							<td th:text="${l.contractFinalWarehouseType}"></td>
							<td th:text="${l.contractState}"></td>
							<td th:text="${l.contractStateMemo}"></td>
							<td>
								<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 매출현황 리스트 끝 -->
	<!-- Main container end -->

</th:block>
<th:block layout:fragment="customJs">
	<script th:inline="javascript">

	
		/*<![CDATA[*/
		var result =/*[[${salesList}]]*/;
		/*]]>*/
		
		
		
	 	var seriesData = [];
		var sumData = {"price":[],"dates":[]};
		for(var i = 0;i<result.length;i++){
			seriesData[i] = {"price":parseInt([result[i].contractFinalPay]),"dates":result[i].contractFinalStart}
			for(var j = i+1;j<seriesData.length;j++){
				if(seriesData[i].dates.equals(seriesData[j].dates)){
					seriesData[i].price +=seriesData[j].price;
					seriesData[j].price.remove();
					seriesData[j].dates.remove();
				}
			}
			
			
			sumData.price.push(seriesData[i].price);
			sumData.dates.push(seriesData[i].dates);
				
		}
			
		
		
		var options = null;
		var series = null;
				/*******************************그래프양식(?)******************************************/
		window.onload = function(){
			
	
			series = sumData;
	
			var options = {
				chart: {
					height: 300,
					type: 'area',
					zoom: {
						enabled: false
					}
				},
				dataLabels: {
					enabled: false
				},
				stroke: {
					curve: 'straight',
					width: 3,
				},
				series: [{
					name: "매출금액",
					data: series.price
				}],
				title: {
					text: '매출현황',
					align: 'center'
				},
				grid: {
					row: {
						colors: ['#ffffff'], // takes an array which will be repeated on columns
						opacity: 0.5
					},
				},
				labels: series.dates,
				xaxis: {
					type: 'datetime',
				},
				yaxis: {
					opposite: true
				},
				legend: {
					horizontalAlign: 'left'
				},
				theme: {
					monochrome: {
						enabled: true,
						color: '#225de4',
						shadeIntensity: 0.1
					},
				},
				markers: {
					size: 0,
					opacity: 0.2,
					colors: ["#225de4"],
					strokeColor: "#fff",
					strokeWidth: 2,
					hover: {
						size: 7,
					}
				},
			}
			
			var salesChart = new ApexCharts(
				document.querySelector("#basic-area-graph2"),
				options
			);
			salesChart.render();
			}
		/****************************************************************************************************/
		
			
	




		
		
	</script>
</th:block>
</html>