<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<title th:text="${title}"></title>

<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">매출관리</li>
		<li class="breadcrumb-item active">매출현황</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>

<th:block layout:fragment="container">
	<!-- Main container start -->
	<div class="main-container">
		<!-- Row start -->
		<!-- 매출현황 그래프 시작-->
		<div class="row gutters">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">#월간 매출 현황</div>
					</div>
					<div class="card-body">
						<div id="basic-column-graph-monthlySales" class="primary-graph"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- 매출현황 그래프 끝 -->
		<!-- Row end -->
			
		<!-- 매출현황 리스트 시작 -->
		<div class="table-container">
			<div class="t-header">매출 현황 리스트</div>
			<div class="table-responsive">
				<table id="copy-print-csv" class="table custom-table">
					<thead>
						<tr>
							<th>
								<input type="checkbox" id="checkAll" style="position: relative; top: 1.5px;">
							</th>
							<th>최종계약코드</th>
							<th>단가표코드</th>
							<th>계약명</th>
							<th>시작일</th>
							<th>종료일</th>
							<th>수량</th>
							<th>금액</th>
							<th>쇼핑몰</th>
							<th>보관유형</th>
							<th>계약상태</th>
							<th>메모</th>
							<th>수정</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(salesList)>0}" th:each="l : ${salesList}">
							<td>
								<input type="checkbox" class="checkOne" style="position: relative; top: 1.5px;" th:value="${l.contractFinalCode}">
							</td>
							<td th:text="${l.contractFinalCode}"></td>
							<td th:text="${l.contractFinalPriceCode}"></td>
							<td th:text="${l.contractFinalPriceName}"></td>
							<td th:text="${l.contractFinalStart}"></td>
							<td th:text="${l.contractFinalEnd}"></td>
							<td th:text="${l.contractFinalQuantity}"></td>
							<td th:text="${l.contractFinalPay}"></td>
							<td th:text="${l.contractFinalUser}"></td>
							<td th:text="${l.contractFinalWarehouseType}"></td>
							<td th:text="${l.contractState}"></td>
							<td th:text="${l.contractStateMemo}"></td>
							<td>
								<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- 매출현황 리스트 끝 -->
	<!-- Main container end -->
	<form th:action="@{/modifyProduct}" method="post">
		<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="myLargeModalLabel">수정하기</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<input type="text" class="form-control" name="productCode" id="productCode">
						<label for="productNameModal">상품명</label>	
							<input type="text" class="form-control" id="productNameModal" name="productName" >
						<div class="form-group">
							<label for="itemBigCategoryModal">대분류 선택</label>	
							<select class="form-control" id="itemBigCategoryModal" name="itemBigCategory">
								<option value="">대분류를 선택해주세요</option>
							    <option th:each="b : ${BigCategory}" th:value="${b.itemBigCategory}" th:text="${b.itemBigCategory}" ></option>
							</select>
						</div>	
						<div class="form-group">
							<label for="itemMiddleCategoryModal">중분류 선택</label>	
							<select class="form-control" id="itemMiddleCategoryModal" name="itemMiddleCategory">
								<option value="">중분류를 선택해주세요</option>
							</select>
						</div>
						<div class="form-group">
							<label for="productCategoryModal">소분류</label>	
							<select class="form-control" id="productCategoryModal" name="productCategory">
								<option value="">소분류를 선택해주세요</option>
							</select>
						</div>
						<label for="productAddCategoryModal">추가분류</label>	
						<input type="text" class="form-control" id="productAddCategoryModal" name="productAddCategory" >
						<div class="form-group">
							<label for="productFreezeCoolConditionModal">보관유형</label>	
							<select class="form-control" id="productFreezeCoolConditionModal" name="productFreezeCoolCondition">
								<option value="">보관유형을 선택해주세요</option>
								<option value="상온" >상온</option>
								<option value="냉장" >냉장</option>
								<option value="냉동" >냉동</option>
							</select>
						</div>
						<label for="productWeightModal">상품무게</label>	
							<input type="text" class="form-control" id="productWeightModal" name="productName" >
						<div class="form-group">
							<label for="productWeightUnitModal">무게단위</label>	
							<select class="form-control" id="productWeightUnitModal" name="productWeightUnit">
								<option value="">보관유형을 선택해주세요</option>
								<option value="ton" >ton</option>
								<option value="kg" >kg</option>
								<option value="g" >g</option>
							</select>
						</div>
						<div class="custom-date-input">
							<label for="productDateOfManufactureModal">제조일자</label>	
							<input type="text" class="form-control datepicker-dropdowns" id="productDateOfManufactureModal" name="productDateOfManufacture" >
						</div>
						<div class="custom-date-input">
							<label for="productExpirationDateModal">유통기한</label>	
							<input type="text" class="form-control datepicker-dropdowns" id="productExpirationDateModal" name="productExpirationDate" >
						</div>
						
						<div class="form-group">
							<label for="productDetailModal">상세설명</label>
							<textarea class="form-control" id="productDetailModal" maxlength="140" rows="4" name="productDetail" ></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" data-dismiss="modal">취소</button>
						<button type="submit" name="submit"  class="btn btn-primary">수정</button>
					</div>
				</div>
			</div>
		</div>
	</form>			
</th:block>
		
</html>