<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
<th:block layout:fragment="pageTitle">
<div class="page-header">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">재무관리</li>
		<li class="breadcrumb-item active">지출내역조회</li>
	</ol>

	<ul class="app-actions">
		<li>
			<a href="#" id="reportrange">
				<span class="range-text"></span>
				<i class="icon-chevron-down"></i>	
			</a>
		</li>
		<li>
			<a href="#">
				<i class="icon-export"></i>
			</a>
		</li>
	</ul>
</div>
</th:block>
<th:block layout:fragment="container">
<div class="main-container">
	<div class="row gutters">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">	
							<div class="card">
								<div class="card-header">
									<div class="card-title">
									<select id ="year">
										<option value=""> :: 선택 :: </option>
										<option value="2018">2018년</option>
										<option value="2019">2019년</option>
										<option value="2020">2020년</option>
										<option value="2021">2021년</option>
										<option value="2022">2022년</option>
									</select>
									 지출현황(그래프)</div>
								</div>
								<div class="card-body">
									<div id="basic-column-stack-graph-fullheight2" class="primary-graph"></div>
								</div>
							</div>
						</div>
				
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
						<div class="table-container">
							<div class="t-header">21년 지출현황(표)</div>
								<div class="table-responsive">
									<table id="copy-print-csv" class="table custom-table">
										<thead>
											<tr>
												<th>
									  			<input type="checkbox" id="expenseAll" style="position: relative; top: 1.5px;">
									  			</th>
												<th>지출코드</th>
												<th>지출내역</th>
												<th>지출날짜</th>
												<th>현금카드</th>
												<th>카드정보</th>
												<th>매장명</th>
												<th>종류</th>
												<th>금액</th>
												<th>등록자</th>
												<th>등록일</th>
												<th>수정</th>
											</tr>
										</thead>
										<tbody id="expenseData">
											<tr th:each="L :${expenditureList}">
											    <td>
								  	  			<input type="checkbox" class="expenseOne" style="position: relative; top: 1.5px;" th:value="${L.expenseCode}">
									  			</td>
												<td th:text ="${L.expenseCode}" id="expenseCodeData"></td>
												<td th:text ="${L.expenseInfo}" id="expenseInfoData"></td>
												<td th:text ="${L.expenseDate}" id="expenseDateData"></td>
												<td th:text ="${L.expenseCashCard}" id="expenseCashCardData"></td>
												<td th:text ="${L.expenseCardInfo}" id="expenseCardInfoData"></td>
												<td th:text ="${L.expenseStore}" id="expenseStoreData"></td>
												<td th:text ="${L.expenseCate}" id="expenseCateData"></td>
												<td th:text ="${L.expensePayment}" id="expensePaymentData"></td>
												<td th:text ="${L.wareadminId}" id="wareadminIdData"></td>
												<td th:text ="${L.expensRegDate}" id="expensRegDateData"></td>
												<td>
												<a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a>
												</td>
											</tr>
										</tbody>
									</table>
								<button type="button" class="btn btn-primary float-right" onclick="deleteDate();">삭제</button>
							</div>
						</div>
					</div>
	</div>
</div>

<form th:action="@{/modifyExpenditure}" method="post" id="modifyExpenInfo">
			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="myLargeModalLabel">수정하기</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="expenseCodeModal">지출코드</label>	
								<input type="text" class="form-control" name="expenseCode" placeholder="지출코드을 입력해주세요."  id="expenseCodeModal" required="required" readonly="readonly">						
							</div>
							<div class="form-group">
								<label for="expenseInfoModal">지출내역</label>	
								<input type="text" class="form-control" name="expenseInfo" placeholder="지출내역을 입력해주세요."  id="expenseInfoModal" required="required">						
							</div>
							
							<div class="form-group">
								<label for="expenseDateModal">지출날짜</label>	
								<input type="text" class="form-control datepicker-dropdowns" name="expenseDate" placeholder="지출날짜를 입력해주세요"  id="expenseDateModal" required="required">						
							</div>
							
							<div class="form-group">
							<label for="expenseCashCardModal">현금/카드</label>	
							<select class="form-control" id="expenseCashCardModal" name="expenseCashCard" required="required">
						    	<option value="현금">현금</option>
						    	<option value="카드">카드</option>
							</select>
							</div>
							
							<div class="form-group">
								<label for="expenseCardInfoModal">카드정보</label>	
								<input type="text" class="form-control" name="expenseCardInfo" placeholder="카드정보를 입력해주세요"  id="expenseCardInfoModal" required="required">						
							</div>
							
							<div class="form-group">
								<label for="expenseCardInfoModal">매장명</label>	
								<input type="text" class="form-control" name="expenseStore" placeholder="매장명 입력해주세요"  id="expenseStoreModal" required="required">						
							</div>
							
							<label for="expenseCateModal">지출종류</label>
							<div class="form-group">
								<input type="text" class="form-control" name="expenseCate" placeholder="지출종류를 입력해주세요."  id="expenseCateModal" required="required">
							</div>
							
							<label for="expensePaymentModal">지출금액</label>
							<div class="form-group">
								<input type="number" class="form-control" id="expen	sePaymentModal" name="expensePayment" placeholder="지출금액을 입력해주세요." >
							</div>
							
							<input type="text" style="display: none;" id="wareadminIdModal" name="wareadminId">
							<input type="text" style="display: none;" id="expensRegDateModal" name="expensRegDate">
							
						<div class="modal-footer">
							<button class="btn btn-secondary" data-dismiss="modal">취소</button>
							<button type="submit" name="submit"  class="btn btn-primary" id="submitDone">수정</button>
						</div>
					</div>
				</div>
			</div>
		</div>
</form>			
</th:block>

<th:block layout:fragment="customJs">
	<script>
	/***********************************************수정처리 **************************************************/

	var fn_modifyDetail = function modifyDetail(){
		$('.modifyBtn').each(function(){
			$(this).click(function(){
				var expenseCodeData = $(this).parents('tr').children('#expenseCodeData').text();
				var expenseInfoData = $(this).parents('tr').children('#expenseInfoData').text();
				var expenseDateData = $(this).parents('tr').children('#expenseDateData').text();
				var expenseCashCardData = $(this).parents('tr').children('#expenseCashCardData').text();
				var expenseCardInfoData = $(this).parents('tr').children('#expenseCardInfoData').text();
				var expenseStoreData = $(this).parents('tr').children('#expenseStoreData').text();
				var expenseCateData = $(this).parents('tr').children('#expenseCateData').text();
				var expensePaymentData = $(this).parents('tr').children('#expensePaymentData').text();
				var wareadminIdData = $(this).parents('tr').children('#wareadminIdData').text();
				var expensRegDateData = $(this).parents('tr').children('#expensRegDateData').text();
				
				var cahsCardSelected = $('#expenseCashCardModal option:contains(' + expenseCashCardData + ')').val();
			
				
				$('#expenseCodeModal').val(expenseCodeData);
				$('#expenseInfoModal').val(expenseInfoData);
				$('#expenseDateModal').val(expenseDateData);
				$('#expenseCashCardModal').val(cahsCardSelected);
				$('#expenseCardInfoModal').val(expenseCardInfoData);
				$('#expenseStoreModal').val(expenseStoreData);
				$('#expenseCateModal').val(expenseCateData);
				$('#expensePaymentModal').val(expensePaymentData);
				$('#wareadminIdModal').val(wareadminIdData);
				$('#expensRegDateModal').val(expensRegDateData);
	
			})
		})
	};	
	fn_modifyDetail();
	/***********************************************수정처리 유효성검사 **************************************************/

	$('#submitDone').click(function(){
		var modifyExpenInfo = $('#modifyExpenInfo');
		var submitFlag = true;
	
		
		if($('#expenseInfoModal').val() == null || $('#expenseInfoModal').val() == '' || $('#expenseInfoModal').val() == undefined){
			alert('지출정보를 입력해주세요.');
			submitFlag = false;
			$('#expenseInfoModal').focus();
			return submitFlag;
		}else if($('#expenseDateModal').val() == null || $('#expenseDateModal').val() == '' || $('#expenseDateModal').val() == undefined){
			alert('지출날짜를 입력해주세요.');
			submitFlag = false;
			$('#expenseDateModal').focus();
			return submitFlag;
		}else if($('#expenseCashCardModal').val() == null || $('#expenseCashCardModal').val() == '' || $('#expenseCashCardModal').val() == undefined){
			alert('현금/카드를 선택해주세요.');
			submitFlag = false;
			$('#expenseCashCardModal').focus();
			return submitFlag;
		}else if($('#expenseCardInfoModal').val() == null || $('#expenseCardInfoModal').val() == '' || $('#expenseCardInfoModal').val() == undefined){
			alert('카드정보를 입력해주세요.');
			submitFlag = false;
			$('#expenseCardInfoModal').focus();
			return submitFlag;
		}else if($('#expenseStoreModal').val() == null || $('#expenseStoreModal').val() == '' || $('#expenseStoreModal').val() == undefined){
			alert('매장명을 입력해주세요.');
			submitFlag = false;
			$('#expenseStoreModal').focus();
			return submitFlag;
		}else if($('#expenseCateModal').val() == null || $('#expenseCateModal').val() == '' || $('#expenseCateModal').val() == undefined){
			alert('지출종류를 입력해주세요.');
			submitFlag = false;
			$('#expenseCateModal').focus();
			return submitFlag;
		}else if($('#expensePaymentModal').val() == null || $('#expensePaymentModal').val() == '' || $('#expensePaymentModal').val() == undefined){
			alert('지출금액을 입력해주세요.');
			submitFlag = false;
			$('#expensePaymentModal').focus();
			return submitFlag;
		}
		if(submitFlag){
			$('#modifyExpenInfo').submit(function(){
				alert('지출내역수정이 완료되었습니다.');
			});
		}
	});
	</script>
	
	
	<script th:inline="javascript">
	var options = null;
	/***********************************************그래프 양식**************************************************/
	window.onload = function(){
		
	options = {
		  chart:	 	{
		    				height: 350,
		    				type: 'bar',
		    				stacked: true,
		    				stackType: '100%',
		   					toolbar: {
		      				show: false
		    				},
		    				zoom: {
		      				enabled: true
		    				}
		  				},
		 responsive: 	[{
		    				breakpoint: 480,
		    				options: {
		      				legend: {
		        			position: 'bottom',
		        			offsetX: -10,
		        			offsetY: 0
		     			    }
		    			}
		  				}],
		plotOptions: 	{
		    				bar: {
		      				horizontal: false,
		    				},
		  				},
		dataLabels: 	{
		    				enabled: true
		  				},
		  
		series: 		[
// 							{
// 								NAME : '',
// 								DATA : []
// 							},
// 							{
// 								NAME : '',
// 								DATA : []
// 							}
						],
		  xaxis: 		{
						    type: 'datetime',
						    categories: ['01/01/2021 gmt', '02/01/2021 GMT', '03/01/2021 GMT', '04/01/2021 GMT', '05/01/2021 GMT', '06/01/2021 GMT'
						    			,'07/01/2021 GMT', '08/01/2021 GMT', '09/01/2021 GMT', '10/01/2021 GMT', '11/01/2021 GMT', '12/01/2021 GMT','01/01/2022 GMT'],
				  		},
		  legend: 		{
						    position: 'top',
						    offsetY: 10
		  				},
		  fill: 		{
						    opacity: 1
						},
		  colors: 		['#FE2E2E', '#2EFE64', '#DA81F5', '#81F7F3','#6E6E6E','#0B4C5F','#886A08','#3B0B0B',
			  			'#240B3B', '#240B3B', '#FFFFFF', '#FAAC58'],
				}
	
	
	options.series = SeriesData;
		var chart2 = new ApexCharts(
		  document.querySelector("#basic-column-stack-graph-fullheight2"),
		  options
		);
		chart2.render();
	}//fn onload end
	
	/*******************************************그래프 데이터처리 *****************************************************************/
		/*<![CDATA[*/
		var result =/*[[${expenditureList}]]*/;
		/*]]>*/
 	
		var resultExpenCate =[];
		var dupleExpenCate =[];
			for(var i=0; i<result.length; i++){
				resultExpenCate[i] = result[i].expenseCate;
				if (dupleExpenCate.indexOf(resultExpenCate[i]) === -1) dupleExpenCate.push(resultExpenCate[i]);
				
			}
			
		var SeriesData= [];
		
		// data가 12달의 금액이 들어가는 배열이기때문에 배열의 길이를 12개로 초기화시킴
		for(var i=0; i<dupleExpenCate.length; i++){
			SeriesData[i] = {name : dupleExpenCate[i], data:[] };
			SeriesData[i].data = new Array(12);
		}
		
		
		for(var i=0; i<result.length; i++){
			for(var j=0; j<SeriesData.length; j++){
					
				var resultCateName = result[i].expenseCate;
				var seriesCateName = SeriesData[j].name;
				if(resultCateName == seriesCateName){
					 var date = new Date(result[i].expenseDate);
					 var m = date.getMonth();

					 if(SeriesData[j].data[m] === undefined){
						 SeriesData[j].data[m] = 0;
					 }
					 SeriesData[j].data[m] += parseInt(result[i].expensePayment);
				}
			}
		}
		
		for(var i = 0; i < SeriesData.length; i++){
			for(var j = 0; j < SeriesData[i].data.length; j++){
				if(SeriesData[i].data[j] === undefined){
					SeriesData[i].data[j] = 0;
				}
			}
		}
		/***********************************************삭제처리 **************************************************/
		$(function(){
			$('#expenseAll').click(function(){
				if($('#expenseAll').prop('checked')){
					$('.expenseOne').prop('checked', true);
				}else{
					$('.expenseOne').prop('checked', false);
				}
			})
		});
		function deleteDate(){
			var dataArr = new Array();
			var list = $('.expenseOne');
			for(var i=0; i<list.length; i++){
				if(list[i].checked){
					dataArr.push(list[i].value);
				}
			}
			if(dataArr.length == 0){
				alert('삭제할 항목을 선택해주세요.');
			}
			else{
				var chk = confirm('정말 삭제하시겠습니까?');
				if(chk){
					$.ajax({
						url : "/deleteExpenditure",
						method : 'post',
						async : true,
						dataType : "json",
						data : {'dataArr':dataArr},
						success: function(jdata){
							if(jdata > 0){
								alert('삭제 되었습니다.');
								location.replace("expenditure");
							}else{
								alert('오류 : 삭제 실패');
							}
						}
			    	});
				}else{
					return false;
				}
			}
		}
		/*****************************연도 셀렉트박스에 따른 동적처리***************************************/
		
		var yearSelect = document.getElementById('year');
		var yearSelected="";
		
			yearSelect.addEventListener('change', function(){
				yearSelected = yearSelect.value;
				
				getData()
			});
		
		
		function getData(){
			$.ajax({
				url : "/getExpenseYear",
				data : { expenditure_data : yearSelected},
				
				success : function(res){
					$('#expenseData').children().remove();
					
				var html = "";
				$.each(res, function( index, value) {
					
					html += '<tr>'
					html += '<td><input type="checkbox" class="expenseOne" style="position: relative; top: 1.5px;" value="'+value.expenseCode+'" /></td>';
					html += '<td id="expenseCodeData">'+value.expenseCode+'</td>'
					html += '<td id="expenseInfoData">'+value.expenseInfo+'</td>'
					html += '<td id="expenseDateData">'+value.expenseDate+'</td>'
					html += '<td id="expenseCashCardData">'+value.expenseCashCard+'</td>'
					html += '<td id="expenseCardInfoData">'+value.expenseCardInfo+'</td>'
					html += '<td id="expenseStoreData">'+value.expenseStore+'</td>'
					html += '<td id="expenseCateData">'+value.expenseCate+'</td>'
					html += '<td id="expensePaymentData">'+value.expensePayment+'</td>'
					html += '<td id="wareadminIdData">'+value.wareadminId+'</td>'
					html += '<td id="expensRegDateData">'+value.expensRegDate+'</td>'
					html += '<td><a type="button" class="btn btn-primary modifyBtn" data-toggle="modal" data-target=".bd-example-modal-lg" id="viewModal" style="color: white;">수정</a></td>';
					html += '</tr>'
					
				});
				$('#expenseData').append(html);
				fn_modifyDetail();	
				setSelectedYearToDG();
				
// 				options.series = SeriesData;
				var chart2 = new ApexCharts(
					  document.querySelector("#basic-column-stack-graph-fullheight2"),
					  options
					);
				chart2.render();
				
				}//success end
			})	
		}
			/**************************************************그래프 연도 동적처리*********************************************************/
		
		var setSelectedYearToDG = function(){
			console.log("그래프 연도 동적처리");
			var resultExpenDate =[];
			var dupleExpenDate =[];
			var expenDate = [];
			var dupExpenDate = [];
			var uniqExpenDate = [];
			var xaxisData = [];
			
			for(var i=0; i<result.length; i++){
				resultExpenDate[i] = result[i].expenseDate;
				if (dupleExpenDate.indexOf(resultExpenDate[i]) === -1) dupleExpenDate.push(resultExpenDate[i]);
			}
			for( var i = 0; i<dupleExpenDate.length; i++){
				expenDate.push(dupleExpenDate[i].split('-'))
			}
			for(var i=0; i<expenDate.length; i++){
				dupExpenDate.push(expenDate[i][0])
			}
			var set = new Set(dupExpenDate)
			var uniqExpenDate = [...set]
			
			for(var i =0; i<uniqExpenDate.length; i++){
				if(yearSelected == uniqExpenDate[i]){
					for(var j=0; j<13; j++){
						var pre = "";
						if(j < 9){
							pre = "0"+(j+1)+"/01/";
						}else if(j < 12){
							pre = (j+1)+"/01/";
						}else {
							pre = "01/01/"
						}
						var curYear = yearSelected;
						var suf = " GMT"
						var formatted = "";
						if(j!=12){
							formatted = pre+curYear+suf;	
						}else {
							formatted = pre+( parseInt(curYear)+1 )+suf;
						}
						console.log("test : "+j)
						console.log(formatted);
						options.xaxis.categories[j] = formatted;

					}
				}
			}
		}
		setSelectedYearToDG();

		/********************************************동적처리된 연도 및 데이터로 그래프에 반영시키기****************************************************/

				
		
	</script>
</th:block>
</html>